/* ============================================================
   common.css
   ---------------------------------------------------------
   전역 설정, 공통 유틸리티 정의
   ========================================================= */

/* ==========================================================================
   1. NDS Base Style (.nds-ui)
   Description: 디자인 시스템 컨테이너 내 기본 타이포그래피 및 상속 정의
   ========================================================================== */
.nds-ui {
    color:var(--nds-color-text-font-1);
    font-size:1.6rem;
    line-height:1.5;
    font-family:var(--nds-font-base);
    letter-spacing:-0.025em;
    word-break:keep-all;
    overflow-wrap:anywhere;
    -webkit-text-size-adjust:none;
}
.nds-ui button,
.nds-ui input,
.nds-ui textarea {
    color:inherit;
    font:inherit;
    -webkit-appearance:none;
    appearance:none;
}
.nds-ui button {
    border:none;
}


/* ==========================================================================
   2. NDS Common Style
   ========================================================================== */
.nds-hide {overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0; white-space:nowrap; clip:rect(0, 0, 0, 0);}