/* ============================================================
   label.css
   ---------------------------------------------------------
   
   ========================================================= */
   
/* ============================================================
    CSS Variables (Root & Dark Mode)
    ============================================================ */

/* --- Light Mode (Default) --- */
:root {
    /* [Label - Red] */
    --nds-color-text-label-red:#D10F0F;
    --nds-color-border-label-red:#D10F0F;

    /* [Label - Orange] */
    --nds-color-text-label-orange:#D44B10;
    --nds-color-border-label-orange:#D44B10;

    /* [Label - Yellow] */
    --nds-color-text-label-yellow:#DA6F11;
    --nds-color-border-label-yellow:#DA6F11;

    /* [Label - Lightblue] */
    --nds-color-text-label-lightblue:#12A396;
    --nds-color-border-label-lightblue:#12A396;

    /* [Label - Skyblue] */
    --nds-color-text-label-skyblue:#2B9AC9;
    --nds-color-border-label-skyblue:#2B9AC9;

    /* [Label - Navy] */
    --nds-color-text-label-navy:#015AAC;
    --nds-color-border-label-navy:#015AAC;

    /* [Label - Green] */
    --nds-color-text-label-green:#19973C;
    --nds-color-border-label-green:#19973C;

    /* [Label - Blue] */
    --nds-color-text-label-blue:#2C6DD4;
    --nds-color-border-label-blue:#2C6DD4;

    /* [Label - Gray] */
    --nds-color-bg-label-gray:#F6F6F6;
    --nds-color-text-label-gray:#767676;
    --nds-color-border-label-gray:#707070;
}

/* --- Dark Mode --- */
.dark-mode {
    /* [Label - Red] */
    --nds-color-text-label-red:#E24949;
    --nds-color-border-label-red:#E24949;

    /* [Label - Orange] */
    --nds-color-text-label-orange:#DA6F11;
    --nds-color-border-label-orange:#DA6F11;

    /* [Label - Yellow] */
    --nds-color-text-label-yellow:#FF7F29;
    --nds-color-border-label-yellow:#FF7F29;

    /* [Label - Lightblue] */
    --nds-color-text-label-lightblue:#17CFBE;
    --nds-color-border-label-lightblue:#17CFBE;

    /* [Label - Skyblue] */
    --nds-color-text-label-skyblue:#57B6DE;
    --nds-color-border-label-skyblue:#57B6DE;

    /* [Label - Navy] */
    --nds-color-text-label-navy:#3F8ED6;
    --nds-color-border-label-navy:#3F8ED6;

    /* [Label - Green] */
    --nds-color-text-label-green:#3CBD61;
    --nds-color-border-label-green:#3CBD61;

    /* [Label - Blue] */
    --nds-color-text-label-blue:#66A1FF;
    --nds-color-border-label-blue:#66A1FF;

    /* [Label - Gray] */
    --nds-color-bg-label-gray:#333333;
    --nds-color-text-label-gray:#BFBFBF;
    --nds-color-border-label-gray:#B0B0B0;
}

/* ============================================================
   Component Style
   ============================================================ */

/* [Label - Base] */
.nds-label {display:inline-flex; justify-content:center; align-items:center; height:2.0rem; padding:0 0.8rem; border:1px solid transparent; border-radius:var(--nds-border-radius-4); font-weight:500; font-size:1.0rem; line-height:1; font-family:var(--nds-font-base); letter-spacing:-0.02em; vertical-align:middle; white-space:nowrap; box-sizing:border-box;}

/* [Label - Sizes] */
.nds-label.-lg {height:2.4rem; padding:0 0.8rem; font-size:1.3rem;}

/* [Label - Variant: Line] */
.nds-label[class*="line-"] {background-color:transparent;}

.nds-label.line-gray {border-color:var(--nds-color-border-label-gray); color:var(--nds-color-text-label-gray);}
.nds-label.line-red {border-color:var(--nds-color-border-label-red); color:var(--nds-color-text-label-red);}
.nds-label.line-orange {border-color:var(--nds-color-border-label-orange); color:var(--nds-color-text-label-orange);}
.nds-label.line-yellow {border-color:var(--nds-color-border-label-yellow); color:var(--nds-color-text-label-yellow);}
.nds-label.line-green {border-color:var(--nds-color-border-label-green); color:var(--nds-color-text-label-green);}
.nds-label.line-blue {border-color:var(--nds-color-border-label-blue); color:var(--nds-color-text-label-blue);}
.nds-label.line-lightblue {border-color:var(--nds-color-border-label-lightblue); color:var(--nds-color-text-label-lightblue);}
.nds-label.line-skyblue {border-color:var(--nds-color-border-label-skyblue); color:var(--nds-color-text-label-skyblue);}
.nds-label.line-navy {border-color:var(--nds-color-border-label-navy); color:var(--nds-color-text-label-navy);}


/* [Label - Variant: Fill] */
.nds-label[class*="fill-"] {color:var(--nds-color-base-white);}

.nds-label.fill-gray {border-color:var(--nds-color-bg-label-gray); background-color:var(--nds-color-bg-label-gray); color:var(--nds-color-text-label-gray);}
.nds-label.fill-red {border-color:var(--nds-color-border-label-red); background-color:var(--nds-color-border-label-red);}
.nds-label.fill-orange {border-color:var(--nds-color-border-label-orange); background-color:var(--nds-color-border-label-orange);}
.nds-label.fill-yellow {border-color:var(--nds-color-border-label-yellow); background-color:var(--nds-color-border-label-yellow);}
.nds-label.fill-green {border-color:var(--nds-color-border-label-green); background-color:var(--nds-color-border-label-green);}
.nds-label.fill-blue {border-color:var(--nds-color-border-label-blue); background-color:var(--nds-color-border-label-blue);}
.nds-label.fill-lightblue {border-color:var(--nds-color-border-label-lightblue); background-color:var(--nds-color-border-label-lightblue);}
.nds-label.fill-skyblue {border-color:var(--nds-color-border-label-skyblue); background-color:var(--nds-color-border-label-skyblue);}
.nds-label.fill-navy {border-color:var(--nds-color-border-label-navy); background-color:var(--nds-color-border-label-navy);}

/* [Label - Variant: Grade] */
/* 1(Red) -> 2(Orange) -> 3(Yellow) -> 4(Lightblue) -> 5(Skyblue) -> 6(Navy) */
.nds-label[class*="-grade"] {background-color:transparent;}

.nds-label.-grade1 {border-color:var(--nds-color-border-label-red); color:var(--nds-color-text-label-red);}
.nds-label.-grade2 {border-color:var(--nds-color-border-label-orange); color:var(--nds-color-text-label-orange);}
.nds-label.-grade3 {border-color:var(--nds-color-border-label-yellow); color:var(--nds-color-text-label-yellow);}
.nds-label.-grade4 {border-color:var(--nds-color-border-label-lightblue); color:var(--nds-color-text-label-lightblue);}
.nds-label.-grade5 {border-color:var(--nds-color-border-label-skyblue); color:var(--nds-color-text-label-skyblue);}
.nds-label.-grade6 {border-color:var(--nds-color-border-label-navy); color:var(--nds-color-text-label-navy);}

/* [Label - Variant: Text] */
.nds-label.-form {color:#505050; font-size:1.4rem; line-height:2.2rem; text-align:left;}