/* ============================================================
   process.css
   ---------------------------------------------------------
   
   ========================================================= */

/* ============================================================
    CSS Variables (Root & Dark Mode)
    ============================================================ */

/* --- Light Mode (Default) --- */
:root {
    /* [Progress Bar - Background] */
    --nds-color-bg-progress-bg:#F3F5F8;
    --nds-color-bg-progress-active:#19973C;
}

/* --- Dark Mode --- */
.dark-mode {
    /* [Progress Bar - Background] */
    --nds-color-bg-progress-bg:#35383B;
    --nds-color-bg-progress-active:#3CBD61;
}

/* ============================================================
   Component Style
   ============================================================ */
