/* ============================================================
   tab.css
   ---------------------------------------------------------
   
   ========================================================= */
         
/* ============================================================
    CSS Variables (Root & Dark Mode)
    ============================================================ */

/* --- Light Mode (Default) --- */
:root {
    /* [Tab - Line] */
    --nds-color-border-tab-line-default:#E1E1E1;
    --nds-color-border-tab-line-active:#111111;
    --nds-color-bg-tab-line-bg:#E1E1E1;

    /* [Tab - Chip] */
    --nds-color-text-tab-chip-default:#FFFFFF;
    --nds-color-bg-tab-chip-bg:#FFFFFF;
    --nds-color-bg-tab-chip-default:#F6F6F6;
    --nds-color-bg-tab-chip-active:#111111;

    /* [Tab - Bar] */
    --nds-color-bg-tab-bar-default:#F3F5F8;
    --nds-color-bg-tab-bar-active:#FFFFFF;
}

/* --- Dark Mode --- */
.dark-mode {
    /* [Tab - Line] */
    --nds-color-border-tab-line-default:#505050;
    --nds-color-border-tab-line-active:#FFFFFF;
    --nds-color-bg-tab-line-bg:#212121;

    /* [Tab - Chip] */
    --nds-color-text-tab-chip-default:#121212;
    --nds-color-bg-tab-chip-bg:#212121;
    --nds-color-bg-tab-chip-default:#303030;
    --nds-color-bg-tab-chip-active:#FFFFFF;

    /* [Tab - Bar] */
    --nds-color-bg-tab-bar-default:#35383B;
    --nds-color-bg-tab-bar-active:#212121;
}

/* ============================================================
   Component Style
   ============================================================ */
