/* RESET */
*,
*:before,
*:after {
    margin:0;
    padding:0;
    border:none;
    outline:none;
    user-select:none;
    -webkit-user-select:none;
    box-sizing:border-box;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:transparent;
}
ul,
ol,
dl {
    list-style:none;
}
img {
    max-width:100%;
    vertical-align:top;
}
.img {
    width:100%;
}
a {
    color:inherit;
    text-decoration:none;
}
button {
    cursor:pointer;
}
input,
textarea {
    user-select:auto;
    -webkit-user-select:auto;
}

html {
    font-size:62.5%;
    -webkit-overflow-scrolling:auto;
}

/* NDS RESET */
.nds-ui {
    color:var(--color-text-font-1);
    font-size:1.6rem;
    line-height:1.5;
    font-family:var(--nds-font-base);
    letter-spacing:-0.025em;
    word-break:keep-all;
    overflow-wrap:anywhere;
    -webkit-text-size-adjust:none;
}
.nds-ui button,
.nds-ui input,
.nds-ui textarea {
    color:inherit;
    font:inherit;
    -webkit-appearance:none;
}
.nds-ui button {
    border:none;
}