<script data-size="2" data-title="Accordion | accordion-box/list @ State=close" type="text/template">
    <div class="accordion -box -list" data-role="fold">
        <button type="button" class="title" data-role="marker" title="접힘">
            <div class="badges">
                <span class="badge line-gray">라벨</span>
            </div>
            <div class="info">
                <span class="name">
                    <span>타이틀</span>
                </span>
                <span class="sub-info">
                    <span>부가설명</span>
                </span>
            </div>
        </button>
        <div class="panel" data-role="hidden">
            <dl class="dl">
                <div>
                    <dt>타이틀</dt>
                    <dd>데이터</dd>
                </div>
                <div>
                    <dt>타이틀</dt>
                    <dd>데이터</dd>
                </div>
                <div>
                    <dt>타이틀</dt>
                    <dd>데이터</dd>
                </div>
            </dl>
        </div>
    </div>
                        </script>
<script data-size="2" data-title="Accordion | accordion-box/list @ State=open" type="text/template">
    <div class="accordion -box -list -active" data-role="fold">
        <button type="button" class="title" data-role="marker" title="펼쳐짐짐">
            <div class="badges">
                <span class="badge line-gray">라벨</span>
            </div>
            <div class="info">
                <span class="name">
                    <span>타이틀</span>
                </span>
                <span class="sub-info">
                    <span>부가설명</span>
                </span>
            </div>
        </button>
        <div class="panel" data-role="visible">
            <dl class="dl">
                <div>
                    <dt>타이틀</dt>
                    <dd>데이터</dd>
                </div>
                <div>
                    <dt>타이틀</dt>
                    <dd>데이터</dd>
                </div>
                <div>
                    <dt>타이틀</dt>
                    <dd>데이터</dd>
                </div>
            </dl>
        </div>
    </div>
                        </script>
<script data-size="2" data-title="Accordion | accordion-box/text @ State=close" type="text/template">
    <div class="accordion -box" data-role="fold">
        <button type="button" class="title" data-role="marker" title="접힘">제목</button>
        <div class="panel" data-role="hidden">
            <div class="dummy">내용</div>
        </div>
    </div>
                        </script>
<script data-size="2" data-title="Accordion | accordion-box/text @ State=open" type="text/template">
    <div class="accordion -box -active" data-role="fold">
        <button type="button" class="title" data-role="marker" title="펼쳐짐">제목</button>
        <div class="panel visible" data-role="visible">
            <div class="dummy">내용</div>
        </div>
    </div>
                        </script>
<script data-size="2" data-title="Accordion | accordion-graybox/basic @ State=close" type="text/template">
    <div class="accordion -graybox" data-role="fold">
        <button type="button" class="title" data-role="marker" title="접힘">제목</button>
        <div class="panel" data-role="hidden">
            <div class="dummy">내용</div>
        </div>
    </div>
                        </script>
<script data-size="2" data-title="Accordion | accordion-graybox/basic @ State=open" type="text/template">
    <div class="accordion -graybox -active" data-role="fold">
        <button type="button" class="title" data-role="marker" title="펼쳐짐">제목</button>
        <div class="panel" data-role="visible">
            <div class="dummy">내용</div>
        </div>
    </div>
                        </script>
<script data-size="2" data-title="Accordion | accordion-graybox/list @ State=close" type="text/template">
    <div class="accordion bg-grey" data-role="fold">
        <button type="button" class="title" data-role="marker" title="접힘힘">계약서류 확인</button>
        <div class="panel" data-role="hidden">
            <div class="download">
                <ul>
                    <li>
                        <div>예금계약서(비대면_저축성)</div>
                        <div>
                            <button type="button" title="예금계약서(비대면_저축성)"
                                class="down-btn"><span class="hide">다운로드</span></button>
                            <button type="button" title="예금계약서(비대면_저축성)"
                                aria-haspopup="true" class="go-link"><span
                                    class="hide">바로보기</span></button>
                        </div>
                    </li>
                    <li>
                        <div>NH고향사랑기부예금 상품설명서</div>
                        <div>
                            <button type="button" title="NH고향사랑기부예금 상품설명서"
                                class="down-btn"><span class="hide">다운로드</span></button>
                            <button type="button" title="NH고향사랑기부예금 상품설명서"
                                aria-haspopup="true" class="go-link"><span
                                    class="hide">바로보기</span></button>
                        </div>
                    </li>
                    <li>
                        <div>NH고향사랑기부예금 핵심상품설명서</div>
                        <div>
                            <button type="button" title="NH고향사랑기부예금 핵심상품설명서"
                                class="down-btn"><span class="hide">다운로드</span></button>
                            <button type="button" title="NH고향사랑기부예금 핵심상품설명서"
                                aria-haspopup="true" class="go-link"><span
                                    class="hide">바로보기</span></button>
                        </div>
                    </li>
                    <li>
                        <div>NH고향사랑기부예금 약관</div>
                        <div>
                            <button type="button" title="NH고향사랑기부예금 약관"
                                class="down-btn"><span class="hide">다운로드</span></button>
                            <button type="button" title="NH고향사랑기부예금 약관" aria-haspopup="true"
                                class="go-link"><span class="hide">바로보기</span></button>
                        </div>
                    </li>
                    <li>
                        <div>예금거래기본약관 외</div>
                        <div>
                            <button type="button" title="예금거래기본약관 외" class="down-btn"><span
                                    class="hide">다운로드</span></button>
                            <button type="button" title="예금거래기본약관 외" aria-haspopup="true"
                                class="go-link"><span class="hide">바로보기</span></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
                        </script>
<script data-size="2" data-title="Accordion | accordion-graybox/list @ State=open" type="text/template">
    <div class="accordion bg-grey -active" data-role="fold">
        <button type="button" class="title" data-role="marker" title="펼쳐짐">계약서류 확인</button>
        <div class="panel" data-role="visible">
            <div class="download">
                <ul>
                    <li>
                        <div>예금계약서(비대면_저축성)</div>
                        <div>
                            <button type="button" title="예금계약서(비대면_저축성)"
                                class="down-btn"><span class="hide">다운로드</span></button>
                            <button type="button" title="예금계약서(비대면_저축성)"
                                aria-haspopup="true" class="go-link"><span
                                    class="hide">바로보기</span></button>
                        </div>
                    </li>
                    <li>
                        <div>NH고향사랑기부예금 상품설명서</div>
                        <div>
                            <button type="button" title="NH고향사랑기부예금 상품설명서"
                                class="down-btn"><span class="hide">다운로드</span></button>
                            <button type="button" title="NH고향사랑기부예금 상품설명서"
                                aria-haspopup="true" class="go-link"><span
                                    class="hide">바로보기</span></button>
                        </div>
                    </li>
                    <li>
                        <div>NH고향사랑기부예금 핵심상품설명서</div>
                        <div>
                            <button type="button" title="NH고향사랑기부예금 핵심상품설명서"
                                class="down-btn"><span class="hide">다운로드</span></button>
                            <button type="button" title="NH고향사랑기부예금 핵심상품설명서"
                                aria-haspopup="true" class="go-link"><span
                                    class="hide">바로보기</span></button>
                        </div>
                    </li>
                    <li>
                        <div>NH고향사랑기부예금 약관</div>
                        <div>
                            <button type="button" title="NH고향사랑기부예금 약관"
                                class="down-btn"><span class="hide">다운로드</span></button>
                            <button type="button" title="NH고향사랑기부예금 약관" aria-haspopup="true"
                                class="go-link"><span class="hide">바로보기</span></button>
                        </div>
                    </li>
                    <li>
                        <div>예금거래기본약관 외</div>
                        <div>
                            <button type="button" title="예금거래기본약관 외" class="down-btn"><span
                                    class="hide">다운로드</span></button>
                            <button type="button" title="예금거래기본약관 외" aria-haspopup="true"
                                class="go-link"><span class="hide">바로보기</span></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
                        </script>
<script data-size="2" data-title="Accordion | accordion-line @ State=close" type="text/template">
    <div class="accordion -line" data-role="fold">
        <button type="button" class="title" data-role="marker" title="접힘">제목</button>
        <div class="panel" data-role="hidden">
            <div class="dummy">내용</div>
        </div>
    </div>
                        </script>
<script data-size="2" data-title="Accordion | accordion-line @ State=open" type="text/template">
    <div class="accordion -line -active" data-role="fold">
        <button type="button" class="title" data-role="marker" title="펼쳐짐">제목</button>
        <div class="panel" data-role="visible">
            <div class="dummy">내용</div>
        </div>
    </div>
                        </script>
<script data-size="2" data-title="Accordion | accordion-notice @ State=close" type="text/template">
    <div class="sticker">
        <div class="notice" data-role="fold">
            <button type="button" class="title" data-role="marker" title="접힘">알아두세요</button>
            <div class="panel" data-role="hidden">
                <ul class="ul -bullet">
                    <li>목록</li>
                </ul>
            </div>
        </div>
    </div>
                        </script>
<script data-size="2" data-title="Accordion | accordion-notice @ State=open" type="text/template">
    <div class="sticker">
        <div class="notice -active" data-role="fold">
            <button type="button" class="title" data-role="marker" title="펼쳐짐">알아두세요</button>
            <div class="panel" data-role="visible">
                <ul class="ul -bullet">
                    <li>목록</li>
                </ul>
            </div>
        </div>
    </div>
                        </script>