<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title></title>
	<!-- NDS CSS -->
	<link rel="stylesheet" href="./../assets/css/nds-ui.css" />
	<!-- Guide CSS -->
	<link rel="stylesheet" href="./../guide/css/guide.css" />
</head>
<body>
	<div class="gl">
		<!-- NDS components : S -->
<script data-size="2" data-title="attached-file-list @ Type=1line" type="text/template">
	<div class="attached-file-wrap">
		<div class="attached-file-box mr-0">
			<div class="list">
				<div class="title">파일명</div>
				<button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="attached-file-list @ Type=2line" type="text/template">
	<div class="attached-file-wrap">
		<div class="attached-file-box mr-0">
			<div class="list">
				<div class="title">파일명</div>
				<button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
			</div>
			<div class="list">
				<div class="title">파일명</div>
				<button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="attached-file-list @ Type=3line" type="text/template">
	<div class="attached-file-wrap">
		<div class="attached-file-box mr-0">
			<div class="list">
				<div class="title">파일명</div>
				<button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
			</div>
			<div class="list">
				<div class="title">파일명</div>
				<button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
			</div>
			<div class="list">
				<div class="title">파일명</div>
				<button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="attached-file-list @ Type=4line" type="text/template">
	<div class="attached-file-wrap">
		<div class="attached-file-box mr-0">
			<div class="list">
				<div class="title">파일명</div>
				<button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
			</div>
			<div class="list">
				<div class="title">파일명</div>
				<button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
			</div>
			<div class="list">
				<div class="title">파일명</div>
				<button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
			</div>
			<div class="list">
				<div class="title">파일명</div>
				<button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="attached-file-list @ Type=5line" type="text/template">
	<div class="attached-file-wrap">
		<div class="attached-file-box mr-0">
			<div class="list">
				<div class="title">파일명</div>
				<button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
			</div>
			<div class="list">
				<div class="title">파일명</div>
				<button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
			</div>
			<div class="list">
				<div class="title">파일명</div>
				<button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
			</div>
			<div class="list">
				<div class="title">파일명</div>
				<button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
			</div>
			<div class="list">
				<div class="title">파일명</div>
				<button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="attached-file-thumbnail @ Type=default" type="text/template">
	<div class="attached-file-box">
		<button type="button" class="thumbnail -default">
			<div class="count"><span>0</span>/<span>0</span></div>
		</button>
	</div>
</script>
<script data-size="2" data-title="attached-file-thumbnail @ Type=disabled" type="text/template">
	<div class="attached-file-box">
		<button type="button" class="thumbnail -disabled" disabled>
			<div class="count"><span>0</span>/<span>0</span></div>
		</button>
	</div>
</script>
<script data-size="2" data-title="attached-file-thumbnail @ Type=filled" type="text/template">
	<div class="attached-file-box">
		<div class="thumbnail -filled">
			<img src="./assets/imgs/nds/common/img_nh-golf_58.png" alt="">
			<button type="button" class="cancel-btn"><span class="hide">사진 삭제</span></button>
		</div>
	</div>
</script>
		<!-- NDS components : E -->
	</div>
	<!-- NDS Script -->
	<script src="./../assets/js/libs/jquery/jquery-3.6.0.min.js"></script>
	<script src="./../assets/js/libs/anime/lib/anime.min.js"></script>
	<script src="./../assets/js/nds-ui.js"></script>
	<!-- Guide Script -->
	<script src="./../guide/js/guide.js"></script>
	<script>
		buildGuide();
	</script>
</html>