<script data-size="2" data-title="Badge | badge-count" type="text/template">
    <div class="relative">
        <span class="badge-wrap">
            <span class="badge -count">2</span>
        </span>
    </div>
                        </script>
<script data-size="2" data-title="Badge | badge-new" type="text/template">
    <div class="relative">
        <button type="button" class="badge-wrap">
            <span class="badge -new">
                <span class="hide">새로운 알람이 있습니다.</span>
            </span>
        </button>
    </div>
                        </script>