<script data-size="2" data-title="Bullet | bullet-body @ Type=1depth" type="text/template">
    <ul class="ul -bullet">
        <li>페이지 1depth 목록 내용 입니다.</li>
        <li>페이지 1depth 목록 내용 입니다.</li>
    </ul>
                        </script>
<script data-size="2" data-title="Bullet | bullet-body @ Type=2depth" type="text/template">
    <ul class="ul -bullet">
        <li>1depth 목록 내용 입니다.</li>
        <li>1depth 목록 내용 입니다.
            <div>
                <ul class="ul -dash">
                    <li>2depth 목록 내용 입니다.</li>
                    <li>2depth 목록 내용 입니다.</li>
                </ul>
            </div>
        </li>
        <li>내용</li>
    </ul>
                        </script>
<script data-size="2" data-title="Bullet | bullet-caption" type="text/template">
    <ul class="ul -bullet -caption">
        <li>캡션 1depth 목록 내용 입니다.</li>
        <li>캡션 1depth 목록 내용 입니다.</li>
    </ul>
                        </script>
<script data-size="2" data-title="Bullet | bullet-notice @ Type=1depth" type="text/template">
    <div class="sticker">
        <div class="notice -active" data-role="fold">
            <div class="panel" data-role="visible">
                <ul class="ul -bullet">
                    <li>알아두세요 1depth 목록 내용 입니다.</li>
                    <li>알아두세요 1depth 목록 내용 입니다.</li>
                </ul>
            </div>
        </div>
    </div>
                        </script>
<script data-size="2" data-title="Bullet | bullet-notice @ Type=2depth" type="text/template">
    <div class="sticker">
        <div class="notice -active" data-role="fold">
            <div class="panel" data-role="visible">
                <ul class="ul -bullet">
                    <li>알아두세요 1depth 목록 내용 입니다.
                        <div>
                            <ul class="ul -dash">
                                <li>알아두세요 2depth 목록 내용 입니다.</li>
                            </ul>
                        </div>
                    </li>
                    <li>알아두세요 1depth 목록 내용 입니다.</li>
                </ul>
            </div>
        </div>
    </div>
                        </script>