<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title></title>
	<!-- NDS CSS -->
	<link rel="stylesheet" href="./../assets/css/nds-common.css" />
	<link rel="stylesheet" href="./../assets/css/nds-components.css" />
	<!-- Guide CSS -->
	<link rel="stylesheet" href="./../guide/css/guide.css" />
</head>
<body>
	<div class="gl">
		<!-- NDS components : S -->
<div class="gc__heading">button-basic/primary</div>
<script data-size="2" data-title="Size=lg, State=default" type="text/template">
	<button type="button" title="버튼" class="nds-button -primary -lg">버튼</button>
</script>
<script data-size="2" data-title="Size=lg, State=disabled" type="text/template">
	<!-- :disabled || .-disabled로 제어 -->
	<button type="button" title="버튼" class="nds-button -primary -lg" disabled>버튼</button>
</script>
<script data-size="2" data-title="Size=lg, State=pressed" type="text/template">
	<button type="button" title="버튼" class="nds-button -primary -lg -active" >버튼</button>
</script>
<script data-size="2" data-title="Size=md, State=default" type="text/template">
	<button type="button" title="버튼" class="nds-button -primary -md">버튼</button>
</script>
<script data-size="2" data-title="Size=md, State=disabled" type="text/template">
	<!-- :disabled || .-disabled로 제어 -->
	<button type="button" title="버튼" class="nds-button -primary -md" disabled>버튼</button>
</script>
<script data-size="2" data-title="Size=md, State=pressed" type="text/template">
	<button type="button" title="버튼" class="nds-button -primary -md -active">버튼</button>
</script>
<script data-size="2" data-title="Size=rg, State=default" type="text/template">
	<button type="button" title="버튼" class="nds-button -primary -rg">버튼</button>
</script>
<script data-size="2" data-title="Size=rg, State=disabled" type="text/template">
	<!-- :disabled || .-disabled로 제어 -->
	<button type="button" title="버튼" class="nds-button -primary -rg" disabled>버튼</button>
</script>
<script data-size="2" data-title="Size=rg, State=pressed" type="text/template">
	<button type="button" title="버튼" class="nds-button -primary -rg -active">버튼</button>
</script>
<script data-size="2" data-title="Size=sm, State=default" type="text/template">
	<button type="button" title="버튼" class="nds-button -primary -sm">버튼</button>
</script>
<script data-size="2" data-title="Size=sm, State=disabled" type="text/template">
	<!-- :disabled || .-disabled로 제어 -->
	<button type="button" title="버튼" class="nds-button -primary -sm" disabled>버튼</button>
</script>
<script data-size="2" data-title="Size=sm, State=pressed" type="text/template">
	<button type="button" title="버튼" class="nds-button -primary -sm -active">버튼</button>
</script>
<script data-size="2" data-title="Size=xs, State=default" type="text/template">
	<button type="button" title="버튼" class="nds-button -primary -xs">버튼</button>
</script>
<script data-size="2" data-title="Size=xs, State=disabled" type="text/template">
	<!-- :disabled || .-disabled로 제어 -->
	<button type="button" title="버튼" class="nds-button -primary -xs" disabled>버튼</button>
</script>
<script data-size="2" data-title="Size=xs, State=pressed" type="text/template">
	<button type="button" title="버튼" class="nds-button -primary -xs -active">버튼</button>
</script>
<div class="gc__heading">button-basic/secondary</div>
<script data-size="2" data-title="Size=lg, State=default" type="text/template">
	<button type="button" title="버튼" class="nds-button -secondary -lg">버튼</button>
</script>
<script data-size="2" data-title="Size=md, State=disabled" type="text/template">
	<!-- :disabled || .-disabled로 제어 -->
	<button type="button" title="버튼" class="nds-button -secondary -lg" disabled>버튼</button>
</script>
<script data-size="2" data-title="Size=lg, State=pressed" type="text/template">
	<button type="button" title="버튼" class="nds-button -secondary -lg -active">버튼</button>
</script>
<script data-size="2" data-title="Size=md, State=default" type="text/template">
	<button type="button" title="버튼" class="nds-button -secondary -md">버튼</button>
</script>
<script data-size="2" data-title="Size=md, State=disabled" type="text/template">
	<!-- :disabled || .-disabled로 제어 -->
	<button type="button" title="버튼" class="nds-button -secondary -md" disabled>버튼</button>
</script>
<script data-size="2" data-title="Size=md, State=pressed" type="text/template">
	<button type="button" title="버튼" class="nds-button -secondary -md -active">버튼</button>
</script>
<script data-size="2" data-title="Size=rg, State=default" type="text/template">
	<button type="button" title="버튼" class="nds-button -secondary -rg">버튼</button>
</script>
<script data-size="2" data-title="Size=rg, State=disabled" type="text/template">
	<!-- :disabled || .-disabled로 제어 -->
	<button type="button" title="버튼" class="nds-button -secondary -rg" disabled>버튼</button>
</script>
<script data-size="2" data-title="Size=rg, State=pressed" type="text/template">
	<button type="button" title="버튼" class="nds-button -secondary -rg -active">버튼</button>
</script>
<script data-size="2" data-title="Size=sm, State=default" type="text/template">
	<button type="button" title="버튼" class="nds-button -secondary -sm">버튼</button>
</script>
<script data-size="2" data-title="Size=sm, State=disabled" type="text/template">
	<!-- :disabled || .-disabled로 제어 -->
	<button type="button" title="버튼" class="nds-button -secondary -sm" disabled>버튼</button>
</script>
<script data-size="2" data-title="Size=sm, State=pressed" type="text/template">
	<button type="button" title="버튼" class="nds-button -secondary -sm -active">버튼</button>
</script>
<script data-size="2" data-title="Size=xs, State=default" type="text/template">
	<button type="button" title="버튼" class="nds-button -secondary -xs">버튼</button>
</script>
<script data-size="2" data-title="Size=xs, State=disabled" type="text/template">
	<!-- :disabled || .-disabled로 제어 -->
	<button type="button" title="버튼" class="nds-button -secondary -xs" disabled>버튼</button>
</script>
<script data-size="2" data-title="Size=xs, State=pressed" type="text/template">
	<button type="button" title="버튼" class="nds-button -secondary -xs -active">버튼</button>
</script>
<div class="gc__heading">button-basic/tertiary</div>
<script data-size="2" data-title="Size=lg, State=default" type="text/template">
	<button type="button" title="버튼" class="nds-button -tertiary -lg">버튼</button>
</script>
<script data-size="2" data-title="Size=lg, State=disabled" type="text/template">
	<!-- :disabled || .-disabled로 제어 -->
	<button type="button" title="버튼" class="nds-button -tertiary -lg" disabled>버튼</button>
</script>
<script data-size="2" data-title="Size=lg, State=pressed" type="text/template">
	<button type="button" title="버튼" class="nds-button -tertiary -lg">버튼</button>
</script>
<script data-size="2" data-title="Size=md, State=default" type="text/template">
	<button type="button" title="버튼" class="nds-button -tertiary -md">버튼</button>
</script>
<script data-size="2" data-title="Size=md, State=disabled" type="text/template">
	<!-- :disabled || .-disabled로 제어 -->
	<button type="button" title="버튼" class="nds-button -tertiary -md" disabled>버튼</button>
</script>
<script data-size="2" data-title="Size=md, State=pressed" type="text/template">
	<button type="button" title="버튼" class="nds-button -tertiary -md">버튼</button>
</script>
<script data-size="2" data-title="Size=rg, State=default" type="text/template">
	<button type="button" title="버튼" class="nds-button -tertiary -rg">버튼</button>
</script>
<script data-size="2" data-title="Size=rg, State=disabled" type="text/template">
	<!-- :disabled || .-disabled로 제어 -->
	<button type="button" title="버튼" class="nds-button -tertiary -rg" disabled>버튼</button>
</script>
<script data-size="2" data-title="Size=rg, State=pressed" type="text/template">
	<button type="button" title="버튼" class="nds-button -tertiary -rg">버튼</button>
</script>
<script data-size="2" data-title="Size=sm, State=default" type="text/template">
	<button type="button" title="버튼" class="nds-button -tertiary -sm">버튼</button>
</script>
<script data-size="2" data-title="Size=sm, State=disabled" type="text/template">
	<!-- :disabled || .-disabled로 제어 -->
	<button type="button" title="버튼" class="nds-button -tertiary -sm" disabled>버튼</button>
</script>
<script data-size="2" data-title="Size=sm, State=pressed" type="text/template">
	<button type="button" title="버튼" class="nds-button -tertiary -sm">버튼</button>
</script>
<script data-size="2" data-title="Size=xs, State=default" type="text/template">
	<button type="button" title="버튼" class="nds-button -tertiary -xs">버튼</button>
</script>
<script data-size="2" data-title="Size=xs, State=disabled" type="text/template">
	<!-- :disabled || .-disabled로 제어 -->
	<button type="button" title="버튼" class="nds-button -tertiary -xs" disabled>버튼</button>
</script>
<script data-size="2" data-title="Size=xs, State=pressed" type="text/template">
	<button type="button" title="버튼" class="nds-button -tertiary -xs -active">버튼</button>
</script>
<div class="gc__heading">button-cta/cta</div>
<script data-size="2" data-title="Type=basic, Ratio=cta-3:7" type="text/template">
	<div class="nds-cta-wrap">
		<button type="button" title="버튼" class="nds-button -tertiary -lg -flex-3">버튼</button>
		<button type="button" title="버튼" class="nds-button -primary -lg -flex-7">버튼</button>
	</div>
</script>
<script data-size="2" data-title="Type=basic, Ratio=cta-5:5" type="text/template">
	<div class="nds-cta-wrap">
		<button type="button" title="버튼" class="nds-button -tertiary -lg -flex-5">버튼</button>
		<button type="button" title="버튼" class="nds-button -primary -lg -flex-5">버튼</button>
	</div>
</script>
<script data-size="2" data-title="Type=basic, Ratio=cta-double" type="text/template">
	<div class="nds-cta-double">
		<button type="button" title="버튼" class="nds-button -secondary -lg -full">버튼명</button>
		<button type="button" title="버튼" class="nds-button -primary -lg -full">버튼명</button>
	</div>
</script>
<script data-size="2" data-title="Type=basic, Ratio=cta-full" type="text/template">
	<div class="nds-cta-wrap">
		<button type="button" title="버튼" class="nds-button -primary -lg -full">버튼</button>
	</div>
</script>
<script data-size="2" data-title="Type=popup, Ratio=cta-3:7" type="text/template">
	<div class="nds-cta-wrap">
		<button type="button" title="버튼" class="nds-button -tertiary -md -flex-3">버튼</button>
		<button type="button" title="버튼" class="nds-button -secondary -md -flex-7">버튼</button>
	</div>
</script>
<script data-size="2" data-title="Type=popup, Ratio=cta-5:5" type="text/template">
	<div class="nds-cta-wrap">
		<button type="button" title="버튼" class="nds-button -tertiary -md -flex-5">버튼</button>
		<button type="button" title="버튼" class="nds-button -secondary -md -flex-5">버튼</button>
	</div>
</script>
<script data-size="2" data-title="Type=popup, Ratio=cta-full" type="text/template">
	<div class="nds-cta-wrap">
		<button type="button" title="버튼" class="nds-button -secondary -md -full">버튼</button>
	</div>
</script>
<div class="gc__heading">button-floating/floating</div>
<script data-size="2" data-title="" type="text/template">
	<!-- 사용 시 style 속성은 제거 필수(only for guide) -->
	<div class="nds-floating-button-wrap" style="position: relative; top: auto; right: auto; z-index: 1;">
		<button type="button" class="nds-floating-button">
			<span>원금손실<br />가능상품</span>
		</button>
		<button type="button" class="nds-floating-button-close" title="닫기" aria-label="닫기"></button>
	</div>
</script>
<div class="gc__heading">button-icon/icon</div>
<script data-size="2" data-title="" type="text/template">
	<button type="button" title="설명서" class="nds-button -ico">
		<i class="nds-ico -x24 nds-ico-download"></i><span class="hide">다운로드</span>
	</button>
</script>
<div class="gc__heading">button-plus-minus</div>
<script data-size="2" data-title="State=default" type="text/template">
	<div class="nds-control-button-wrap">
		<button type="button" title="버튼" class="nds-button -ico -plus"><span class="hide">증가</span></button>
		<button type="button" title="버튼" class="nds-button -ico -minus"><span class="hide">감소</span></button>
	</div> 
</script>
<script data-size="2" data-title="State=active" type="text/template">
	<div class="nds-control-buttons-wrap">
		<button type="button" title="버튼" class="nds-button -ico -plus -active"><span class="hide">증가</span></button>
		<button type="button" title="버튼" class="nds-button -ico -minus -active"><span class="hide">감소</span></button>
	</div> 
</script>
<div class="gc__heading">button-text/icon</div>
<script data-size="2" data-title="Text only" type="text/template">
	<a class="nds-button -text" title="버튼명" type="button" href="javascript:void(0);">버튼명</a>
</script>
<script data-size="2" data-title="Leading icon" type="text/template">
	<a class="nds-button -text" title="버튼명" type="button" href="javascript:void(0);"><i class="nds-ico -x16 nds-ico-arr-left"></i><span>버튼명</span></a>
</script>
<script data-size="2" data-title="Trailing icon" type="text/template">
	<a class="nds-button -text" title="버튼명" type="button" href="javascript:void(0);"><span>버튼명</span><i class="nds-ico -x16 nds-ico-arr-right-x16"></i></a>
</script>
<script data-size="2" data-title="Both icons" type="text/template">
	<a class="nds-button -text" title="버튼명" type="button" href="javascript:void(0);"><i class="nds-ico -x16 nds-ico-arr-left"></i><span>버튼명</span><i class="nds-ico -x16 nds-ico-arr-right-x16"></i></a>
</script>
<div class="gc__heading">button-text/link</div>
<script data-size="2" data-title="" type="text/template">
	<a class="nds-button -link" title="링크 버튼" href="javascript:void(0)">링크 버튼</a>
</script>
		<!-- NDS components : E -->
	</div>
	<!-- NDS Script -->
	<script src="./../assets/libs/jquery/jquery-3.6.0.min.js"></script>
	<script src="./../assets/libs/anime/lib/anime.min.js"></script>
	<script src="./../assets/js/nds-ui.js"></script>
	<!-- Guide Script -->
	<script src="./../guide/js/guide.js"></script>
	<script>
		buildGuide();
	</script>
</html>