<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>Attached file</title>
	<link rel="stylesheet" href="./../assets/css/nds-ui.css" />
	<link rel="stylesheet" href="./../worklist/assets/css/guide-components.css" />
</head>
<body>
	<div class="gl">
		<!-- NDS components : S -->
<script data-size="2" data-title="Button | button-basic/primary @ Size=lg, State=default" type="text/template">
	<button type="button" class="button -primary -lg">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/primary @ Size=lg, State=disabled" type="text/template">
	<button type="button" class="button -primary -lg" disabled>버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/primary @ Size=lg, State=pressed" type="text/template">
	<button type="button" class="button -primary -lg">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/primary @ Size=md, State=default" type="text/template">
	<button type="button" class="button -primary -md">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/primary @ Size=md, State=disabled" type="text/template">
	<button type="button" class="button -primary -md" disabled>버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/primary @ Size=md, State=pressed" type="text/template">
	<button type="button" class="button -primary -md">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/primary @ Size=rg, State=default" type="text/template">
	<button type="button" class="button -primary -rg">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/primary @ Size=rg, State=disabled" type="text/template">
	<button type="button" class="button -primary -rg" disabled>버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/primary @ Size=rg, State=pressed" type="text/template">
	<button type="button" class="button -primary -rg">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/primary @ Size=sm, State=default" type="text/template">
	<button type="button" class="button -primary -sm">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/primary @ Size=sm, State=disabled" type="text/template">
	<button type="button" class="button -primary -sm" disabled>버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/primary @ Size=sm, State=pressed" type="text/template">
	<button type="button" class="button -primary -sm">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/secondary @ Size=md, State=default" type="text/template">
	<button type="button" class="button -secondary -md">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/secondary @ Size=md, State=disabled" type="text/template">
	<button type="button" class="button -secondary -md" disabled>버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/secondary @ Size=md, State=pressed" type="text/template">
	<button type="button" class="button -secondary -md">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/secondary @ Size=rg, State=default" type="text/template">
	<button type="button" class="button -secondary -rg">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/secondary @ Size=rg, State=disabled" type="text/template">
	<button type="button" class="button -secondary -rg" disabled>버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/secondary @ Size=rg, State=pressed" type="text/template">
	<button type="button" class="button -secondary -rg">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/secondary @ Size=sm, State=default" type="text/template">
	<button type="button" class="button -secondary -sm">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/secondary @ Size=sm, State=disabled" type="text/template">
	<button type="button" class="button -secondary -sm" disabled>버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/secondary @ Size=sm, State=pressed" type="text/template">
	<button type="button" class="button -secondary -sm">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/secondary @ Size=xs, State=default" type="text/template">
	<button type="button" class="button -secondary -xs -fitted">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/secondary @ Size=xs, State=disabled" type="text/template">
	<button type="button" class="button -secondary -xs -fitted" disabled>버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/secondary @ Size=xs, State=pressed" type="text/template">
	<button type="button" class="button -secondary -xs -fitted">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/tertiary @ Size=lg, State=default" type="text/template">
	<button type="button" class="button -tertiary -lg">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/tertiary @ Size=lg, State=disabled" type="text/template">
	<button type="button" class="button -tertiary -lg" disabled>버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/tertiary @ Size=lg, State=pressed" type="text/template">
	<button type="button" class="button -tertiary -lg">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/tertiary @ Size=md, State=default" type="text/template">
	<button type="button" class="button -tertiary -md">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/tertiary @ Size=md, State=disabled" type="text/template">
	<button type="button" class="button -tertiary -md" disabled>버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/tertiary @ Size=md, State=pressed" type="text/template">
	<button type="button" class="button -tertiary -md">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/tertiary @ Size=rg, State=default" type="text/template">
	<button type="button" class="button -tertiary -rg">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/tertiary @ Size=rg, State=disabled" type="text/template">
	<button type="button" class="button -tertiary -rg" disabled>버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/tertiary @ Size=rg, State=pressed" type="text/template">
	<button type="button" class="button -tertiary -rg">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/tertiary @ Size=sm, State=default" type="text/template">
	<button type="button" class="button -tertiary -sm">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/tertiary @ Size=sm, State=disabled" type="text/template">
	<button type="button" class="button -tertiary -sm" disabled>버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/tertiary @ Size=sm, State=pressed" type="text/template">
	<button type="button" class="button -tertiary -sm">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/tertiary @ Size=xs, State=default" type="text/template">
	<button type="button" class="button -tertiary -xs -fitted">버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/tertiary @ Size=xs, State=disabled" type="text/template">
	<button type="button" class="button -tertiary -xs -fitted" disabled>버튼</button>
</script>
<script data-size="2" data-title="Button | button-basic/tertiary @ Size=xs, State=pressed" type="text/template">
	<button type="button" class="button -tertiary -xs -fitted">버튼</button>
</script>
<script data-size="2" data-title="Button | button-cta/cta @ Type=basic, Ratio=cta-3:7" type="text/template">
	<div class="buttons">
		<button type="button" class="button -tertiary -lg">취소</button>
		<button type="button" class="button -primary -lg">확인</button>
	</div>
</script>
<script data-size="2" data-title="Button | button-cta/cta @ Type=basic, Ratio=cta-5:5" type="text/template">
	<div class="buttons -half">
		<button type="button" class="button -tertiary -lg">버튼</button>
		<button type="button" class="button -primary -lg ">버튼</button>
	</div>
</script>
<script data-size="2" data-title="Button | button-cta/cta @ Type=basic, Ratio=cta-double" type="text/template">
	<div class="buttons -double">
		<button type="button" class="button -secondary -lg">버튼</button>
		<button type="button" class="button -primary -lg ">버튼</button>
	</div>
</script>
<script data-size="2" data-title="Button | button-cta/cta @ Type=basic, Ratio=cta-full" type="text/template">
	<div class="buttons">
		<button type="button" class="button -lg -primary">다음</button>
	</div>
</script>
<script data-size="2" data-title="Button | button-cta/cta @ Type=popup, Ratio=cta-3:7" type="text/template">
	<div class="buttons">
		<button type="button" class="button -tertiary -md">취소</button>
		<button type="button" class="button -secondary -md">확인</button>
	</div>
</script>
<script data-size="2" data-title="Button | button-cta/cta @ Type=popup, Ratio=cta-5:5" type="text/template">
	<div class="buttons -half">
		<button type="button" class="button -tertiary -md">버튼명</button>
		<button type="button" class="button -secondary -md">버튼명</button>
	</div>
</script>
<script data-size="2" data-title="Button | button-cta/cta @ Type=popup, Ratio=cta-full" type="text/template">
	<div class="buttons">
		<button type="button" class="button -secondary -md">버튼명</button>
	</div>
</script>
<script data-size="2" data-title="Button | button-floating/floating" type="text/template">
	<div class="test-wrap">
		<div class="floating-wrap">
			<div class="floating-btn"> 
				<p>원금손실<br>가능상품</p> 
			</div>
			<button type="button" class="floating_close" title="원금손실 가능상품 플로팅 콘텐츠 닫기"></button>
		</div>
	</div>
	<p style="text-align: center;">우측 상단</p>
</script>
<script data-size="2" data-title="Button | button-icon/icon" type="text/template">
	<div class="btn-icon">
		<button type="button" title="NH고향사랑기부예금 핵심상품설명서" class="down-btn"><span class="hide">다운로드</span></button>
	</div>
</script>
<script data-size="2" data-title="Button | button-plus-minus @ Type=minus, State=active" type="text/template">
	<div class="controls plus-minus">
		<div class="controllwarp">
			<button type="button" class="button plus"><span class="hide">증가하기</span></button>
			<button type="button" class="button minus"><span class="hide">감소하기</span></button>
		</div>
	</div> 
</script>
<script data-size="2" data-title="Button | button-plus-minus @ Type=minus, State=default" type="text/template">
	<div class="controls plus-minus">
		<div class="controllwarp">
			<button type="button" class="button plus"><span class="hide">증가하기</span></button>
			<button type="button" class="button minus"><span class="hide">감소하기</span></button>
		</div>
	</div>
</script>
<script data-size="2" data-title="Button | button-plus-minus @ Type=plus, State=active" type="text/template">
	<div class="controls plus-minus">
		<div class="controllwarp">
			<button type="button" class="button plus"><span class="hide">증가하기</span></button>
			<button type="button" class="button minus"><span class="hide">감소하기</span></button>
		</div>
	</div>
</script>
<script data-size="2" data-title="Button | button-plus-minus @ Type=plus, State=default" type="text/template">
	<div class="controls plus-minus">
		<div class="controllwarp">
			<button type="button" class="button plus"><span class="hide">증가하기</span></button>
			<button type="button" class="button minus"><span class="hide">감소하기</span></button>
		</div>
	</div>
</script>
<script data-size="2" data-title="Button | button-text/icon" type="text/template">
	<div class="buttons-arrow">
		<a type="button" class="button-arrow-right button-arrow-left">버튼명</a>
	</div>
</script>
<script data-size="2" data-title="Button | button-text/link" type="text/template">
	<a href="javascript:void(0)" class="a underline">링크</a>
</script>
		<!-- NDS components : E -->
	</div>
	<!-- NDS Script -->
	<script src="./../assets/libs/jquery/jquery-3.6.0.min.js"></script>
	<script src="./../assets/libs/anime/lib/anime.min.js"></script>
	<script src="./../assets/js/common-ui.js"></script>
	<!-- Guide Script -->
	<script src="./../worklist/assets/js/guide.js"></script>
	<script>
		buildGuide();
	</script>
</html>