<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title></title>
	<!-- NDS CSS -->
	<link rel="stylesheet" href="./../assets/css/nds-common.css" />
	<link rel="stylesheet" href="./../assets/css/nds-components.css" />
	<!-- Guide CSS -->
	<link rel="stylesheet" href="./../guide/css/guide.css" />
</head>
<body>
	<div class="gl">
		<!-- NDS components : S -->

<script data-size="2" data-title="Check | # base/base-box-sm @ Type=1ea" type="text/template">
	<div class="box-radios -box -sm">
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-7552">
			<label for="box-rdio1-7552">체크</label>
		</div>
	</div>
</script>

<script data-size="2" data-title="Check | # base/base-box-sm @ Type=5ea" type="text/template">
	<div class="box-radios -box -sm">
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-10775526">
			<label for="box-rdio1-10775526">체크</label>
		</div>
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-20777552666">
			<label for="box-rdio1-20777552666">체크</label>
		</div>
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-3007775525">
			<label for="box-rdio1-3007775525">체크</label>
		</div>
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-400777552557">
			<label for="box-rdio1-400777552557">체크</label>
		</div>
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-500777552557">
			<label for="box-rdio1-500777552557">체크</label>
		</div>
	</div>
</script>

<script data-size="2" data-title="Check | # base/base-box-sm @ Type=3ea" type="text/template">
	<div class="box-radios -box -sm">
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-077552">
			<label for="box-rdio1-077552">체크</label>
		</div>
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-0777552">
			<label for="box-rdio1-0777552">체크</label>
		</div>
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-00777552">
			<label for="box-rdio1-00777552">체크</label>
		</div>
	</div>
</script>

<script data-size="2" data-title="Check | # base/base-box-lg @ Type=1ea" type="text/template">
	<div class="box-radios -box -lg">
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-5527000145">
			<label for="box-rdio1-5527000145">체크</label>
		</div>
	</div>
</script>

<script data-size="2" data-title="Check | # base/base-box-sm @ Type=2ea" type="text/template">
	<div class="box-radios -box -sm">
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-77552">
			<label for="box-rdio1-77552">체크</label>
		</div>
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-777552">
			<label for="box-rdio1-777552">체크</label>
		</div>
	</div>
</script>

<script data-size="2" data-title="Check | # base/base-box-lg @ Type=3ea" type="text/template">
	<div class="box-radios -box -lg">
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-455270001">
			<label for="box-rdio1-455270001">체크</label>
		</div>
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-552700012">
			<label for="box-rdio1-552700012">체크</label>
		</div>
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-552700023">
			<label for="box-rdio1-552700023">체크</label>
		</div>
	</div>
</script>

<script data-size="2" data-title="Check | # base/base-box-sm @ Type=4ea" type="text/template">
	<div class="box-radios -box -sm">
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-0775526">
			<label for="box-rdio1-0775526">체크</label>
		</div>
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-0777552666">
			<label for="box-rdio1-0777552666">체크</label>
		</div>
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-007775525">
			<label for="box-rdio1-007775525">체크</label>
		</div>
		<div class="box-radio">
			<input type="checkbox" id="box-rdio1-00777552557">
			<label for="box-rdio1-00777552557">체크</label>
		</div>
	</div>
</script>

<script data-size="2" data-title="Check | check-basic @ Size=sm, State=default" type="text/template">
	<div class="checkbox -basic -sm">
		<input type="checkbox" id="checkbox-sm1">
		<label for="checkbox-sm1">체크박스</label>
	</div>
</script>
<script data-size="2" data-title="Check | check-basic @ Size=sm, State=disabled" type="text/template">
	<div class="checkbox -basic -sm">
		<input type="checkbox" id="checkbox-sm3" disabled>
		<label for="checkbox-sm3">체크박스</label>
	</div>
</script>
<script data-size="2" data-title="Check | check-basic @ Size=sm, State=select-disabled" type="text/template">
	<div class="checkbox -basic -sm -seldis">
		<input type="checkbox" id="checkbox-sm4" disabled>
		<label for="checkbox-sm4">체크박스</label>
	</div>
</script>
<script data-size="2" data-title="Check | check-basic @ Size=sm, State=selected" type="text/template">
	<div class="checkbox -basic -sm">
		<input type="checkbox" id="checkbox-sm2" checked>
		<label for="checkbox-sm2">체크박스</label>
	</div>
</script>
<script data-size="2" data-title="Check | check-basic @ Size=xs, State=default" type="text/template">
	<div class="checkbox -basic -xs">
		<input type="checkbox" id="checkbox-xs1">
		<label for="checkbox-xs1">체크박스</label>
	</div>
</script>
<script data-size="2" data-title="Check | check-basic @ Size=xs, State=disabled" type="text/template">
	<div class="checkbox -basic -xs">
		<input type="checkbox" id="checkbox-xs3" disabled>
		<label for="checkbox-xs3">체크박스</label>
	</div>
</script>
<script data-size="2" data-title="Check | check-basic @ Size=xs, State=select-disabled" type="text/template">
	<div class="checkbox -basic -xs -seldis">
		<input type="checkbox" id="checkbox-xs4" disabled>
		<label for="checkbox-xs4">체크박스</label>
	</div>
</script>
<script data-size="2" data-title="Check | check-basic @ Size=xs, State=selected" type="text/template">
	<div class="checkbox -basic -xs">
		<input type="checkbox" id="checkbox-xs2" checked>
		<label for="checkbox-xs2">체크박스</label>
	</div> 
</script>
<script data-size="2" data-title="Check | check-box/center-lg @ Type=1line" type="text/template">
	<div class="field check">
		<p class="label">박스체크</p>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-5527">
				<label for="box-rdio1-5527">옵션1</label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Check | check-box/center-lg @ Type=2line" type="text/template">
	<div class="field check">
		<p class="label">박스체크</p>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-55271">
				<label for="box-rdio1-55271">옵션1</label>
			</div>
		</div>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-5507" disabled>
				<label for="box-rdio1-5507">옵션2</label>
			</div>
		</div>
	</div>   
</script>
<script data-size="2" data-title="Check | check-box/center-lg @ Type=3line" type="text/template">
	<div class="field check">
		<p class="label">박스체크</p>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-552712">
				<label for="box-rdio1-552712">옵션1</label>
			</div>
		</div>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-55072" disabled>
				<label for="box-rdio1-55072">옵션2</label>
			</div>
		</div>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-5517" checked>
				<label for="box-rdio1-5517">옵션3</label>
			</div>
		</div>
	</div>  
</script>
<script data-size="2" data-title="Check | check-box/center-lg @ Type=4line" type="text/template">
	<div class="field check">
		<p class="label">박스체크</p>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-5527128">
				<label for="box-rdio1-5527128">옵션1</label>
			</div>
		</div>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-550728" disabled>
				<label for="box-rdio1-550728">옵션2</label>
			</div>
		</div>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-55178" checked>
				<label for="box-rdio1-55178">옵션3</label>
			</div>
		</div>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-775527128">
				<label for="box-rdio1-775527128">옵션4</label>
			</div>
		</div>
	</div>  
</script>
<script data-size="2" data-title="Check | check-box/center-sm @ Type=1line" type="text/template">
	<div class="field check">
		<p class="label">박스체크</p>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-552">
				<label for="box-rdio1-552">옵션1</label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Check | check-box/center-sm @ Type=2line" type="text/template">
	<div class="field check">
		<p class="label">박스체크</p>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-5521">
				<label for="box-rdio1-5521">옵션1</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-550" disabled>
				<label for="box-rdio1-550">옵션2</label>
			</div>
		</div>
	</div> 
</script>
<script data-size="2" data-title="Check | check-box/center-sm @ Type=3line" type="text/template">
	<div class="field check">
		<p class="label">박스체크</p>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-55212">
				<label for="box-rdio1-55212">옵션1</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-5503" disabled>
				<label for="box-rdio1-5503">옵션2</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-551" checked>
				<label for="box-rdio1-551">옵션3</label>
			</div>
		</div>
	</div>     
</script>
<script data-size="2" data-title="Check | check-box/center-sm @ Type=4line" type="text/template">
	<div class="field check">
		<p class="label">박스체크</p>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-552124">
				<label for="box-rdio1-552124">옵션1</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-55035" disabled>
				<label for="box-rdio1-55035">옵션2</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-5516" checked>
				<label for="box-rdio1-5516">옵션3</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-552127">
				<label for="box-rdio1-552127">옵션4</label>
			</div>
		</div>
	</div>    
</script>
<script data-size="2" data-title="Check | check-box/center-sm @ Type=5line" type="text/template">
	<div class="field check">
		<p class="label">박스체크</p>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-5521249">
				<label for="box-rdio1-5521249">옵션1</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-550358" disabled>
				<label for="box-rdio1-550358">옵션2</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-55167" checked>
				<label for="box-rdio1-55167">옵션3</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-5521276">
				<label for="box-rdio1-5521276">옵션4</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-5521275" checked>
				<label for="box-rdio1-5521275">옵션5</label>
			</div>
		</div>
	</div>   
</script>
<script data-size="2" data-title="Check | check-box/center-sm @ Type=6line" type="text/template">
	<div class="field check">
		<p class="label">박스체크</p>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-55212494">
				<label for="box-rdio1-55212494">옵션1</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-5503585" disabled>
				<label for="box-rdio1-5503585">옵션2</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-551676" checked>
				<label for="box-rdio1-551676">옵션3</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-55212763">
				<label for="box-rdio1-55212763">옵션4</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-55212752" checked>
				<label for="box-rdio1-55212752">옵션5</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="checkbox" id="box-rdio1-55212751">
				<label for="box-rdio1-55212751">옵션6</label>
			</div>
		</div>
	</div> 
</script>
<script data-size="2" data-title="Check | check-survey/icon @ State=default" type="text/template">
	<div class="field">
		<dl class="invest-qna survey">
			<dd class="answer-list">
				<div class="item">
					<input type="checkbox" name="radio113" id="checkbox1-111">
					<label for="checkbox1-111" class="invest-unit -icon1">현재 수입이 일정하지만, 한줄일 때</label>
				</div>
			</dd>
		</dl>
	</div>
</script>
<script data-size="2" data-title="Check | check-survey/icon @ State=error" type="text/template">
	<div class="field">
		<dl class="invest-qna survey">
			<dd class="answer-list">
				<div class="item">
					<input type="checkbox" class="-error" name="radio113" id="checkbox1-313" checked>
					<label for="checkbox1-313" class="invest-unit -icon1">현재 일정한 수입이 없거나, 연금 등이 주
						수입원임</label>
					<div class="invest-notice">
						<div class="inner">
							<span class="message -error">다시 확인해 주세요.</span>
							<div class="message">
								내용을 입력해 주세요.
							</div>
						</div>
					</div>
				</div>
			</dd>
		</dl>
	</div>
</script>
<script data-size="2" data-title="Check | check-survey/icon @ State=selected" type="text/template">
	<div class="field">
		<dl class="invest-qna survey">
			<dd class="answer-list">
				<div class="item">
					<input type="checkbox" name="radio113" id="checkbox1-212" checked>
					<label for="checkbox1-212" class="invest-unit -icon1">현재 수입이 일정하지만, 향후 감소하거나 불안정할
						것으로 예상</label>
					<div class="invest-notice">
						<div class="inner">
							<span class="message point">정답 입니다.</span>
							<div class="message">
								내용을 입력해 주세요.
							</div>
						</div>
					</div>
				</div>
			</dd>
		</dl>
	</div>
</script>
		<!-- NDS components : E -->
	</div>
	<!-- NDS Script -->
	<script src="./../assets/libs/jquery/jquery-3.6.0.min.js"></script>
	<script src="./../assets/libs/anime/lib/anime.min.js"></script>
	<script src="./../assets/js/nds-ui.js"></script>
	<!-- Guide Script -->
	<script src="./../guide/js/guide.js"></script>
	<script>
		buildGuide();
	</script>
</html>