<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title></title>
	<!-- NDS CSS -->
	<link rel="stylesheet" href="./../assets/css/nds-ui.css" />
	<!-- Guide CSS -->
	<link rel="stylesheet" href="./../guide/css/guide.css" />
</head>
<body>
	<div class="gl">
		<!-- NDS components : S -->
<script data-size="2" data-title="Chip | chip-accordion @ State=none, Menu=2-menu" type="text/template">
	<div class="popular-search chip">
		<!-- 인기검색어 열림 상태 : popular-anchors 에 -active 클래스 추가 -->
		<div class="popular-anchors accordion" aria-expanded="false">
			<div class="outer">
				<div class="inner over-x">
					<ul class="list tab">
						<!-- 버튼 선택시 -active 클래스 추가  -->
						<li class="item"><button type="button" class="hash-btn -active">메뉴</button></li>
						<li class="item"><button type="button" class="hash-btn">메뉴</button></li>
					</ul>
				</div>
				<button type="button" class="more" onclick="morebtn(this)"><span class="hide">펼치기</span></button>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Chip | chip-accordion @ State=none, Menu=3-menu" type="text/template">
	<div class="popular-search chip">
		<!-- 인기검색어 열림 상태 : popular-anchors 에 -active 클래스 추가 -->
		<div class="popular-anchors accordion" aria-expanded="false">
			<div class="outer">
				<div class="inner over-x">
					<ul class="list tab">
						<!-- 버튼 선택시 -active 클래스 추가  -->
						<li class="item"><button type="button" class="hash-btn -active">메뉴</button></li>
						<li class="item"><button type="button" class="hash-btn">메뉴</button></li>
						<li class="item"><button type="button" class="hash-btn">메뉴</button></li>
					</ul>
				</div>
				<button type="button" class="more" onclick="morebtn(this)"><span class="hide">펼치기</span></button>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Chip | chip-accordion @ State=none, Menu=4-menu" type="text/template">
	<div class="popular-search chip">
		<!-- 인기검색어 열림 상태 : popular-anchors 에 -active 클래스 추가 -->
		<div class="popular-anchors accordion" aria-expanded="false">
			<div class="outer">
				<div class="inner over-x">
					<ul class="list tab">
						<!-- 버튼 선택시 -active 클래스 추가  -->
						<li class="item"><button type="button" class="hash-btn -active">메뉴</button></li>
						<li class="item"><button type="button" class="hash-btn">메뉴</button></li>
						<li class="item"><button type="button" class="hash-btn">메뉴</button></li>
						<li class="item"><button type="button" class="hash-btn">메뉴</button></li>
					</ul>
				</div>
				<button type="button" class="more" onclick="morebtn(this)"><span class="hide">펼치기</span></button>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Chip | chip-accordion @ State=none, Menu=5-menu" type="text/template">
	<div class="popular-search chip">
		<!-- 인기검색어 열림 상태 : popular-anchors 에 -active 클래스 추가 -->
		<div class="popular-anchors accordion" aria-expanded="false">
			<div class="outer">
				<div class="inner over-x">
					<ul class="list tab">
						<!-- 버튼 선택시 -active 클래스 추가  -->
						<li class="item"><button type="button" class="hash-btn -active">메뉴</button></li>
						<li class="item"><button type="button" class="hash-btn">메뉴</button></li>
						<li class="item"><button type="button" class="hash-btn">메뉴</button></li>
						<li class="item"><button type="button" class="hash-btn">메뉴</button></li>
						<li class="item"><button type="button" class="hash-btn">메뉴</button></li>
					</ul>
				</div>
				<button type="button" class="more" onclick="morebtn(this)"><span class="hide">펼치기</span></button>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Chip | chip-accordion @ State=open, Menu=none" type="text/template">
	<div class="popular-search chip">
		<!-- 인기검색어 열림 상태 : popular-anchors 에 -active 클래스 추가 -->
		<div class="popular-anchors accordion -active" aria-expanded="true">
			<div class="outer">
				<div class="inner over-x">
					<ul class="list tab">
						<li class="item"><button type="button" class="hash-btn">#목돈모으기</button></li>
						<li class="item"><button type="button" class="hash-btn">#주택청약</button></li>
						<li class="item"><button type="button" class="hash-btn">#주택전세자금</button></li>
						<!-- 버튼 선택시 -active 클래스 추가  -->
						<li class="item"><button type="button" class="hash-btn -active">#청소년</button></li>
						<li class="item"><button type="button" class="hash-btn">#주거래우대</button></li>
						<li class="item"><button type="button" class="hash-btn">#여행</button></li>
						<li class="item"><button type="button" class="hash-btn">#환테크</button></li>
						<li class="item"><button type="button" class="hash-btn">#세태크</button></li>
						<li class="item"><button type="button" class="hash-btn">#노후준비</button></li>
					</ul>
				</div>
				<button type="button" class="more" onclick="morebtn(this)"><span class="hide">펼치기</span></button>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Chip | chip-basic" type="text/template">
	<div class="filter-result">
		<div class="inner over-x">
			<div class="chip">버튼<button type="button" class="compare-delete"><span class="hide">삭제</span></button></div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Chip | chip-single @ State=active" type="text/template">
	<div class="popular-search chip">
		<!-- 인기검색어 열림 상태 : popular-anchors 에 -active 클래스 추가 -->
		<div class="popular-anchors accordion">
			<div class="outer">
				<div class="inner over-x">
					<ul class="list tab">
						<!-- 버튼 선택시 -active 클래스 추가  -->
						<li class="item"><button type="button" class="hash-btn -active">메뉴</button></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Chip | chip-single @ State=default" type="text/template">
	<div class="popular-search chip">
		<!-- 인기검색어 열림 상태 : popular-anchors 에 -active 클래스 추가 -->
		<div class="popular-anchors accordion">
			<div class="outer">
				<div class="inner over-x">
					<ul class="list tab">
						<!-- 버튼 선택시 -active 클래스 추가  -->
						<li class="item"><button type="button" class="hash-btn">메뉴</button></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</script>
		<!-- NDS components : E -->
	</div>
	<!-- NDS Script -->
	<script src="./../assets/js/libs/jquery/jquery-3.6.0.min.js"></script>
	<script src="./../assets/js/libs/anime/lib/anime.min.js"></script>
	<script src="./../assets/js/nds-ui.js"></script>
	<!-- Guide Script -->
	<script src="./../guide/js/guide.js"></script>
	<script>
		buildGuide();
	</script>
</body>
</html>