<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>Attached file</title>
	<link rel="stylesheet" href="./../assets/css/nds-ui.css" />
	<link rel="stylesheet" href="./../worklist/assets/css/guide-components.css" />
</head>
<body>
	<div class="gl">
		<!-- NDS components : S -->
<script data-size="2" data-title="Empty | empty-result" type="text/template">
	<div class="empty result">
		<p class="message">조회 결과가 없습니다.</p>
	</div>
</script>
		<!-- NDS components : E -->
	</div>
	<!-- NDS Script -->
	<script src="./../assets/libs/jquery/jquery-3.6.0.min.js"></script>
	<script src="./../assets/libs/anime/lib/anime.min.js"></script>
	<script src="./../assets/js/common-ui.js"></script>
	<!-- Guide Script -->
	<script src="./../worklist/assets/js/guide.js"></script>
	<script>
		buildGuide();
	</script>
</html>