<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title></title>
	<!-- NDS CSS -->
	<link rel="stylesheet" href="./../assets/css/nds-common.css" />
	<link rel="stylesheet" href="./../assets/css/nds-components.css" />
	<!-- Guide CSS -->
	<link rel="stylesheet" href="./../guide/css/guide.css" />
</head>
<body>
	<div class="gl">
		<!-- NDS components : S -->
<div class="gc__heading">Line-Small</div>
<script data-size="2" data-title="Size=small; Color=gray" type="text/template">
	<span class="nds-label line-gray">Gray</span>
</script>
<script data-size="2" data-title="Size=small; Color=red" type="text/template">
	<span class="nds-label line-red">Red</span>
</script>
<script data-size="2" data-title="Size=small; Color=orange" type="text/template">
	<span class="nds-label line-orange">Orange</span>
</script>
<script data-size="2" data-title="Size=small; Color=yellow" type="text/template">
	<span class="nds-label line-yellow">Yellow</span>
</script>
<script data-size="2" data-title="Size=small; Color=green" type="text/template">
	<span class="nds-label line-green">Green</span>
</script>
<script data-size="2" data-title="Size=small; Color=blue" type="text/template">
	<span class="nds-label line-blue">Blue</span>
</script>
<script data-size="2" data-title="Size=small; Color=lightblue" type="text/template">
	<span class="nds-label line-lightblue">Lightblue</span>
</script>
<script data-size="2" data-title="Size=small; Color=skyblue" type="text/template">
	<span class="nds-label line-skyblue">Skyblue</span>
</script>
<script data-size="2" data-title="Size=small; Color=navy" type="text/template">
	<span class="nds-label line-navy">Navy</span>
</script>

<div class="gc__heading">Line-Large</div>
<script data-size="2" data-title="Size=large; Color=gray" type="text/template">
	<span class="nds-label -lg line-gray">Gray</span>
</script>
<script data-size="2" data-title="Size=large; Color=red" type="text/template">
	<span class="nds-label -lg line-red">Red</span>
</script>
<script data-size="2" data-title="Size=large; Color=orange" type="text/template">
	<span class="nds-label -lg line-orange">Orange</span>
</script>
<script data-size="2" data-title="Size=large; Color=yellow" type="text/template">
	<span class="nds-label -lg line-yellow">Yellow</span>
</script>
<script data-size="2" data-title="Size=large; Color=green" type="text/template">
	<span class="nds-label -lg line-green">Green</span>
</script>
<script data-size="2" data-title="Size=large; Color=blue" type="text/template">
	<span class="nds-label -lg line-blue">Blue</span>
</script>
<script data-size="2" data-title="Size=large; Color=lightblue" type="text/template">
	<span class="nds-label -lg line-lightblue">Lightblue</span>
</script>
<script data-size="2" data-title="Size=large; Color=skyblue" type="text/template">
	<span class="nds-label -lg line-skyblue">Skyblue</span>
</script>
<script data-size="2" data-title="Size=large; Color=navy" type="text/template">
	<span class="nds-label -lg line-navy">Navy</span>
</script>

<div class="gc__heading">Fill-Small</div>
<script data-size="2" data-title="Size=small; Color=gray" type="text/template">
	<span class="nds-label fill-gray">Gray</span>
</script>
<script data-size="2" data-title="Size=small; Color=red" type="text/template">
	<span class="nds-label fill-red">Red</span>
</script>
<script data-size="2" data-title="Size=small; Color=orange" type="text/template">
	<span class="nds-label fill-orange">Orange</span>
</script>
<script data-size="2" data-title="Size=small; Color=yellow" type="text/template">
	<span class="nds-label fill-yellow">Yellow</span>
</script>
<script data-size="2" data-title="Size=small; Color=green" type="text/template">
	<span class="nds-label fill-green">Green</span>
</script>
<script data-size="2" data-title="Size=small; Color=blue" type="text/template">
	<span class="nds-label fill-blue">Blue</span>
</script>
<script data-size="2" data-title="Size=small; Color=lightblue" type="text/template">
	<span class="nds-label fill-lightblue">Lightblue</span>
</script>
<script data-size="2" data-title="Size=small; Color=skyblue" type="text/template">
	<span class="nds-label fill-skyblue">Skyblue</span>
</script>
<script data-size="2" data-title="Size=small; Color=navy" type="text/template">
	<span class="nds-label fill-navy">Navy</span>
</script>

<div class="gc__heading">Fill-Large</div>
<script data-size="2" data-title="Size=large; Color=gray" type="text/template">
	<span class="nds-label -lg fill-gray">Gray</span>
</script>
<script data-size="2" data-title="Size=large; Color=red" type="text/template">
	<span class="nds-label -lg fill-red">Red</span>
</script>
<script data-size="2" data-title="Size=large; Color=orange" type="text/template">
	<span class="nds-label -lg fill-orange">Orange</span>
</script>
<script data-size="2" data-title="Size=large; Color=yellow" type="text/template">
	<span class="nds-label -lg fill-yellow">Yellow</span>
</script>
<script data-size="2" data-title="Size=large; Color=green" type="text/template">
	<span class="nds-label -lg fill-green">Green</span>
</script>
<script data-size="2" data-title="Size=large; Color=blue" type="text/template">
	<span class="nds-label -lg fill-blue">Blue</span>
</script>
<script data-size="2" data-title="Size=large; Color=lightblue" type="text/template">
	<span class="nds-label -lg fill-lightblue">Lightblue</span>
</script>
<script data-size="2" data-title="Size=large; Color=skyblue" type="text/template">
	<span class="nds-label -lg fill-skyblue">Skyblue</span>
</script>
<script data-size="2" data-title="Size=large; Color=navy" type="text/template">
	<span class="nds-label -lg fill-navy">Navy</span>
</script>

<div class="gc__heading">Grade-Small</div>
<script data-size="2" data-title="Size=small; grade=1" type="text/template">
	<span class="nds-label -grade1">Grade 1</span>
</script>
<script data-size="2" data-title="Size=small; grade=2" type="text/template">
	<span class="nds-label -grade2">Grade 2</span>
</script>
<script data-size="2" data-title="Size=small; grade=3" type="text/template">
	<span class="nds-label -grade3">Grade 3</span>
</script>
<script data-size="2" data-title="Size=small; grade=4" type="text/template">
	<span class="nds-label -grade4">Grade 4</span>
</script>
<script data-size="2" data-title="Size=small; grade=5" type="text/template">
	<span class="nds-label -grade5">Grade 5</span>
</script>
<script data-size="2" data-title="Size=small; grade=6" type="text/template">
	<span class="nds-label -grade6">Grade 6</span>
</script>

<div class="gc__heading">Grade-Large</div>
<script data-size="2" data-title="Size=large; grade=1" type="text/template">
	<span class="nds-label -lg -grade1">Grade 1</span>
</script>
<script data-size="2" data-title="Size=large; grade=2" type="text/template">
	<span class="nds-label -lg -grade2">Grade 2</span>
</script>
<script data-size="2" data-title="Size=large; grade=3" type="text/template">
	<span class="nds-label -lg -grade3">Grade 3</span>
</script>
<script data-size="2" data-title="Size=large; grade=4" type="text/template">
	<span class="nds-label -lg -grade4">Grade 4</span>
</script>
<script data-size="2" data-title="Size=large; grade=5" type="text/template">
	<span class="nds-label -lg -grade5">Grade 5</span>
</script>
<script data-size="2" data-title="Size=large; grade=6" type="text/template">
	<span class="nds-label -lg -grade6">Grade 6</span>
</script>

<div class="gc__heading">Text</div>
<script data-size="2" data-title="" type="text/template">
	<label for="form-component-id" class="nds-label -form">폼 라벨</label>
</script>
		<!-- NDS components : E -->
	</div>
	<!-- NDS Script -->
	<script src="./../assets/libs/jquery/jquery-3.6.0.min.js"></script>
	<script src="./../assets/libs/anime/lib/anime.min.js"></script>
	<script src="./../assets/js/nds-ui.js"></script>
	<!-- Guide Script -->
	<script src="./../guide/js/guide.js"></script>
	<script>
		buildGuide();
	</script>
</body>
</html>