<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title></title>
	<!-- NDS CSS -->
	<link rel="stylesheet" href="./../assets/css/nds-common.css" />
	<link rel="stylesheet" href="./../assets/css/nds-components.css" />
	<!-- Guide CSS -->
	<link rel="stylesheet" href="./../guide/css/guide.css" />
</head>
<body>
	<div class="gl">
		<!-- NDS components : S -->
<script data-size="2" data-title="Label | label-fill/color-lg @ Color=blue" type="text/template">
	<span class="badge fill-blue -lg">라벨</span>
</script>
<script data-size="2" data-title="Label | label-fill/color-lg @ Color=gray" type="text/template">
	<span class="badge fill-gray -lg">라벨</span>
</script>
<script data-size="2" data-title="Label | label-fill/color-lg @ Color=green" type="text/template">
	<span class="badge fill-green -lg">라벨</span>
</script>
<script data-size="2" data-title="Label | label-fill/color-lg @ Color=red" type="text/template">
	<span class="badge fill-red -lg">라벨</span>
</script>
<script data-size="2" data-title="Label | label-fill/color-lg @ Color=yellow" type="text/template">
	<span class="badge fill-yellow -lg">라벨</span>
</script>
<script data-size="2" data-title="Label | label-fill/color-sm @ Color=gray" type="text/template">
	<span class="badge fill-gray -sm">라벨</span>
</script>
<script data-size="2" data-title="Label | label-fill/color-sm @ Color=green" type="text/template">
	<span class="badge fill-green -sm">라벨</span>
</script>
<script data-size="2" data-title="Label | label-fill/color-sm @ Color=red" type="text/template">
	<span class="badge fill-red -sm">라벨</span>
</script>
<script data-size="2" data-title="Label | label-fill/color-sm @ Color=skyblue" type="text/template">
	<span class="badge fill-skyblue -sm">라벨</span>
</script>
<script data-size="2" data-title="Label | label-fill/color-sm @ Color=yellow" type="text/template">
	<span class="badge fill-yellow -sm">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/color-lg @ Color=blue" type="text/template">
	<span class="badge line-blue -lg">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/color-lg @ Color=gray" type="text/template">
	<span class="badge line-gray -lg">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/color-lg @ Color=green" type="text/template">
	<span class="badge line-green -lg">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/color-lg @ Color=lightblue" type="text/template">
	<span class="badge line-lightblue -lg">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/color-lg @ Color=navy" type="text/template">
	<span class="badge line-navy -lg">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/color-lg @ Color=orange" type="text/template">
	<span class="badge line-orange -lg">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/color-lg @ Color=red" type="text/template">
	<span class="badge line-red -lg">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/color-lg @ Color=skyblue" type="text/template">
	<span class="badge line-skyblue -lg">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/color-lg @ Color=yellow" type="text/template">
	<span class="badge line-yellow -lg">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/color-sm @ Color=blue" type="text/template">
	<span class="badge line-blue -sm">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/color-sm @ Color=gray" type="text/template">
	<span class="badge line-gray -sm">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/color-sm @ Color=green" type="text/template">
	<span class="badge line-green -sm">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/color-sm @ Color=lightblue" type="text/template">
	<span class="badge line-lightblue -sm">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/color-sm @ Color=navy" type="text/template">
	<span class="badge line-navy -sm">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/color-sm @ Color=orange" type="text/template">
	<span class="badge line-orange -sm">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/color-sm @ Color=red" type="text/template">
	<span class="badge line-red -sm">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/color-sm @ Color=skyblue" type="text/template">
	<span class="badge line-skyblue -sm">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/color-sm @ Color=yellow" type="text/template">
	<span class="badge line-yellow -sm">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/grade-sm @ Grade=grade1" type="text/template">
	<span class="badge -grade1">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/grade-sm @ Grade=grade2" type="text/template">
	<span class="badge -grade2">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/grade-sm @ Grade=grade3" type="text/template">
	<span class="badge -grade3">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/grade-sm @ Grade=grade4" type="text/template">
	<span class="badge -grade4">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/grade-sm @ Grade=grade5" type="text/template">
	<span class="badge -grade5">라벨</span>
</script>
<script data-size="2" data-title="Label | label-line/grade-sm @ Grade=grade6" type="text/template">
	<span class="badge -grade6">라벨</span>
</script>
<script data-size="2" data-title="Label | label-text-label" type="text/template">
	<label for="tlabel01" class="label">레이블</label>
</script>
		<!-- NDS components : E -->
	</div>
	<!-- NDS Script -->
	<script src="./../assets/libs/jquery/jquery-3.6.0.min.js"></script>
	<script src="./../assets/libs/anime/lib/anime.min.js"></script>
	<script src="./../assets/js/nds-ui.js"></script>
	<!-- Guide Script -->
	<script src="./../guide/js/guide.js"></script>
	<script>
		buildGuide();
	</script>
</body>
</html>