<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title></title>
	<!-- NDS CSS -->
	<link rel="stylesheet" href="./../assets/css/nds-common.css" />
	<link rel="stylesheet" href="./../assets/css/nds-components.css" />
	<!-- Guide CSS -->
	<link rel="stylesheet" href="./../guide/css/guide.css" />
</head>
<body>
	<div class="gl">
		<!-- NDS components : S -->
<script data-size="2" data-title="Link | link-category" type="text/template">
	<div class="link -category">
		<ul>
			<li>
				<a href="javascript:void(0)" class="certi-btn">
					<div class="certi -fss">
						<p class="title">카테고리</p>
						<p class="info">타이틀</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</script>
<script data-size="2" data-title="Link | link-category2" type="text/template">
	<div class="link -category -type02">
		<ul>
			<li>
				<a href="javascript:void(0)" class="certi-btn">
					<div class="certi -auto-pay">
						<p class="info">타이틀</p>
						<p class="title">카테고리</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</script>
<script data-size="2" data-title="Link | link-divide" type="text/template">
	<div class="link -divide">
		<ul>
			<li>
				<a href="javascript:void(0)"><span class="title">타이틀</span><span class="sub-info">부가설명</span></a>
			</li>
			<li>
				<a href="javascript:void(0)"><span class="title">타이틀</span><span class="sub-info">부가설명</span></a>
			</li>
		</ul>
	</div>
</script>
<script data-size="2" data-title="Link | link-horizontal" type="text/template">
	<div class="link -horizontal">
		<ul>
			<li><a href="javascript:void(0)" class="ico-prod">타이틀</a></li>
		</ul>
	</div>
</script>
<script data-size="2" data-title="Link | link-list" type="text/template">
	<div class="link -horizontal -list">
		<ul>
			<li>
				<a href="javascript:void(0)">
					<div class="certi">
						<span class="title">텍스트</span>
						<span class="info">텍스트</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</script>
<script data-size="2" data-title="Link | link-mix" type="text/template">
	<div class="link -mix">
		<ul>
			<li>
				<a href="javascript:void(0)" class="certi-btn">
					<div class="certi -folder">
						<p class="title">타이틀</p>
						<p class="info">부가설명</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</script>
<script data-size="2" data-title="Link | link-none" type="text/template">
	<div class="link none-bd">
		<ul>
			<li><a href="javascript:void(0)">타이틀</a></li>
		</ul>
	</div>
</script>
<script data-size="2" data-title="Link | link-price" type="text/template">
	<div class="link -price">
		<ul class="account-list"> <!-- 클래스 -lineless 추가시 border값이 사라집니다. -->
			<li>
				<div class="account-item">
					<div class="date">2024.01.01 01:01:01</div>
					<div class="type">출금</div>
					<div class="info">
						<div class="name">김농협</div>
						<div class="amount">5,000,000,000원</div>
					</div>
					<div class="sub-info">부가설명</div>
					<div class="sub-txt right">잔액 5,000,000,000원</div>
				</div>
			</li>
		</ul>
	</div>
</script>
<script data-size="2" data-title="Link | link-product" type="text/template">
	<div class="link -product">
		<ul>
			<li>
				<a href="javascript:void(0)">
					<div class="title">
						<span>타이틀</span>
						<span class="badge line-gray -sm">라벨</span>
					</div>
					<p class="info">부가설명</p>
					<div class="rate">
						<span class="high">최고 0%</span>
						<span class="low">최고 0%</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</script>
<script data-size="2" data-title="Link | link-vertical" type="text/template">
	<div class="link -vertical">
		<ul>
			<li>
				<a href="javascript:void(0)" class="auth-btn">
					<div class="auth-icon-num">
						타이틀
					</div>
				</a>
			</li>
		</ul>
	</div>
</script>
		<!-- NDS components : E -->
	</div>
	<!-- NDS Script -->
	<script src="./../assets/libs/jquery/jquery-3.6.0.min.js"></script>
	<script src="./../assets/libs/anime/lib/anime.min.js"></script>
	<script src="./../assets/js/nds-ui.js"></script>
	<!-- Guide Script -->
	<script src="./../guide/js/guide.js"></script>
	<script>
		buildGuide();
	</script>
</html>