<script data-size="2" data-title="Load data | load-data-basic" type="text/template">
                            <div class="field load-data">
                                <label for="data-rd" class="label">레이블</label>
                                <div class="data-box" id="data-rd">
                                    <div class="data-box-title">Label</div>
                                    <div class="data-box-content">Data</div>
                                </div>
                                <p class="info">안내 문구 입력</p>
                            </div>
                        </script>
<script data-size="2" data-title="Load data | load-data-highlight" type="text/template">
                            <div class="field load-data -highlight">
                                <label for="data-rd" class="label">레이블</label>
                                <div class="data-box" id="data-rd">
                                    <div class="data-box-title">
                                        <span class="data-box-main">Label</span>
                                        <span class="data-box-info">부가설명</span>
                                    </div>
                                    <div class="data-box-content">Data</div>
                                </div>
                                <p class="info">안내 문구 입력</p>
                            </div>
                        </script>