<script data-size="2" data-title="Navigation | navigation-bottom/allone" type="text/template">
                            <div class="linked-bottom-menu">
                                <a href="javascript:void(0);" class="linked-home" role="button" title="선택됨">홈</a>
                                <a href="javascript:void(0);" class="linked-mall" role="button">상품몰</a>
                                <a href="javascript:void(0);" class="linked-mydata" role="button">내 자산</a>
                                <a href="javascript:void(0);" class="linked-point" role="button">포인트쌓기</a>
                                <a href="javascript:void(0);" class="linked-life" role="button">생활혜택</a>
                            </div>
                        </script>
<script data-size="2" data-title="Navigation | navigation-bottom/smartbanking" type="text/template">
                            <div class="linked-bottom-menu sb-link">
                                <a href="javascript:void(0);" class="linked-sbhome" role="button" title="선택됨">홈</a>
                                <a href="javascript:void(0);" class="linked-sbmall" role="button">금융상품몰</a>
                                <a href="javascript:void(0);" class="linked-sbmydata" role="button">마이데이터</a>
                                <a href="javascript:void(0);" class="linked-sbtalk" role="button">상담톡</a>
                            </div>
                        </script>
<script data-size="2" data-title="Navigation | navigation-top/basic" type="text/template">
                            <div class="page">
                                <div class="container">
                                    <div class="navigation">
                                        <header class="header top">
                                            <div class="inner basic">
                                                <div class="funcs">
                                                    <button type="button" class="func -back"><span class="hide">뒤로가기</span></button>
                                                </div>
                                                <h1 class="title">서비스 타이틀</h1>
                                                <div class="funcs">
                                                    <button type="button" class="func -home"><span class="hide">홈</span></button>
                                                    <button type="button" class="func -menu"><span class="hide">전체메뉴</span></button>
                                                </div>
                                            </div>
                                        </header>
                                    </div>
                                    <main class="contents"></main>
                                </div>
                            </div>
                        </script>
<script data-size="2" data-title="Navigation | navigation-top/basic-mall" type="text/template">
                            <div class="page">
                                <div class="container">
                                    <div class="navigation -mall">
                                        <header class="header top">
                                            <div class="inner basic">
                                                <div class="funcs">
                                                    <button type="button" class="func -back"><span class="hide">뒤로가기</span></button>
                                                </div>
                                                <h1 class="title">서비스 타이틀</h1>
                                                <div class="funcs">
                                                    <button type="button" class="func -home"><span class="hide">홈</span></button>
                                                    <button type="button" class="func -menu"><span class="hide">전체메뉴</span></button>
                                                </div>
                                            </div>
                                        </header>
                                    </div>
                                    <main class="contents"></main>
                                </div>
                            </div>
                        </script>
<script data-size="2" data-title="Navigation | navigation-top/basic-smartbank" type="text/template">
                            <div class="page">
                                <div class="container">
                                    <div class="navigation smartbank -mall">
                                        <header class="header top">
                                            <div class="inner basic">
                                                <div class="funcs">
                                                    <button type="button" class="func -back"><span class="hide">뒤로가기</span></button>
                                                </div>
                                                <h1 class="title">서비스 타이틀</h1>
                                                <div class="funcs">
                                                    <button type="button" class="func -home"><span class="hide">홈</span></button>
                                                    <button type="button" class="func -menu"><span class="hide">전체메뉴</span></button>
                                                </div>
                                            </div>
                                        </header>
                                    </div>
                                    <main class="contents"></main>
                                </div>
                            </div>
                        </script>
<script data-size="2" data-title="Navigation | navigation-top/full-popup" type="text/template">
                            <div class="popup -active">
                                <div class="navigation">
                                    <div class="header">
                                        <div class="inner">
                                            <h1 class="title">서비스 타이틀</h1>
                                            <div class="funcs">
                                                <button type="button" class="func -download"><span class="hide">다운로드</span></button>
                                                <button type="button" class="func -close"><span class="hide">닫기</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </script>
<script data-size="2" data-title="Navigation | navigation-top/full-popup-product" type="text/template">
                            <div class="popup -active">
                                <div class="navigation -product">
                                    <div class="header">
                                        <div class="inner">
                                            <h1 class="title">서비스 타이틀</h1>
                                            <div class="funcs">
                                                <button type="button" class="func -close"><span class="hide">닫기</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </script>
<script data-size="2" data-title="Navigation | navigation-top/login" type="text/template">
                            <div class="popup -active">
                                <div class="navigation -login">
                                    <div class="header">
                                        <div class="inner -fullpop">
                                            <div class="funcs">
                                                <button type="button" class="func -back"><span class="hide">뒤로가기</span></button>
                                            </div>
                                            <h1 class="title -allone-logo">
                                                <img src="./assets/imgs/nds/common/img_nh-allone_24.png" alt="NH올원뱅크 타이틀 로고">
                                            </h1>
                                            <div class="funcs">
                                                <button type="button" class="func -menu"><span class="hide">전체메뉴</span></button>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </script>
<script data-size="2" data-title="Navigation | navigation-top/main" type="text/template">
                            <div class="page">
                                <div class="container">
                                    <div class="navigation">
                                        <header class="header top">
                                            <div class="main-header">
                                                <div class="funcs">
                                                    <p class="user-name"><a href="javascript:void(0)" class="a -arrow"><strong class="ellipsis">김농협</strong>님</a></p>
                                                </div>
                                                <div class="funcs">
                                                    <button type="button" class="func -bigsize">
                                                        <span class="hide">큰글</span>
                                                    </button>
                                                    <!--
                                                        알림 활성화시 클래스 -active 추가
                                                        <button type="button" class="func -alarm -active"> ... </button>
                                                    -->
                                                    <button type="button" class="func -alarm -active">
                                                        <!-- 알림 활성화시 텍스트 변경 -->
                                                        <span class="hide">새로운 알람이 있습니다.</span>
                                                        <!-- <span class="hide">알람</span> -->
                                                    </button>
                                                    <button type="button" class="func -menu">
                                                        <span class="hide">전체메뉴</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </header>
                                    </div>
                                    <main class="contents"></main>
                                </div>
                            </div>
                        </script>
<script data-size="2" data-title="Navigation | navigation-top/main-mall" type="text/template">
                            <div class="page">
                                <div class="container">
                                    <div class="navigation">
                                        <header class="header top">
                                            <div class="main-header">
                                                <h1 class="title">서비스 타이틀</h1>
                                                <div class="funcs">
                                                    <button type="button" class="func -cart"><span class="hide">장바구니</span>
                                                        <span class="cart-badge-wrap">
                                                            <span class="cart-num">2</span>
                                                            <span class="cart-badge"></span>
                                                        </span>
                                                    </button>
                                                    <button type="button" class="func -menu"><span class="hide">메뉴</span></button>
                                                </div>
                                            </div>
                                        </header>
                                    </div>
                                    <main class="contents"></main>
                                </div>
                            </div>
                        </script>
<script data-size="2" data-title="Navigation | navigation-top/mydata" type="text/template">
                            <div class="popup -active">
                                <div class="navigation">
                                    <div class="header">
                                        <div class="inner -fullpop">
                                            <div class="funcs">
                                                <button type="button" class="func -back"><span class="hide">뒤로가기</span></button>
                                            </div>
                                            <h1 class="title -allone-logo">
                                                <img src="./assets/imgs/nds/common/img_nh-mydata_24.png" alt="NH마이데이터터 타이틀 로고">
                                            </h1>
                                            <div class="funcs">
                                                <button type="button" class="func -home"><span class="hide">홈</span></button>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </script>
<script data-size="2" data-title="Navigation | navigation-top/partnership" type="text/template">
                            <div class="popup -active">
                                <div class="navigation">
                                    <div class="header">
                                        <div class="inner -fullpop">
                                            <div class="funcs">
                                                <button type="button" class="func -back"><span class="hide">뒤로가기</span></button>
                                            </div>
                                            <h1 class="title">서비스 타이틀</h1>
                                            <div class="funcs">
                                                <button type="button" class="func"><span class="">닫기</span></button>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </script>
<script data-size="2" data-title="Navigation | navigation-top/process" type="text/template">
                            <div class="page">
                                <div class="navigation">
                                    <header class="header top">
                                        <div class="inner process">
                                            <div class="funcs">
                                                <button type="button" class="func -back"><span class="hide">뒤로가기</span></button>
                                            </div>
                                            <h1 class="title">서비스 타이틀</h1>
                                            <div class="funcs">
                                                <button type="button" class="func">취소</button>
                                            </div>
                                        </div>
                                    </header>
                                </div>
                                <main class="contents"></main>
                            </div>
                        </script>
<script data-size="2" data-title="Navigation | navigation-top/process-mall" type="text/template">
                            <div class="page">
                                <div class="navigation -mall">
                                    <header class="header top">
                                        <div class="inner process">
                                            <div class="funcs">
                                                <button type="button" class="func -back"><span class="hide">뒤로가기</span></button>
                                            </div>
                                            <h1 class="title">서비스 타이틀</h1>
                                            <div class="funcs">
                                                <button type="button" class="func -cs"><span class="hide">상담하기</span></button>
                                                <button type="button" class="func">취소</button>
                                            </div>
                                        </div>
                                    </header>
                                </div>
                                <main class="contents"></main>
                            </div>
                        </script>
<script data-size="2" data-title="Navigation | navigation-top/tooltip" type="text/template">
                            <div class="popup -active">
                                <div class="navigation">
                                    <div class="header">
                                        <div class="inner -fullpop">
                                            <div class="funcs">
                                                <button type="button" class="func -back"><span class="hide">뒤로가기</span></button>
                                            </div>
                                            <h1 class="title t-tip">
                                                <span>서비스 타이틀</span>
                                                <span class="tooltip">
                                                    <button type="button" class="tooltip-button" aria-haspopup="true"><span class="hide">툴팁</span></button>
                                                </span>
                                            </h1>
                                            <div class="funcs">
                                                <button type="button" class="func">취소</button>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </script>