<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>Attached file</title>
	<link rel="stylesheet" href="./../assets/css/nds-ui.css" />
	<link rel="stylesheet" href="./../worklist/assets/css/guide-components.css" />
</head>
<body>
	<div class="gl">
		<!-- NDS components : S -->
<script data-size="2" data-title="Popover | popover-basic @ Type=bottom-center" type="text/template">
	<span class="popover -bc" style="opacity: 1;">텍스트를 입력해 주세요
		<button type="button" class="popover-close"><span class="hide">삭제</span></button>
	</span>
	<!-- 사용시 style="opacity: 1;" 삭제 -->
</script>
<script data-size="2" data-title="Popover | popover-basic @ Type=bottom-left" type="text/template">
	<span class="popover -bl" style="opacity: 1;">텍스트를 입력해 주세요
		<button type="button" class="popover-close"><span class="hide">삭제</span></button>
	</span>
	<!-- 사용시 style="opacity: 1;" 삭제 -->
</script>
<script data-size="2" data-title="Popover | popover-basic @ Type=bottom-right" type="text/template">
	<span class="popover -br" style="opacity: 1;">텍스트를 입력해 주세요
		<button type="button" class="popover-close"><span class="hide">삭제</span></button>
	</span>
	<!-- 사용시 style="opacity: 1;" 삭제 -->
</script>
<script data-size="2" data-title="Popover | popover-basic @ Type=top-center" type="text/template">
	<span class="popover -tc" style="opacity: 1;">텍스트를 입력해 주세요
		<button type="button" class="popover-close"><span class="hide">삭제</span></button>
	</span>
	<!-- 사용시 style="opacity: 1;" 삭제 -->
</script>
<script data-size="2" data-title="Popover | popover-basic @ Type=top-left" type="text/template">
	<span class="popover -tl" style="opacity: 1;">텍스트를 입력해 주세요
		<button type="button" class="popover-close"><span class="hide">삭제</span></button>
	</span>
	<!-- 사용시 style="opacity: 1;" 삭제 -->
</script>
<script data-size="2" data-title="Popover | popover-basic @ Type=top-right" type="text/template">
	<span class="popover -tr" style="opacity: 1;">텍스트를 입력해 주세요
		<button type="button" class="popover-close"><span class="hide">삭제</span></button>
	</span>
	<!-- 사용시 style="opacity: 1;" 삭제 -->
</script>
		<!-- NDS components : E -->
	</div>
	<!-- NDS Script -->
	<script src="./../assets/libs/jquery/jquery-3.6.0.min.js"></script>
	<script src="./../assets/libs/anime/lib/anime.min.js"></script>
	<script src="./../assets/js/common-ui.js"></script>
	<!-- Guide Script -->
	<script src="./../worklist/assets/js/guide.js"></script>
	<script>
		buildGuide();
	</script>
</html>