<script data-size="2" data-title="Popover | popover-basic @ Type=bottom-center" type="text/template">
                            <span class="popover -bc" style="opacity: 1;">텍스트를 입력해 주세요
                                <button type="button" class="popover-close"><span class="hide">삭제</span></button>
                            </span>
                            <!-- 사용시 style="opacity: 1;" 삭제 -->
                        </script>
<script data-size="2" data-title="Popover | popover-basic @ Type=bottom-left" type="text/template">
                            <span class="popover -bl" style="opacity: 1;">텍스트를 입력해 주세요
                                <button type="button" class="popover-close"><span class="hide">삭제</span></button>
                            </span>
                            <!-- 사용시 style="opacity: 1;" 삭제 -->
                        </script>
<script data-size="2" data-title="Popover | popover-basic @ Type=bottom-right" type="text/template">
                            <span class="popover -br" style="opacity: 1;">텍스트를 입력해 주세요
                                <button type="button" class="popover-close"><span class="hide">삭제</span></button>
                            </span>
                            <!-- 사용시 style="opacity: 1;" 삭제 -->
                        </script>
<script data-size="2" data-title="Popover | popover-basic @ Type=top-center" type="text/template">
                            <span class="popover -tc" style="opacity: 1;">텍스트를 입력해 주세요
                                <button type="button" class="popover-close"><span class="hide">삭제</span></button>
                            </span>
                            <!-- 사용시 style="opacity: 1;" 삭제 -->
                        </script>
<script data-size="2" data-title="Popover | popover-basic @ Type=top-left" type="text/template">
                            <span class="popover -tl" style="opacity: 1;">텍스트를 입력해 주세요
                                <button type="button" class="popover-close"><span class="hide">삭제</span></button>
                            </span>
                            <!-- 사용시 style="opacity: 1;" 삭제 -->
                        </script>
<script data-size="2" data-title="Popover | popover-basic @ Type=top-right" type="text/template">
                            <span class="popover -tr" style="opacity: 1;">텍스트를 입력해 주세요
                                <button type="button" class="popover-close"><span class="hide">삭제</span></button>
                            </span>
                            <!-- 사용시 style="opacity: 1;" 삭제 -->
                        </script>