<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title></title>
	<!-- NDS CSS -->
	<link rel="stylesheet" href="./../assets/css/nds-common.css" />
	<link rel="stylesheet" href="./../assets/css/nds-components.css" />
	<!-- Guide CSS -->
	<link rel="stylesheet" href="./../guide/css/guide.css" />
</head>
<body>
	<div class="gl">
		<!-- NDS components : S -->
<script data-size="2" data-title="Radio | # base/base-box-center-sm @ Type=3ea" type="text/template">
<div class="box-radios -box -sm">
	<div class="box-radio">
		<input type="radio" name="period11234458" id="box-radio1-111108">
		<label for="box-radio1-111108">입력</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period11234458" id="box-radio1-1111089">
		<label for="box-radio1-1111089">입력</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period11234458" id="box-radio1-11110899">
		<label for="box-radio1-11110899">입력</label>
	</div>
</div>
</script>

<script data-size="2" data-title="Radio | # base/base-radio-survey-yn @ Type=n, State=selected" type="text/template">
<div class="box-radios survey">
	<div class="box-radio -yn -left">
		<input type="radio" name="radio140" id="radio14-10">
		<label for="radio14-10">예</label>
	</div>
	<div class="box-radio -yn -left">
		<input type="radio" name="radio140" id="radio14-20" checked>
		<label for="radio14-20">아니요</label>
	</div>
</div> 
</script>

<script data-size="2" data-title="Radio | # base/base-radio-survey-yn @ Type=n, State=error" type="text/template">
<div class="box-radios survey">
	<div class="box-radio -yn -left">
		<input type="radio" name="radio1401" id="radio14-101">
		<label for="radio14-101">예</label>
	</div>
	<div class="box-radio -yn -left">
		<input type="radio" name="radio1401" id="radio14-201" class="-error" checked>
		<label for="radio14-201">아니요</label>
	</div>
</div> 
</script>

<script data-size="2" data-title="Radio | # base/base-radio-survey-yn @ Type=y, State=selected" type="text/template">
<div class="box-radios survey">
	<div class="box-radio -yn -left">
		<input type="radio" name="radio140123" id="radio14-10123" checked>
		<label for="radio14-10123">예</label>
	</div>
	<div class="box-radio -yn -left">
		<input type="radio" name="radio140123" id="radio14-20123">
		<label for="radio14-20123">아니요</label>
	</div>
</div> 
</script>

<script data-size="2" data-title="Radio | # base/base-radio-survey-yn @ Type=y, State=error" type="text/template">
<div class="box-radios survey">
	<div class="box-radio -yn -left">
		<input type="radio" name="radio1401234" id="radio14-101234" class="-error" checked>
		<label for="radio14-101234">예</label>
	</div>
	<div class="box-radio -yn -left">
		<input type="radio" name="radio1401234" id="radio14-201234">
		<label for="radio14-201234">아니요</label>
	</div>
</div> 
</script>

<script data-size="2" data-title="Radio | # base/base-radio-survey-yn @ Type=n, State=default" type="text/template">
<div class="box-radios survey">
	<div class="box-radio -yn -left">
		<input type="radio" name="radio14012" id="radio14-1012">
		<label for="radio14-1012">예</label>
	</div>
	<div class="box-radio -yn -left">
		<input type="radio" name="radio14012" id="radio14-2012">
		<label for="radio14-2012">아니요</label>
	</div>
</div> 
</script>

<script data-size="2" data-title="Radio | # base/base-radio-survey-yn @ Type=y, State=default" type="text/template">
<div class="box-radios survey">
	<div class="box-radio -yn -left">
		<input type="radio" name="radio14012345" id="radio14-1012345">
		<label for="radio14-1012345">예</label>
	</div>
	<div class="box-radio -yn -left">
		<input type="radio" name="radio14012345" id="radio14-2012345">
		<label for="radio14-2012345">아니요</label>
	</div>
</div> 
</script>

<script data-size="2" data-title="Radio | # base/base-box-center-lg @ Type=4ea" type="text/template">
<div class="box-radios -box -lg">
	<div class="box-radio">
		<input type="radio" name="period1234450103" id="box-radio1-11100704">
		<label for="box-radio1-11100704">라디오</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period1234450103" id="box-radio1-1110070035">
		<label for="box-radio1-1110070035">라디오</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period1234450103" id="box-radio1-11100706">
		<label for="box-radio1-11100706">라디오</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period1234450103" id="box-radio1-1110070037">
		<label for="box-radio1-1110070037">라디오</label>
	</div>
</div>
</script>

<script data-size="2" data-title="Radio | # base/base-box-center-sm @ Type=6ea" type="text/template">
<div class="box-radios -box -sm">
	<div class="box-radio">
		<input type="radio" name="period1123445800" id="box-radio1-7111108">
		<label for="box-radio1-7111108">입력</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period1123445800" id="box-radio1-81111089">
		<label for="box-radio1-81111089">입력</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period1123445800" id="box-radio1-911110899">
		<label for="box-radio1-911110899">입력</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period1123445800" id="box-radio1-0111108">
		<label for="box-radio1-0111108">입력</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period1123445800" id="box-radio1-21111089">
		<label for="box-radio1-21111089">입력</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period1123445800" id="box-radio1-311110899">
		<label for="box-radio1-311110899">입력</label>
	</div>
</div>
</script>

<script data-size="2" data-title="Radio | # base/base-box-center-lg @ Type=3ea" type="text/template">
<div class="box-radios -box -lg">
	<div class="box-radio">
		<input type="radio" name="period1234450102" id="box-radio1-11100702">
		<label for="box-radio1-11100702">라디오</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period1234450102" id="box-radio1-111007002">
		<label for="box-radio1-111007002">라디오</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period1234450102" id="box-radio1-111007003">
		<label for="box-radio1-111007003">라디오</label>
	</div>
</div>
</script>

<script data-size="2" data-title="Radio | # base/base-box-center-lg @ Type=1ea" type="text/template">
<div class="box-radios -box -lg">
	<div class="box-radio">
		<input type="radio" name="period1234450101" id="box-radio1-11100701">
		<label for="box-radio1-11100701">라디오</label>
	</div>
</div>
</script>

<script data-size="2" data-title="Radio | # base/base-box-center-sm @ Type=1ea" type="text/template">
<div class="box-radios -box -sm">
	<div class="box-radio">
		<input type="radio" name="period11234457800" id="box-radio1-71111078">
		<label for="box-radio1-71111078">입력</label>
	</div>
</div>
</script>

<script data-size="2" data-title="Radio | # base/base-box-center-sm @ Type=2ea" type="text/template">
<div class="box-radios -box -sm">
	<div class="box-radio">
		<input type="radio" name="period11234458009" id="box-radio1-71111089">
		<label for="box-radio1-71111089">입력</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period11234458009" id="box-radio1-8111108999">
		<label for="box-radio1-8111108999">입력</label>
	</div>
</div>
</script>

<script data-size="2" data-title="Radio | # base/base-box-center-sm @ Type=5ea" type="text/template">
<div class="box-radios -box -sm">
	<div class="box-radio">
		<input type="radio" name="period112344580044" id="box-radio1-37111108">
		<label for="box-radio1-37111108">입력</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period112344580044" id="box-radio1-281111089">
		<label for="box-radio1-281111089">입력</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period112344580044" id="box-radio1-2911110899">
		<label for="box-radio1-2911110899">입력</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period112344580044" id="box-radio1-20111108">
		<label for="box-radio1-20111108">입력</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period112344580044" id="box-radio1-221111089">
		<label for="box-radio1-221111089">입력</label>
	</div>
</div>
</script>

<script data-size="2" data-title="Radio | # base/base-box-center-lg @ Type=2ea" type="text/template">
<div class="box-radios -box -lg">
	<div class="box-radio">
		<input type="radio" name="period123445010" id="box-radio1-1110070">
		<label for="box-radio1-1110070">라디오</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period123445010" id="box-radio1-11100700">
		<label for="box-radio1-11100700">라디오</label>
	</div>
</div>
</script>

<script data-size="2" data-title="Radio | # base/base-box-center-sm @ Type=4ea" type="text/template">
<div class="box-radios -box -sm">
	<div class="box-radio">
		<input type="radio" name="period11234458004410" id="box-radio1-371111081">
		<label for="box-radio1-371111081">입력</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period11234458004410" id="box-radio1-2811110891">
		<label for="box-radio1-2811110891">입력</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period11234458004410" id="box-radio1-29111108991">
		<label for="box-radio1-29111108991">입력</label>
	</div>
	<div class="box-radio">
		<input type="radio" name="period11234458004410" id="box-radio1-201111081">
		<label for="box-radio1-201111081">입력</label>
	</div>
</div>
</script>
<script data-size="2" data-title="Radio | radio-basic @ Size=lg, State=default" type="text/template">
	<div class="radio -basic -lg">
		<input type="radio" id="radio-lg">
		<label for="radio-lg">라디오</label>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-basic @ Size=lg, State=disabled" type="text/template">
	<div class="radio -basic -lg">
		<input type="radio" id="radio-lg2" disabled>
		<label for="radio-lg2">라디오</label>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-basic @ Size=lg, State=select-disabled" type="text/template">
	<div class="radio -basic -lg -seldis">
		<input type="radio" id="radio-lg3" disabled>
		<label for="radio-lg3">라디오</label>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-basic @ Size=lg, State=selected" type="text/template">
	<div class="radio -basic -lg">
		<input type="radio" id="radio-lg1" checked>
		<label for="radio-lg1">라디오</label>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-basic @ Size=sm, State=default" type="text/template">
	<div class="radio -basic -sm">
		<input type="radio" id="radio-sm1">
		<label for="radio-sm1">라디오</label>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-basic @ Size=sm, State=disabled" type="text/template">
	<div class="radio -basic -sm">
		<input type="radio" id="radio-sm3" disabled>
		<label for="radio-sm3">라디오</label>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-basic @ Size=sm, State=select-disabled" type="text/template">
	<div class="radio -basic -sm -seldis">
		<input type="radio" id="radio-sm4" disabled>
		<label for="radio-sm4">라디오</label>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-basic @ Size=sm, State=selected" type="text/template">
	<div class="radio -basic -sm">
		<input type="radio" id="radio-sm" checked>
		<label for="radio-sm2">라디오</label>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-box/center-lg @ Type=1line" type="text/template">
	<div class="field">
		<p class="label">레이블</p>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="radio" name="period123445" id="box-radio1-1110">
				<label for="box-radio1-1110">라디오</label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-box/center-lg @ Type=2line" type="text/template">
	<div class="field">
		<p class="label">레이블</p>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="radio" name="period1234450" id="box-radio1-11100">
				<label for="box-radio1-11100">라디오</label>
			</div>
		</div>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="radio" name="period1234450" id="box-radio1-100" checked>
				<label for="box-radio1-100">라디오</label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-box/center-lg @ Type=3line" type="text/template">
	<div class="field">
		<p class="label">레이블</p>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="radio" name="period12344501" id="box-radio1-111007">
				<label for="box-radio1-111007">라디오</label>
			</div>
		</div>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="radio" name="period12344501" id="box-radio1-111070" checked>
				<label for="box-radio1-111070">라디오</label>
			</div>
		</div>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="radio" name="period12344501" id="box-radio1-1110770" disabled>
				<label for="box-radio1-1110770">라디오</label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-box/center-lg @ Type=4line" type="text/template">
	<div class="field">
		<p class="label">레이블</p>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="radio" name="period1288" id="box-radio1-1211007">
				<label for="box-radio1-1211007">라디오</label>
			</div>
		</div>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="radio" name="period1288" id="box-radio1-1311070" checked>
				<label for="box-radio1-1311070">라디오</label>
			</div>
		</div>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="radio" name="period1288" id="box-radio1-14110770" disabled>
				<label for="box-radio1-14110770">라디오</label>
			</div>
		</div>
		<div class="box-radios -box -lg">
			<div class="box-radio">
				<input type="radio" name="period1288" id="box-radio1-12113007">
				<label for="box-radio1-12113007">라디오</label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-box/center-sm @ Type=1lline" type="text/template">
	<div class="field">
		<p class="label">레이블</p>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period1234458" id="box-radio1-11108">
				<label for="box-radio1-11108">입력</label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-box/center-sm @ Type=2lline" type="text/template">
	<div class="field">
		<p class="label">레이블</p>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period1278" id="box-radio1-111082">
				<label for="box-radio1-111082">입력</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period1278" id="box-radio1-111083" checked>
				<label for="box-radio1-111083">입력</label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-box/center-sm @ Type=3lline" type="text/template">
	<div class="field">
		<p class="label">레이블</p>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period78" id="box-radio1-1110828">
				<label for="box-radio1-1110828">입력</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period78" id="box-radio1-1110837" checked>
				<label for="box-radio1-1110837">입력</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period78" id="box-radio1-1110836" disabled>
				<label for="box-radio1-1110836">입력</label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-box/center-sm @ Type=4lline" type="text/template">
	<div class="field">
		<p class="label">레이블</p>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period787" id="box-radio1-8">
				<label for="box-radio1-8">입력</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period787" id="box-radio1-7" checked>
				<label for="box-radio1-7">입력</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period787" id="box-radio1-6" disabled>
				<label for="box-radio1-6">입력</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period787" id="box-radio1-5">
				<label for="box-radio1-5">입력</label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-box/center-sm @ Type=5lline" type="text/template">
	<div class="field">
		<p class="label">레이블</p>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period7874" id="box-radio1-87">
				<label for="box-radio1-87">입력</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period7874" id="box-radio1-78" checked>
				<label for="box-radio1-78">입력</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period7874" id="box-radio1-69" disabled>
				<label for="box-radio1-69">입력</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period7874" id="box-radio1-50">
				<label for="box-radio1-50">입력</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period7874" id="box-radio1-51">
				<label for="box-radio1-51">입력</label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-box/center-sm @ Type=6lline" type="text/template">
	<div class="field">
		<p class="label">레이블</p>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period78745" id="box-radio1-873">
				<label for="box-radio1-873">입력</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period78745" id="box-radio1-7833" checked>
				<label for="box-radio1-7833">입력</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period78745" id="box-radio1-69333" disabled>
				<label for="box-radio1-69333">입력</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period78745" id="box-radio1-5066">
				<label for="box-radio1-5066">입력</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period78745" id="box-radio1-5155">
				<label for="box-radio1-5155">입력</label>
			</div>
		</div>
		<div class="box-radios -box -sm">
			<div class="box-radio">
				<input type="radio" name="period78745" id="box-radio1-5111">
				<label for="box-radio1-5111">입력</label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-box/left-lg @ State=default" type="text/template">
	<div class="field">
		<div class="box-radios -box">
			<div class="box-radio -left">
				<input type="radio" name="radio4-19" id="radio4-19">
				<label for="radio4-19">라디오</label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-box/left-lg @ State=disabled" type="text/template">
	<div class="field">
		<div class="box-radios -box">
			<div class="box-radio -left">
				<input type="radio" name="radio4-19" id="radio4-119" disabled>
				<label for="radio4-119">라디오</label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-box/left-lg @ State=selected" type="text/template">
	<div class="field">
		<div class="box-radios -box">
			<div class="box-radio -left">
				<input type="radio" name="radio4-19" id="radio4-18" checked>
				<label for="radio4-18">라디오</label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-choose/icon @ Type=default" type="text/template">
	<div class="field">
		<div class="box-radios -box -choose">
			<div class="box-radio">
				<input type="radio" name="radio4-1" id="radio4-41">
				<label for="radio4-41" class="icon-retiree">라디오-텍스트</label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-choose/icon @ Type=disabled" type="text/template">
	<div class="field">
		<div class="box-radios -box -choose">
			<div class="box-radio">
				<input type="radio" name="radio4-1" id="radio4-471" disabled>
				<label for="radio4-471" class="icon-retiree">라디오-텍스트</label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-choose/icon @ Type=selected" type="text/template">
	<div class="field">
		<div class="box-radios -box -choose">
			<div class="box-radio">
				<input type="radio" name="radio4-1" id="radio4-4715" checked>
				<label for="radio4-4715" class="icon-retiree">라디오-텍스트</label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-explain/icon @ State=default" type="text/template">
	<div class="field">
		<div class="box-radios -explain -icon">
			<div class="box-radio -left">
				<input type="radio" name="period-point-color111" id="period-point-color22-111">
				<label for="period-point-color22-111">라디오-타이틀<span class="sub">서브텍스트</span></label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-explain/icon @ State=selected" type="text/template">
	<div class="field">
		<div class="box-radios -explain -icon">
			<div class="box-radio -left">
				<input type="radio" name="period-point-color111" id="period-point-color227-111" checked>
				<label for="period-point-color227-111">라디오-타이틀<span class="sub">서브텍스트</span></label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-explain/none @ State=default" type="text/template">
	<div class="field">
		<div class="box-radios -explain -lg">
			<div class="box-radio -left">
				<input type="radio" name="period-point-color11" id="period-point-color22-11">
				<label for="period-point-color22-11">라디오-타이틀<span class="sub">서브텍스트</span></label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-explain/none @ State=selected" type="text/template">
	<div class="field">
		<div class="box-radios -explain -lg">
			<div class="box-radio -left">
				<input type="radio" name="period-point-color11" id="period-point-color22-211" checked>
				<label for="period-point-color22-211">라디오-타이틀<span class="sub">서브텍스트</span></label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-survey/icon @ State=default" type="text/template">
	<div class="field">
		<dl class="invest-qna survey">
			<dd class="answer-list">
				<div class="item">
					<input type="radio" name="radio118" id="radio1-11">
					<label for="radio1-11" class="invest-unit -icon1">라디오-텍스트</label>
				</div>
			</dd>
		</dl>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-survey/icon @ State=error" type="text/template">
	<div class="field">
		<dl class="invest-qna survey">
			<dd class="answer-list">
				<div class="item">
					<input type="radio" class="-error" name="radio115" id="radio1-31" checked>
					<label for="radio1-31" class="invest-unit -icon1">라디오-텍스트</label>
					<div class="invest-notice">
						<div class="inner">
							<span class="message -error">다시 확인해 주세요.</span>
							<div class="message">
								내용을 입력해 주세요.
							</div>
						</div>
					</div>
				</div>
			</dd>
		</dl>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-survey/icon @ State=selected" type="text/template">
	<div class="field">
		<dl class="invest-qna survey">
			<dd class="answer-list">
				<div class="item">
					<input type="radio" name="radio111" id="radio1-21" checked>
					<label for="radio1-21" class="invest-unit -icon1">라디오-텍스트</label>
					<div class="invest-notice">
						<div class="inner">
							<span class="message point">정답 입니다.</span>
							<div class="message">
								내용을 입력해 주세요.
							</div>
						</div>
					</div>
				</div>
			</dd>
		</dl>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-survey/ox @ Type=o, State=default" type="text/template">
	<div class="field">
		<div class="box-radios -survey -ox">
			<div class="box-radio">
				<input type="radio" name="radio4-1" id="radio4-1">
				<label for="radio4-1" class="check-positive"><span class="hide">O</span></label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-survey/ox @ Type=o, State=error" type="text/template">
	<div class="field">
		<div class="box-radios -survey -ox">
			<div class="box-radio">
				<input type="radio" name="radio4-012" id="radio4-022"  class="-error" checked>
				<label for="radio4-22" class="check-positive"><span class="hide">O</span></label>
			</div>
		</div>                  
	</div>
</script>
<script data-size="2" data-title="Radio | radio-survey/ox @ Type=o, State=seleted" type="text/template">
	<div class="field">
		<div class="box-radios -survey -ox">
			<div class="box-radio">
				<input type="radio" name="radio4-011" id="radio4-011" checked>
				<label for="radio4-11" class="check-positive"><span class="hide">O</span></label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-survey/ox @ Type=x, State=default" type="text/template">
	<div class="field">
		<div class="box-radios -survey -ox">
			<div class="box-radio">
				<input type="radio" name="radio4-17" id="radio4-2">
				<label for="radio4-2" class="check-negative"><span class="hide">X</span></label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-survey/ox @ Type=x, State=error" type="text/template">
	<div class="field">
		<div class="box-radios -survey -ox">
			<div class="box-radio">
				<input type="radio" name="radio4-11" id="radio4-21" class="-error" checked>
				<label for="radio4-21" class="check-negative"><span class="hide">X</span></label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-survey/ox @ Type=x, State=seleted" type="text/template">
	<div class="field">
		<div class="box-radios -survey -ox">
			<div class="box-radio">
				<input type="radio" name="radio4-12" id="radio4-22" checked>
				<label for="radio4-22" class="check-negative"><span class="hide">X</span></label>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-survey/text @ State=default" type="text/template">
	<div class="field">
		<div class="box-radios survey">
			<div class="box-radio -yn -left">
				<input type="radio" name="radio014" id="radio014-1">
				<label for="radio014-1">라디오 텍스트</label>
			</div>
		</div> 
	</div>
</script>
<script data-size="2" data-title="Radio | radio-survey/text @ State=error" type="text/template">
	<div class="field">
		<div class="box-radios survey">
			<div class="box-radio -yn">
				<input type="radio" name="radio01141" id="radio014-111" class="-error" checked>
				<label for="radio014-111">아니요</label>
			</div>
		</div> 

		<!-- [CASE] 오답 안내 문구 출력 -->
		<div class="invest-notice">
			<div class="inner">
				<span class="message -error">다시 확인해 주세요.</span>
				<div class="message">
					내용을 입력해 주세요.
				</div>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-survey/text @ State=selected" type="text/template">
	<div class="field">
		<div class="box-radios survey">
			<div class="box-radio -yn -left">
				<input type="radio" name="radio0114_02" id="radio014-21" checked>
				<label for="radio014-21">예</label>
			</div>
		</div> 

		<!-- [CASE] 오답 안내 문구 출력 -->
		<div class="invest-notice">
			<div class="inner">
				<span class="message -correct">정답 입니다.</span>
				<div class="message">
					내용을 입력해 주세요.
				</div>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-survey/yn @ State=default" type="text/template">
	<div class="field">
		<div class="box-radios survey">
			<div class="box-radio -yn -left">
				<input type="radio" name="radio14" id="radio14-1">
				<label for="radio14-1">아니요</label>
			</div>
			<div class="box-radio -yn -left">
				<input type="radio" name="radio14" id="radio14-2">
				<label for="radio14-2">예</label>
			</div>
		</div> 
	</div>
</script>
<script data-size="2" data-title="Radio | radio-survey/yn @ State=error" type="text/template">
	<div class="field">
		<div class="box-radios survey">
			<div class="box-radio -yn">
				<input type="radio" name="radio1141" id="radio14-111" class="-error" checked>
				<label for="radio14-111">아니요</label>
			</div>
			<div class="box-radio -yn">
				<input type="radio" name="radio1141" id="radio14-211">
				<label for="radio14-211">예</label>
			</div>
		</div> 

		<!-- [CASE] 오답 안내 문구 출력 -->
		<div class="invest-notice">
			<div class="inner">
				<span class="message -error">다시 확인해 주세요.</span>
				<div class="message">
					내용을 입력해 주세요.
				</div>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Radio | radio-survey/yn @ State=selcted" type="text/template">
	<div class="field">
		<div class="box-radios survey">
			<div class="box-radio -yn -left">
				<input type="radio" name="radio114" id="radio14-11" class="-error">
				<label for="radio14-11">아니요</label>
			</div>
			<div class="box-radio -yn -left">
				<input type="radio" name="radio114" id="radio14-21" checked>
				<label for="radio14-21">예</label>
			</div>
		</div> 

		<!-- [CASE] 오답 안내 문구 출력 -->
		<div class="invest-notice">
			<div class="inner">
				<span class="message -correct">정답 입니다.</span>
				<div class="message">
					내용을 입력해 주세요.
				</div>
			</div>
		</div>
	</div>
</script>
		<!-- NDS components : E -->
	</div>
	<!-- NDS Script -->
	<script src="./../assets/libs/jquery/jquery-3.6.0.min.js"></script>
	<script src="./../assets/libs/anime/lib/anime.min.js"></script>
	<script src="./../assets/js/nds-ui.js"></script>
	<!-- Guide Script -->
	<script src="./../guide/js/guide.js"></script>
	<script>
		buildGuide();
	</script>
</html>