<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title></title>
	<!-- NDS CSS -->
	<link rel="stylesheet" href="./../assets/css/nds-ui.css" />
	<!-- Guide CSS -->
	<link rel="stylesheet" href="./../guide/css/guide.css" />
</head>
<body>
	<div class="gl">
		<!-- NDS components : S -->

<script data-size="2" data-title="Search | search-box/search @ State=error" type="text/template">
	<div class="field search -error">
		<label for="searchce3" class="label">레이블</label>
		<div class="mix">
			<div class="text">
				<input type="text" class="left-side" id="searchce3" placeholder="검색어 입력" value="검색어 입력">
			</div>

			<div class="space -lined search">
				<button type="button" class="icon-button -search right-side"><span class="hide">조회</span></button>
			</div>
		</div>
		<p class="info -error">오류 메세지 출력</p>
	</div>
</script>
<script data-size="2" data-title="Search | search-box/search @ State=filled" type="text/template">
	<div class="field search">
		<label for="searchce3" class="label">레이블</label>
		<div class="mix">
			<div class="text">
				<input type="text" class="left-side" id="searchce3" placeholder="검색어 입력" value="검색어 입력">
			</div>

			<div class="space -lined search">
				<button type="button" class="icon-button -search right-side"><span class="hide">조회</span></button>
			</div>
		</div>
		<p class="info">안내 문구 입력</p>
	</div>
</script>
<script data-size="2" data-title="Search | search-box/search @ State=focus" type="text/template">
	<div class="field search -focused">
		<label for="searchce3" class="label">레이블</label>
		<div class="mix">
			<div class="text">
				<input type="text" class="left-side" id="searchce3" placeholder="검색어 입력" value="검색어 입력">
			</div>

			<div class="space -lined search">
				<button type="button" class="icon-button -search right-side"><span class="hide">조회</span></button>
			</div>
		</div>
		<p class="info">안내 문구 입력</p>
	</div>
</script>
<script data-size="2" data-title="Search | search-box/search @ State=inactive" type="text/template">
	<div class="field search">
		<label for="searchce3" class="label">레이블</label>
		<div class="mix">
			<div class="text">
				<input type="text" class="left-side" id="searchce3" placeholder="검색어 입력" value="">
			</div>

			<div class="space -lined search">
				<button type="button" class="icon-button -search right-side"><span class="hide">조회</span></button>
			</div>
		</div>
		<p class="info">안내 문구 입력</p>
	</div>
</script>
<script data-size="2" data-title="Search | search-box/search-filter @ State=filled" type="text/template">
	<div class="field search search-filter">
		<div class="search-wrap">
			<div class="mix">
				<div class="text">
					<input type="text" class="left-side" id="searchce" placeholder="검색어 입력" value="검색어 입력">
				</div>
				<div class="space -lined search">
					<button type="button" class="icon-button -search right-side"><span class="hide">조회</span></button>
				</div>
			</div>
			<button type="button" class="search-filter-ico" aria-haspopup="true"><span class="hide">조건설정 하기</span></button>
		</div>
	</div>
</script>
<script data-size="2" data-title="Search | search-box/search-filter @ State=focus" type="text/template">
	<div class="field search search-filter -focused">
		<div class="search-wrap">
			<div class="mix">
				<div class="text">
					<input type="text" class="left-side" id="searchce" placeholder="검색어 입력" value="검색어 입력">
				</div>
				<div class="space -lined search">
					<button type="button" class="icon-button -search right-side"><span class="hide">조회</span></button>
				</div>
			</div>
			<button type="button" class="search-filter-ico" aria-haspopup="true"><span class="hide">조건설정 하기</span></button>
		</div>
	</div>
</script>
<script data-size="2" data-title="Search | search-box/search-filter @ State=inactive" type="text/template">
	<div class="field search search-filter">
		<div class="search-wrap">
			<div class="mix">
				<div class="text">
					<input type="text" class="left-side" id="searchce" placeholder="검색어 입력">
				</div>
				<div class="space -lined search">
					<button type="button" class="icon-button -search right-side"><span class="hide">조회</span></button>
				</div>
			</div>
			<button type="button" class="search-filter-ico" aria-haspopup="true"><span class="hide">조건설정 하기</span></button>
		</div>
	</div>
</script>
<script data-size="2" data-title="Search | search-line/search @ State=error" type="text/template">
	<div class="field search -error">
		<label for="searchce3" class="label">레이블</label>
		<div class="mix">
			<div class="text line">
				<input type="text" class="mid-side" id="searchce3" placeholder="검색어 입력" value="검색어 입력">
			</div>

			<div class="space line search right-side">
				<button type="button" class="icon-button -search right-side"><span class="hide">조회</span></button>
			</div>
			<p class="info">오류 메세지 출력</p>
		</div>
	</div>
</script>
<script data-size="2" data-title="Search | search-line/search @ State=filled" type="text/template">
	<div class="field search">
		<label for="searchce3" class="label">레이블</label>
		<div class="mix">
			<div class="text line">
				<input type="text" class="mid-side" id="searchce3" placeholder="검색어 입력" value="검색어 입력">
			</div>

			<div class="space line search right-side">
				<button type="button" class="icon-button -search right-side"><span class="hide">조회</span></button>
			</div>
			<p class="info">안내 문구 입력</p>
		</div>
	</div>
</script>
<script data-size="2" data-title="Search | search-line/search @ State=focus" type="text/template">
	<div class="field search -focused">
		<label for="searchce3" class="label">레이블</label>
		<div class="mix">
			<div class="text line">
				<input type="text" class="mid-side" id="searchce3" placeholder="검색어 입력" value="검색어 입력">
			</div>

			<div class="space line search right-side">
				<button type="button" class="icon-button -search right-side"><span class="hide">조회</span></button>
			</div>
			<p class="info">안내 문구 입력</p>
		</div>
	</div>
</script>
<script data-size="2" data-title="Search | search-line/search @ State=inactive" type="text/template">
	<div class="field search">
		<label for="searchce3" class="label">레이블</label>
		<div class="mix">
			<div class="text line">
				<input type="text" class="mid-side" id="searchce3" placeholder="검색어 입력" value="">
			</div>

			<div class="space line search right-side">
				<button type="button" class="icon-button -search right-side"><span class="hide">조회</span></button>
			</div>
			<p class="info">안내 문구 입력</p>
		</div>
	</div>
</script>
		<!-- NDS components : E -->
	</div>
	<!-- NDS Script -->
	<script src="./../assets/js/libs/jquery/jquery-3.6.0.min.js"></script>
	<script src="./../assets/js/libs/anime/lib/anime.min.js"></script>
	<script src="./../assets/js/nds-ui.js"></script>
	<!-- Guide Script -->
	<script src="./../guide/js/guide.js"></script>
	<script>
		buildGuide();
	</script>
</html>