<script data-size="2" data-title="Statusbar | statusbar-aos @ Mode=dark" type="text/template">
                            <p class="point center">App 영역</p>
                            <div class="nds__thumbnail"><img src="./prototype/NDS/images/9770_76798.png" alt=""></div>
                        </script>
<script data-size="2" data-title="Statusbar | statusbar-aos @ Mode=light" type="text/template">
                            <p class="point center">App 영역</p>
                            <div class="nds__thumbnail"><img src="./prototype/NDS/images/293_4899.png" alt=""></div>
                        </script>
<script data-size="2" data-title="Statusbar | statusbar-ios @ Mode=dark" type="text/template">
                            <p class="point center">App 영역</p>
                            <div class="nds__thumbnail"><img src="./prototype/NDS/images/9770_76817.png" alt=""></div>
                        </script>
<script data-size="2" data-title="Statusbar | statusbar-ios @ Mode=light" type="text/template">
                            <p class="point center">App 영역</p>
                            <div class="nds__thumbnail"><img src="./prototype/NDS/images/416_11121.png" alt=""></div>
                        </script>