<script data-size="2" data-title="Switch | switch-basic @ Size=lg, State=false" type="text/template">
                            <span class="switch -lg">
                                <input type="checkbox" id="switch-tl0">
                                <label for="switch-tl0"><span class="hide">스위치</span></label>
                            </span>
                        </script>
<script data-size="2" data-title="Switch | switch-basic @ Size=lg, State=true" type="text/template">
                            <span class="switch -lg">
                                <input type="checkbox" id="switch-tl0_on" checked>
                                <label for="switch-tl0_on"><span class="hide">스위치</span></label>
                            </span>
                        </script>
<script data-size="2" data-title="Switch | switch-basic @ Size=sm, State=false" type="text/template">
                            <span class="switch -sm">
                                <input type="checkbox" id="switch-tl01">
                                <label for="switch-tl01"><span class="hide">스위치</span></label>
                            </span>
                        </script>
<script data-size="2" data-title="Switch | switch-basic @ Size=sm, State=true" type="text/template">
                            <span class="switch -sm">
                                <input type="checkbox" id="switch-tl01_on" checked>
                                <label for="switch-tl01_on"><span class="hide">스위치</span></label>
                            </span>
                        </script>
<script data-size="2" data-title="Switch | switch-basic @ Size=xs, State=false" type="text/template">
                            <span class="switch -xs">
                                <input type="checkbox" id="switch-tl02">
                                <label for="switch-tl02"><span class="hide">스위치</span></label>
                            </span>
                        </script>
<script data-size="2" data-title="Switch | switch-basic @ Size=xs, State=true" type="text/template">
                            <span class="switch -xs">
                                <input type="checkbox" id="switch-tl02_on" checked>
                                <label for="switch-tl02_on"><span class="hide">스위치</span></label>
                            </span>
                        </script>
<script data-size="2" data-title="Switch | switch-big-font @ State=false" type="text/template">
                            <button type="button" class="func -bigsize">
                                <span class="hide">큰글</span>
                            </button>
                        </script>
<script data-size="2" data-title="Switch | switch-big-font @ State=true" type="text/template">
                            <button type="button" class="func -bigsize -active">
                                <span class="hide">큰글</span>
                            </button>
                        </script>