<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>Attached file</title>
	<link rel="stylesheet" href="./../assets/css/nds-ui.css" />
	<link rel="stylesheet" href="./../worklist/assets/css/guide-components.css" />
</head>
<body>
	<div class="gl">
		<!-- NDS components : S -->
<script data-size="2" data-title="Switch | switch-basic @ Size=lg, State=false" type="text/template">
	<span class="switch -lg">
		<input type="checkbox" id="switch-tl0">
		<label for="switch-tl0"><span class="hide">스위치</span></label>
	</span>
</script>
<script data-size="2" data-title="Switch | switch-basic @ Size=lg, State=true" type="text/template">
	<span class="switch -lg">
		<input type="checkbox" id="switch-tl0_on" checked>
		<label for="switch-tl0_on"><span class="hide">스위치</span></label>
	</span>
</script>
<script data-size="2" data-title="Switch | switch-basic @ Size=sm, State=false" type="text/template">
	<span class="switch -sm">
		<input type="checkbox" id="switch-tl01">
		<label for="switch-tl01"><span class="hide">스위치</span></label>
	</span>
</script>
<script data-size="2" data-title="Switch | switch-basic @ Size=sm, State=true" type="text/template">
	<span class="switch -sm">
		<input type="checkbox" id="switch-tl01_on" checked>
		<label for="switch-tl01_on"><span class="hide">스위치</span></label>
	</span>
</script>
<script data-size="2" data-title="Switch | switch-basic @ Size=xs, State=false" type="text/template">
	<span class="switch -xs">
		<input type="checkbox" id="switch-tl02">
		<label for="switch-tl02"><span class="hide">스위치</span></label>
	</span>
</script>
<script data-size="2" data-title="Switch | switch-basic @ Size=xs, State=true" type="text/template">
	<span class="switch -xs">
		<input type="checkbox" id="switch-tl02_on" checked>
		<label for="switch-tl02_on"><span class="hide">스위치</span></label>
	</span>
</script>
<script data-size="2" data-title="Switch | switch-big-font @ State=false" type="text/template">
	<button type="button" class="func -bigsize">
		<span class="hide">큰글</span>
	</button>
</script>
<script data-size="2" data-title="Switch | switch-big-font @ State=true" type="text/template">
	<button type="button" class="func -bigsize -active">
		<span class="hide">큰글</span>
	</button>
</script>
		<!-- NDS components : E -->
	</div>
	<!-- NDS Script -->
	<script src="./../assets/libs/jquery/jquery-3.6.0.min.js"></script>
	<script src="./../assets/libs/anime/lib/anime.min.js"></script>
	<script src="./../assets/js/common-ui.js"></script>
	<!-- Guide Script -->
	<script src="./../worklist/assets/js/guide.js"></script>
	<script>
		buildGuide();
	</script>
</html>