<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title></title>
	<!-- NDS CSS -->
	<link rel="stylesheet" href="./../assets/css/nds-common.css" />
	<link rel="stylesheet" href="./../assets/css/nds-components.css" />
	<!-- Guide CSS -->
	<link rel="stylesheet" href="./../guide/css/guide.css" />
</head>
<body>
	<div class="gl">
		<!-- NDS components : S -->
<script data-size="2" data-title="line fixed" type="text/template">
	<div class="nds-tab -line -fixed" data-nds-role="tab">
		<div class="nds-tab-inner" role="tablist" data-nds-role="tab-list">
			<button type="button" id="tab-line-1-1" class="nds-tab-button -active" role="tab" data-nds-role="tab-btn" aria-selected="true" aria-controls="line-panel-1-1">메뉴 1</button>
			<button type="button" id="tab-line-1-2" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="line-panel-1-2">메뉴 2</button>
			<button type="button" id="tab-line-1-3" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="line-panel-1-3">메뉴 3</button>
			<button type="button" id="tab-line-1-4" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="line-panel-1-4">메뉴 4</button>
		</div>
	</div>

	<div class="nds-tab-panels">
		<div id="line-panel-1-1" class="nds-tab-panel -active" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="tab-line-1-1" tabindex="0">패널 1</div>
		<div id="line-panel-1-2" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="tab-line-1-2" tabindex="-1" hidden>패널 2</div>
		<div id="line-panel-1-3" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="tab-line-1-3" tabindex="-1" hidden>패널 3</div>
		<div id="line-panel-1-4" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="tab-line-1-4" tabindex="-1" hidden>패널 4</div>
	</div>
</script>

<script data-size="2" data-title="line flexible" type="text/template">
	<div class="nds-tab -line -flexible" data-nds-role="tab">
		<div class="nds-tab-inner" role="tablist" data-nds-role="tab-list">
			<button type="button" id="tab-line-2-1" class="nds-tab-button -active" role="tab" data-nds-role="tab-btn" aria-selected="true" aria-controls="line-panel-2-1">메뉴 1</button>
			<button type="button" id="tab-line-2-2" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="line-panel-2-2">메뉴 2</button>
			<button type="button" id="tab-line-2-3" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="line-panel-2-3">메뉴 3</button>
			<button type="button" id="tab-line-2-4" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="line-panel-2-4">메뉴 4</button>
			<button type="button" id="tab-line-2-5" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="line-panel-2-5">메뉴명이 긴 케이스</button>
			<button type="button" id="tab-line-2-6" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="line-panel-2-6">메뉴 6</button>
		</div>
	</div>

	<div class="nds-tab-panels">
		<div id="line-panel-2-1" class="nds-tab-panel -active" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="tab-line-2-1" tabindex="0">패널 1</div>
		<div id="line-panel-2-2" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="tab-line-2-2" tabindex="-1" hidden>패널 2</div>
		<div id="line-panel-2-3" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="tab-line-2-3" tabindex="-1" hidden>패널 3</div>
		<div id="line-panel-2-4" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="tab-line-2-4" tabindex="-1" hidden>패널 4</div>
		<div id="line-panel-2-5" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="tab-line-2-5" tabindex="-1" hidden>패널 5</div>
		<div id="line-panel-2-6" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="tab-line-2-6" tabindex="-1" hidden>패널 6</div>
	</div>
</script>

<script data-size="2" data-title="bar" type="text/template">
	<div class="nds-tab -bar" data-nds-role="tab">
		<div class="nds-tab-inner" role="tablist" data-nds-role="tab-list">
			<button type="button" id="tab-bar-1" class="nds-tab-button -active" role="tab" data-nds-role="tab-btn" aria-selected="true" aria-controls="bar-panel-1">메뉴 1</button>
			<button type="button" id="tab-bar-2" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="bar-panel-2">메뉴 2</button>
			<button type="button" id="tab-bar-3" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="bar-panel-3">메뉴 3</button>
			<button type="button" id="tab-bar-4" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="bar-panel-4">메뉴 4</button>
		</div>
	</div>

	<div class="nds-tab-panels">
		<div id="bar-panel-1" class="nds-tab-panel -active" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="tab-bar-1" tabindex="0">패널 1</div>
		<div id="bar-panel-2" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="tab-bar-2" tabindex="-1" hidden>패널 2</div>
		<div id="bar-panel-3" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="tab-bar-3" tabindex="-1" hidden>패널 3</div>
		<div id="bar-panel-4" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="tab-bar-4" tabindex="-1" hidden>패널 4</div>
	</div>
</script>

<script data-size="2" data-title="chip flexible" type="text/template">
	<div class="nds-tab -chip -flexible" data-nds-role="tab">
		<div class="nds-tab-inner" role="tablist" data-nds-role="tab-list">
			<button type="button" id="chip-1-1" class="nds-tab-button -active" role="tab" data-nds-role="tab-btn" aria-selected="true" aria-controls="chip-panel-1-1">메뉴 1</button>
			<button type="button" id="chip-1-2" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="chip-panel-1-2">메뉴 2</button>
			<button type="button" id="chip-1-3" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="chip-panel-1-3">메뉴 3</button>
			<button type="button" id="chip-1-4" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="chip-panel-1-4">메뉴 4</button>
			<button type="button" id="chip-1-5" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="chip-panel-1-5">메뉴 5</button>
			<button type="button" id="chip-1-6" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="chip-panel-1-6">메뉴 6</button>
			<button type="button" id="chip-1-7" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="chip-panel-1-7">메뉴 7</button>
			<button type="button" id="chip-1-8" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="chip-panel-1-8">메뉴 8</button>
			<button type="button" id="chip-1-9" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="chip-panel-1-9">메뉴 9</button>
			<button type="button" id="chip-1-10" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="chip-panel-1-10">메뉴 10</button>
			<button type="button" id="chip-1-11" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="chip-panel-1-11">메뉴 11</button>
			<button type="button" id="chip-1-12" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="chip-panel-1-12">메뉴 12</button>
			<button type="button" id="chip-1-13" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="chip-panel-1-13">메뉴 13</button>
			<button type="button" id="chip-1-14" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="chip-panel-1-14">메뉴 14</button>
			<button type="button" id="chip-1-15" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="chip-panel-1-15">메뉴 15</button>
		</div>
	</div>

	<div class="nds-tab-panels">
		<div id="chip-panel-1-1" class="nds-tab-panel -active" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-1-1" tabindex="0">패널 1</div>
		<div id="chip-panel-1-2" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-1-2" tabindex="-1" hidden>패널 2</div>
		<div id="chip-panel-1-3" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-1-3" tabindex="-1" hidden>패널 3</div>
		<div id="chip-panel-1-4" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-1-4" tabindex="-1" hidden>패널 4</div>
		<div id="chip-panel-1-5" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-1-5" tabindex="-1" hidden>패널 5</div>
		<div id="chip-panel-1-6" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-1-6"	 tabindex="-1" hidden>패널 6</div>
		<div id="chip-panel-1-7" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-1-7" tabindex="-1" hidden>패널 7</div>
		<div id="chip-panel-1-8" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-1-8" tabindex="-1" hidden>패널 8</div>
		<div id="chip-panel-1-9" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-1-9" tabindex="-1" hidden>패널 9</div>
		<div id="chip-panel-1-10" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-1-10" tabindex="-1" hidden>패널 10</div>
		<div id="chip-panel-1-11" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-1-11" tabindex="-1" hidden>패널 11</div>
		<div id="chip-panel-1-12" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-1-12" tabindex="-1" hidden>패널 12</div>
		<div id="chip-panel-1-13" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-1-13" tabindex="-1" hidden>패널 13</div>
		<div id="chip-panel-1-14" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-1-14" tabindex="-1" hidden>패널 14</div>
		<div id="chip-panel-1-15" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-1-15" tabindex="-1" hidden>패널 15</div>
	</div>
</script>

<script data-size="2" data-title="chip accordion" type="text/template">
	<div class="nds-tab -chip -accordion" data-nds-role="tab">
		<div class="nds-tab-inner" role="tablist" data-nds-role="tab-list">
			<button type="button" id="chip-2-1" class="nds-tab-button -active" role="tab" data-nds-role="tab-btn" aria-selected="true" aria-controls="chip-panel-2-1">메뉴 1</button>
			<button type="button" id="chip-2-2" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="chip-panel-2-2">메뉴 2</button>
			<button type="button" id="chip-2-3" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="chip-panel-2-3">메뉴 3</button>
			<button type="button" id="chip-2-4" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="chip-panel-2-4">메뉴 4</button>
		</div>
		<button type="button" title="추천키워드" class="nds-button -ico">
			<i class="nds-ico -x16 nds-ico-arr-down1"></i><span class="hide">펼치기</span>
		</button>
	</div>

	<div class="nds-tab-panels">
		<div id="chip-panel-2-1" class="nds-tab-panel -active" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-2-1" tabindex="0">패널 1</div>
		<div id="chip-panel-2-2" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-2-2" tabindex="-1" hidden>패널 2</div>
		<div id="chip-panel-2-3" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-2-3" tabindex="-1" hidden>패널 3</div>
		<div id="chip-panel-2-4" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="chip-2-4" tabindex="-1" hidden>패널 4</div>
	</div>
</script>

<script data-size="2" data-title="text" type="text/template">
	<div class="nds-tab -text" data-nds-role="tab">
		<div class="nds-tab-inner" role="tablist" data-nds-role="tab-list">
			<button type="button" id="text-1" class="nds-tab-button -active" role="tab" data-nds-role="tab-btn" aria-selected="true" aria-controls="text-panel-1">메뉴 1</button>
			<button type="button" id="text-2" class="nds-tab-button" role="tab" data-nds-role="tab-btn" aria-selected="false" aria-controls="text-panel-2">메뉴 2</button>
		</div>
	</div>

	<div class="nds-tab-panels">
		<div id="text-panel-1" class="nds-tab-panel -active" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="text-1" tabindex="0">패널 1</div>
		<div id="text-panel-2" class="nds-tab-panel" role="tabpanel" data-nds-role="tab-panel" aria-labelledby="text-2" tabindex="-1" hidden>패널 2</div>
	</div>
</script>
		<!-- NDS components : E -->
	</div>
	<!-- NDS Script -->
	<script src="./../assets/libs/jquery/jquery-3.6.0.min.js"></script>
	<script src="./../assets/libs/anime/lib/anime.min.js"></script>
	<script src="./../assets/js/nds-ui.js"></script>
	<!-- Guide Script -->
	<script src="./../guide/js/guide.js"></script>
	<script>
		buildGuide();
		NDS_UI.Tabs();
	</script>
</html>