<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title></title>
	<!-- NDS CSS -->
	<link rel="stylesheet" href="./../assets/css/nds-ui.css" />
	<!-- Guide CSS -->
	<link rel="stylesheet" href="./../guide/css/guide.css" />
</head>
<body>
	<div class="gl">
		<!-- NDS components : S -->
<script data-size="2" data-title="Table | table-basic @ Type=td, Align=center" type="text/template">
	<div class="table -vertical -basic">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col class="col30">
				<col> 
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">구분</th>
					<td class="center">내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td class="center">내용</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-basic @ Type=td, Align=left" type="text/template">
	<div class="table -vertical -basic">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col class="col30">
				<col> 
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-basic @ Type=td, Align=right" type="text/template">
	<div class="table -vertical -basic">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col class="col30">
				<col> 
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">구분</th>
					<td class="num">내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td class="num">내용</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-basic @ Type=th, Align=center" type="text/template">
	<div class="table -horizontal -basic">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col class="col30">
				<col>
			</colgroup>
			<thead>
				<tr>
					<th scope="col">구분</th>
					<th scope="col">구분</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>내용</td>
					<td class="left">문장형 데이터가 출력되는 경우</td>
				</tr>
				<tr>
					<td>내용</td>
					<td class="left">문장형 데이터가 출력되는 경우</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-basic @ Type=th, Align=left" type="text/template">
	<div class="table -horizontal -basic">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col class="col30">
				<col>
			</colgroup>
			<thead>
				<tr>
					<th scope="col" class="left">구분</th>
					<th scope="col" class="left">구분</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>내용</td>
					<td class="left">문장형 데이터가 출력되는 경우</td>
				</tr>
				<tr>
					<td>내용</td>
					<td class="left">문장형 데이터가 출력되는 경우</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-basic @ Type=th, Align=right" type="text/template">
	<div class="table -horizontal -basic">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col class="col30">
				<col>
			</colgroup>
			<thead>
				<tr>
					<th scope="col" class="right">구분</th>
					<th scope="col" class="right">구분</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>내용</td>
					<td class="left">문장형 데이터가 출력되는 경우</td>
				</tr>
				<tr>
					<td>내용</td>
					<td class="left">문장형 데이터가 출력되는 경우</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-height @ State=1line" type="text/template">
	<div class="table -vertical -basic">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col class="col30">
				<col> 
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-height @ State=2line" type="text/template">
	<div class="table -vertical -basic">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col class="col30">
				<col> 
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-height @ State=3line" type="text/template">
	<div class="table -vertical -basic">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col class="col30">
				<col> 
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-height @ State=4line" type="text/template">
	<div class="table -vertical -basic">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col class="col30">
				<col> 
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-height @ State=5line" type="text/template">
	<div class="table -vertical -basic">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col class="col30">
				<col> 
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-height @ State=6line" type="text/template">
	<div class="table -vertical -basic">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col class="col30">
				<col> 
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-height @ State=7line" type="text/template">
	<div class="table -vertical -basic">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col class="col30">
				<col> 
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td class="num">10,000,000</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>
						<ul class="ul -bullet">
							<li>19세 이상 거주자</li>
							<li>15세 이상 19세 미만인 거주자로 근로소득이 있는자
								<div>
									<ul class="ul -dash">
										<li>실명확인증표(신분증)</li>
										<li>소득확인증명서(개인종합자산 관리계좌 가입용)</li>
									</ul>
								</div>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
				<tr>
					<th scope="row">구분</th>
					<td>내용</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-width @ State=1line" type="text/template">
	<div class="table -horizontal -basic">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col>
				<col>
			</colgroup>
			<thead>
				<tr>
					<th scope="col">구분</th>
					<th scope="col">구분</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>내용</td>
					<td>내용</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-width @ State=2line" type="text/template">
	<div class="table -horizontal -basic">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col>
				<col>
			</colgroup>
			<thead>
				<tr>
					<th scope="col">구분</th>
					<th scope="col">구분</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>내용</td>
					<td class="left">내용</td>
				</tr>
				<tr>
					<td>내용</td>
					<td class="num">10,000</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-width @ State=3line" type="text/template">
	<div class="table -horizontal -vix">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col>
				<col>
			</colgroup>
			<thead>
				<tr>
					<th scope="col">기준일</th>
					<th scope="col">기준가</th>
					<th scope="col">전일대비증감</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2023.10.20</td>
					<td class="num fw-500">1,070.47원</td>
					<td class="vix-down">-3.09%</td>
				</tr>
				<tr>
					<td>2023.10.19</td>
					<td class="num fw-500">1,073.56원</td>
					<td class="vix-down">-1.72%</td>
				</tr>
				<tr>
					<td>2023.10.18</td>
					<td class="num fw-500">1,075.28원</td>
					<td class="vix-up">+0.57%</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-width @ State=4line" type="text/template">
	<div class="table -horizontal -total">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col style="width:16%">
				<col>
				<col>
				<col>
			</colgroup>
			<thead>
				<tr>
				<th scope="col">회차</th>
				<th scope="col">원금</th>
				<th scope="col">이자</th>
				<th scope="col">총상환액</th>
			</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td class="num">10,000원</td>
					<td class="num">10,000원</td>
					<td class="num">10,000원</td>
				</tr>
				<tr>
					<td>2</td>
					<td class="num">10,000원</td>
					<td class="num">10,000원</td>
					<td class="num">10,000원</td>
				</tr>
				<tr>
					<td>3</td>
					<td class="num">10,000원</td>
					<td class="num">10,000원</td>
					<td class="num">10,000원</td>
				</tr>
				<tr class="total-num">
					<th>합계</th>
					<td class="num">30,000원</td>
					<td class="num">30,000원</td>
					<td class="num">30,000원</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-width @ State=5line" type="text/template">
	<div class="table -horizontal -vix">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col style="width:30%">
				<col>
				<col>
				<col>
			</colgroup>
			<thead>
				<tr>
					<th scope="col">기준일</th>
					<th scope="col">기준가 (원)</th>
					<th scope="col">전일대비 증감</th>
					<th scope="col">증감률 (%)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2023.03.20</td>
					<td class="fw-500">993.41</td>
					<td class="vix-up">↑3.16</td>
					<td class="vix-up">+1.37</td>
				</tr>
				<tr>
					<td>2023.03.17</td>
					<td class="fw-500">993.41</td>
					<td class="vix-down">↓0.16</td>
					<td class="vix-down">-1.29</td>
				</tr>
				<tr>
					<td>2023.03.16</td>
					<td class="fw-500">993.41</td>
					<td class="vix-up">↑2.56</td>
					<td class="vix-up">+1.42</td>
				</tr>
				<tr>
					<td>2023.03.16</td>
					<td class="fw-500">993.41</td>
					<td class="vix-down">↓1.01</td>
					<td class="vix-down">-1.84</td>
				</tr>
				<tr>
					<td>2023.03.16</td>
					<td class="fw-500">993.41</td>
					<td class="vix-up">↑3.16</td>
					<td class="vix-up">+1.84</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-width @ State=6line" type="text/template">
	<div class="table -horizontal -basic">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col>
				<col>
			</colgroup>
			<thead>
				<tr>
					<th scope="col">구분</th>
					<th scope="col">구분</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>내용</td>
					<td>내용</td>
				</tr>
				<tr>
					<td>내용</td>
					<td>내용</td>
				</tr>
				<tr>
					<td>내용</td>
					<td>내용</td>
				</tr>
				<tr>
					<td>내용</td>
					<td>내용</td>
				</tr>
				<tr>
					<td>내용</td>
					<td>내용</td>
				</tr>
				<tr>
					<td>내용</td>
					<td>내용</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
<script data-size="2" data-title="Table | table-width @ State=7line" type="text/template">
	<div class="table -horizontal -basic">
		<table>
			<caption><span class="hide">표제목</span></caption>
			<colgroup>
				<col>
				<col>
			</colgroup>
			<thead>
				<tr>
					<th scope="col">구분</th>
					<th scope="col">구분</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>내용</td>
					<td>내용</td>
				</tr>
				<tr>
					<td>내용</td>
					<td>내용</td>
				</tr>
				<tr>
					<td>내용</td>
					<td>내용</td>
				</tr>
				<tr>
					<td>내용</td>
					<td>내용</td>
				</tr>
				<tr>
					<td>내용</td>
					<td>내용</td>
				</tr>
				<tr>
					<td>내용</td>
					<td>내용</td>
				</tr>
				<tr>
					<td>내용</td>
					<td>내용</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>
		<!-- NDS components : E -->
	</div>
	<!-- NDS Script -->
	<script src="./../assets/js/libs/jquery/jquery-3.6.0.min.js"></script>
	<script src="./../assets/js/libs/anime/lib/anime.min.js"></script>
	<script src="./../assets/js/nds-ui.js"></script>
	<!-- Guide Script -->
	<script src="./../guide/js/guide.js"></script>
	<script>
		buildGuide();
	</script>
</html>