<script data-size="2" data-title="Text area | textarea-message-basic @ State=error" type="text/template">
                            <div class="field textfield">
                                <label for="textarea" class="label">레이블</label>
                                <div class="textarea -error">
                                    <textarea id="textarea" placeholder="내용을 입력하세요내용을 입력하세요">입력된 텍스트 입니다</textarea>
                                    <div class="bottom-info">
                                        <p class="info -error">오류 메시지 출력</p>
                                        <div class="text-count">
                                            <span class="count point">11</span>
                                            <span class="total">50</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </script>
<script data-size="2" data-title="Text area | textarea-message-basic @ State=filled" type="text/template">
                            <div class="field textfield">
                                <label for="textarea" class="label">레이블</label>
                                <div class="textarea">
                                    <textarea id="textarea" placeholder="내용을 입력하세요내용을 입력하세요">입력된 텍스트 입니다</textarea>
                                    <div class="bottom-info">
                                        <p class="info">안내 문구 입력</p>
                                        <div class="text-count">
                                            <span class="count point">11</span>
                                            <span class="total">50</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </script>
<script data-size="2" data-title="Text area | textarea-message-basic @ State=focus" type="text/template">
                            <div class="field textfield">
                                <label for="textarea" class="label">레이블</label>
                                <div class="textarea -focused">
                                    <textarea id="textarea" placeholder="내용을 입력하세요내용을 입력하세요">입력된 텍스트 입니다</textarea>
                                    <div class="bottom-info">
                                        <p class="info">안내 문구 입력</p>
                                        <div class="text-count">
                                            <span class="count point">11</span>
                                            <span class="total">50</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </script>
<script data-size="2" data-title="Text area | textarea-message-basic @ State=inactive" type="text/template">
                            <div class="field textfield">
                                <label for="textarea" class="label">레이블</label>
                                <div class="textarea">
                                    <textarea id="textarea" placeholder="내용을 입력하세요내용을 입력하세요"></textarea>
                                    <div class="bottom-info">
                                        <p class="info">안내 문구 입력</p>
                                        <div class="text-count">
                                            <span class="count point">11</span>
                                            <span class="total">50</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </script>