<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title></title>
	<!-- NDS CSS -->
	<link rel="stylesheet" href="./../assets/css/nds-common.css" />
	<link rel="stylesheet" href="./../assets/css/nds-components.css" />
	<!-- Guide CSS -->
	<link rel="stylesheet" href="./../guide/css/guide.css" />
</head>
<body>
	<div class="gl">
		<!-- NDS components : S -->
<div class="gc__heading">Textarea-base</div>
<script data-size="2" data-title="State=inactive" type="text/template">
	<div class="nds-field -textarea" data-nds-role="field">
		<label for="textarea1" class="nds-label -form">레이블</label>
		<div class="control-wrap" data-nds-role="input-wrap">
			<textarea id="textarea1" class="control" placeholder="내용을 입력하세요" maxlength="50" aria-describedby="info-textarea1 count-textarea1" data-nds-role="control"></textarea>
		</div>
		<div class="info-wrap">
			<p id="info-textarea1" class="message" data-nds-role="info">안내 문구 입력</p>
			<div id="count-textarea1" class="text-counter" data-nds-role="count-wrap">
				<span class="hide">현재 글자 수</span>
				<!-- TODO: 타이포그래피 스타일 적용 필요. 포인트 컬러. -->
				<span class="count" data-nds-role="count"></span>
				<span class="hide">최대 글자 수</span>
				<span class="total" data-nds-role="total"></span>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="State=filled" type="text/template">
	<div class="nds-field -textarea" data-nds-role="field">
		<label for="textarea2" class="nds-label -form">레이블</label>
		<div class="control-wrap" data-nds-role="input-wrap">
			<textarea id="textarea2" class="control" placeholder="내용을 입력하세요" maxlength="50" aria-describedby="info-textarea2 count-textarea2" data-nds-role="control">입력된 텍스트 입니다</textarea>
		</div>
		<div class="info-wrap">
			<p id="info-textarea2" class="message" data-nds-role="info">안내 문구 입력</p>
			<div id="count-textarea2" class="text-counter" data-nds-role="count-wrap">
				<span class="hide">현재 글자 수</span>
				<!-- TODO: 타이포그래피 스타일 적용 필요. 포인트 컬러. -->
				<span class="count" data-nds-role="count"></span>
				<span class="hide">최대 글자 수</span>
				<span class="total" data-nds-role="total"></span>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="State=error" type="text/template">
	<div class="nds-field -textarea -error" data-nds-role="field">
		<label for="textarea3" class="nds-label -form">레이블</label>
		<div class="control-wrap" data-nds-role="input-wrap">
			<textarea id="textarea3" class="control" placeholder="내용을 입력하세요" maxlength="50" aria-describedby="info-textarea3 count-textarea3" data-nds-role="control">입력된 텍스트 입니다</textarea>
		</div>
		<div class="info-wrap">
			<p id="info-textarea3" class="message" data-nds-role="info" role="alert">오류 메시지 출력</p>
			<div id="count-textarea3" class="text-counter" data-nds-role="count-wrap">
				<span class="hide">현재 글자 수</span>
				<!-- TODO: 타이포그래피 스타일 적용 필요. 포인트 컬러. -->
				<span class="count" data-nds-role="count"></span>
				<span class="hide">최대 글자 수</span>
				<span class="total" data-nds-role="total"></span>
			</div>
		</div>
	</div>
</script>

<!-- AS-IS: S -->
<div class="gc__heading">AS-IS</div>
<script data-size="2" data-title="Text area | textarea-message-basic @ State=error" type="text/template">
	<div class="field textfield">
		<label for="textarea" class="label">레이블</label>
		<div class="textarea -error">
			<textarea id="textarea" placeholder="내용을 입력하세요내용을 입력하세요">입력된 텍스트 입니다</textarea>
			<div class="bottom-info">
				<p class="info -error">오류 메시지 출력</p>
				<div class="text-count">
					<span class="count point">11</span>
					<span class="total">50</span>
				</div>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Text area | textarea-message-basic @ State=filled" type="text/template">
	<div class="field textfield">
		<label for="textarea" class="label">레이블</label>
		<div class="textarea">
			<textarea id="textarea" placeholder="내용을 입력하세요내용을 입력하세요">입력된 텍스트 입니다</textarea>
			<div class="bottom-info">
				<p class="info">안내 문구 입력</p>
				<div class="text-count">
					<span class="count point">11</span>
					<span class="total">50</span>
				</div>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Text area | textarea-message-basic @ State=focus" type="text/template">
	<div class="field textfield">
		<label for="textarea" class="label">레이블</label>
		<div class="textarea -focused">
			<textarea id="textarea" placeholder="내용을 입력하세요내용을 입력하세요">입력된 텍스트 입니다</textarea>
			<div class="bottom-info">
				<p class="info">안내 문구 입력</p>
				<div class="text-count">
					<span class="count point">11</span>
					<span class="total">50</span>
				</div>
			</div>
		</div>
	</div>
</script>
<script data-size="2" data-title="Text area | textarea-message-basic @ State=inactive" type="text/template">
	<div class="field textfield">
		<label for="textarea" class="label">레이블</label>
		<div class="textarea">
			<textarea id="textarea" placeholder="내용을 입력하세요내용을 입력하세요"></textarea>
			<div class="bottom-info">
				<p class="info">안내 문구 입력</p>
				<div class="text-count">
					<span class="count point">11</span>
					<span class="total">50</span>
				</div>
			</div>
		</div>
	</div>
</script>
<!-- AS-IS: E -->
		<!-- NDS components : E -->
	</div>
	<!-- NDS Script -->
	<script src="./../assets/libs/jquery/jquery-3.6.0.min.js"></script>
	<script src="./../assets/libs/anime/lib/anime.min.js"></script>
	<script src="./../assets/js/nds-ui.js"></script>
	<!-- Guide Script -->
	<script src="./../guide/js/guide.js"></script>
	<script>
		buildGuide();
	</script>
</body>
</html>