
<script data-size="2" data-title="Toast | toast-basic" type="text/template">
                            <button type="button"  class="a underline point" onClick="tostAtive(this)">테스트모드에서 클릭</button>
                            <!-- 토스트팝업은 -active 클래스 사용하여 실행합니다 -->
                            <div class="toast" role="alert" aria-live="assertive">
                                <div class="message" >
                                    <p>텍스트를 입력해 주세요.</p>
                                </div>                      
                            </div>
                            <div class="nds__thumbnail"><img src="./prototype/NDS/images/toast-basic.png" alt=""></div>
                        </script>