<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title></title>
	<!-- NDS CSS -->
	<link rel="stylesheet" href="./../assets/css/nds-common.css" />
	<link rel="stylesheet" href="./../assets/css/nds-components.css" />
	<!-- Guide CSS -->
	<link rel="stylesheet" href="./../guide/css/guide.css" />
</head>
<body>
	<div class="gl">
		<!-- NDS components : S -->
<script data-size="2" data-title="Tooltip | tooltip-basic" type="text/template">
	<div class="field ml-24">
		<span class="label">테스트모드에서 클릭</span>
		<span class="tooltip">
			<button type="button" class="trigger" aria-describedby="tooltip-panel" aria-expanded="false">
				<span class="hide">도움말 보기</span>
			</button>
			<span class="panel" role="tooltip" id="tooltip-panel" aria-hidden="true">
				<span class="title">타이틀</span>
				<span class="sub-title">서브 타이틀</span>
				<span class="t-content">
					<span class="sub-cont">서브 텍스트를 내용을 입력해 주세요.</span>
					<span class="dot">리스트 내용을 입력해 주세요.</span>
					<span class="dot">리스트 내용을 입력해 주세요.</span>
				</span>
			</span>
		</span>
	</div>
</script>
		<!-- NDS components : E -->
	</div>
	<!-- NDS Script -->
	<script src="./../assets/libs/jquery/jquery-3.6.0.min.js"></script>
	<script src="./../assets/libs/anime/lib/anime.min.js"></script>
	<script src="./../assets/js/nds-ui.js"></script>
	<!-- Guide Script -->
	<script src="./../guide/js/guide.js"></script>
	<script>
		buildGuide();
	</script>
</html>