<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title></title>
	<!-- NDS CSS -->
	<link rel="stylesheet" href="./../assets/css/nds-common.css" />
	<link rel="stylesheet" href="./../assets/css/nds-components.css" />
	<!-- Guide CSS -->
	<link rel="stylesheet" href="./../guide/css/guide.css" />
</head>
<body>
	<div class="gl">
		<!-- NDS components : S -->

<div class="gc__heading">Heading</div>
<script data-size="2" data-title="Typo | H1" type="text/template">
	<h1 class="nds-h1">H1</h1>
</script>
<script data-size="2" data-title="Typo | H2" type="text/template">
	<h2 class="nds-h2">H2</h2>
</script>
<script data-size="2" data-title="Typo | H3" type="text/template">
	<h3 class="nds-h3">H3</h3>
</script>
<script data-size="2" data-title="Typo | H4" type="text/template">
	<h4 class="nds-h4">H4</h4>
</script>
<script data-size="2" data-title="Typo | H5" type="text/template">
	<h5 class="nds-h5">H5</h5>
</script>

<div class="gc__heading">Body</div>
<script data-size="2" data-title="Typo | Body1" type="text/template">
	<p class="nds-body1">Body1</p>
</script>
<script data-size="2" data-title="Typo | Body2" type="text/template">
	<p class="nds-body2">Body2</p>
</script>
<script data-size="2" data-title="Typo | Body3" type="text/template">
	<p class="nds-body3">Body3</p>
</script>

<div class="gc__heading">Table</div>
<script data-size="2" data-title="Typo | Table" type="text/template">
	<p class="nds-table1">Table1</p>
</script>
<script data-size="2" data-title="Typo | Table2" type="text/template">
	<p class="nds-table2">Table2</p>
</script>
<script data-size="2" data-title="Typo | Table3" type="text/template">
	<p class="nds-table3">Table3</p>
</script>

<div class="gc__heading">Caption</div>
<script data-size="2" data-title="Typo | Caption1" type="text/template">
	<p class="nds-caption1">Caption1</p>
</script>
<script data-size="2" data-title="Typo | Caption2" type="text/template">
	<p class="nds-caption2">Caption2</p>
</script>

<div class="gc__heading">Grayscale</div>
<script data-size="2" data-title="Typo | Font1" type="text/template">
	<p class="-font1">font1</p>
</script>
<script data-size="2" data-title="Typo | Font2" type="text/template">
	<p class="-font2">font2</p>
</script>
<script data-size="2" data-title="Typo | font3" type="text/template">
	<p class="-font3">font3</p>
</script>
<script data-size="2" data-title="Typo | font4" type="text/template">
	<p class="-font4">font4</p>
</script>
<script data-size="2" data-title="Typo | font5" type="text/template">
	<p class="-font5">font5</p>
</script>

<div class="gc__heading">Semantic color</div>
<script data-size="2" data-title="Typo | Visual" type="text/template">
	<p class="-visual">Visual</p>
</script>
<script data-size="2" data-title="Typo | Error" type="text/template">
	<p class="-error">Error</p>
</script>
<script data-size="2" data-title="Typo | Point" type="text/template">
	<p class="-point">Point</p>
</script>
<script data-size="2" data-title="Typo | Positive" type="text/template">
	<p class="-positive">Positive</p>
</script>
<script data-size="2" data-title="Typo | Negative" type="text/template">
	<p class="-negative">Negative</p>
</script>

<div class="gc__heading">H-group</div>
<script data-size="2" data-title="Typo | H1-group" type="text/template">
	<div class="nds-h1-group">
		<h1 class="nds-h1">타이틀</h1> 
	</div>
</script>
<script data-size="2" data-title="Typo | H2-group" type="text/template">
	<div class="nds-h2-group">
		<h2 class="nds-h2">타이틀</h2> 
	</div>
</script>
<script data-size="2" data-title="Typo | H3-group" type="text/template">
	<div class="nds-h3-group">
		<h3 class="nds-h3">타이틀</h3> 
	</div>
</script>
<script data-size="2" data-title="Typo | H4-group" type="text/template">
	<div class="nds-h4-group">
		<h4 class="nds-h4">타이틀</h4> 
	</div>
</script>
<script data-size="2" data-title="Typo | H5-group" type="text/template">
	<div class="nds-h5-group">
		<h5 class="nds-h5">타이틀</h5> 
	</div>
</script>
		<!-- NDS components : E -->
	</div>
	<!-- Guide Script -->
	<script src="./../guide/js/guide.js"></script>
	<script>buildGuide();</script>
	<!-- AS-IS Script -->
	<script src="./../assets/libs/jquery/jquery-3.6.0.min.js"></script>
	<script src="./../assets/libs/anime/lib/anime.min.js"></script>
	<!-- NDS Script -->
	<script src="./../assets/js/nds-ui.js"></script>
</body>
</html>