
/* RESET */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
ul,
ol,
dl {
    list-style: none;
}
img {
    vertical-align: top;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    cursor: pointer;
}


/* NDS RESET - 컴퍼넌트 reset으로 이동 예정 */
html {
    font-size: 62.5%;
    -webkit-overflow-scrolling: auto;
}
body {
    color: var(--color-text-font-1);
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--nds-font-base);
    letter-spacing: -0.025em;
    word-break:keep-all;
    overflow-wrap: anywhere;
    -webkit-text-size-adjust: none;
}
button{
    border: none;
}
button,
input,
textarea {
    color:var(--color-text-font-1);
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--nds-font-base);
    letter-spacing: -0.04em;
    -webkit-appearance:none;
}