@charset "utf-8";

body {
    --D2:#fff;
    --M2:#e6e6e6;
    --M9:#111;
}
.dark-mode {
    --D2:#333;
    --M2:#222;
    --M9:#fff;
}
.gl {display:flex; flex-wrap:wrap; padding:4rem 3rem;}
.gl__item {display:flex; flex-direction:column; justify-content:space-between; position:relative; width:34.1rem; margin:0 1rem 1rem 0; background-color:var(--D2); border:1px solid var(--M2); border-radius:4px; cursor:pointer;}
.gl__item .gl__etc {display:flex; align-items:center; padding-left:2.4rem; border-top:1px solid var(--M2);}
.gl__item .gl__detail, .gl__item .gl__copy {flex:1 0 auto; width:4rem; height:4rem; border-left:1px solid transparent; cursor:pointer;}
.gl__item .gl__detail {background:#f2f2f2;}
.gl__item .gl__copy {background:#f2f2f2 url(./../imgs/ico-copy.svg) no-repeat center / 2rem 2rem;}
.gl__item .gl__detail:hover,
.gl__item .gl__copy:hover {background-color:#e9e9e9;}
.gl__item .gl__detail:before {content:"</>"; font-weight:bold; font-size:1.3rem;}
.gl__item .gl__desc {display:inline-flex; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; width:100%; min-width:0; color:#999; font-size:1.4rem; text-align:center; transition:color .2s;}
.gl__item:hover .gl__desc,
.gl__item.-active .gl__desc {color:var(--M9); font-weight:bold;}
.gl__row {display:table; height:100%;}
.gl__preview {display:table-cell; vertical-align:middle; position:relative; height:17.1rem; padding:2rem; border-radius:4px 4px 0 0; background:var(--D2);}
.gc__heading {display:flex; width:100%; margin-bottom:1rem; padding-top:2rem; color:var(--M9); font-weight:bold; font-size:1.8rem; letter-spacing:-0.05em;}
.gc__heading:first-child {padding-top:0;}

.gd {display:flex; flex-wrap:wrap; align-items:flex-start; overflow:hidden; position:fixed; bottom:0; right:0; z-index:400; width:50vw; border-top:1px solid var(--M3); border-left:1px solid var(--M3); border-radius:1.2rem 1.2rem 0 0; background-color:var(--D2); box-shadow:0 -1rem 3rem 0 rgba(0,0,0,.15); transform:translateY(100%); transition:transform .35s cubic-bezier(.4,0,.2,1), opacity .25s ease; opacity:0;}
.gd.-active {transform:translateY(0); opacity:1;}
.dark-mode .gd {box-shadow:0 -1rem 3rem 0 rgba(0,0,0,.3);}
.gd__title {width:100%; padding:1.2rem 2.4rem 1.3rem; border-bottom:1px solid var(--M2); font-weight:bold; font-size:1.6rem;}
.gd__sub-title {margin:2rem 0 .8rem; font-weight:bold; font-size:1.6rem;}
.gd__sub-title:first-child {margin-top:0;}
.gd__dev {width:100%; padding:2.4rem; overflow:hidden;}
.gd__code {max-height:80vh; overflow:scroll; font-size:1.2rem; font-family:Consolas; color:#fff; background-color:#333; tab-size:2; -moz-tab-size:2;}
.gd__code::-webkit-scrollbar {width:.8rem; height:.8rem;}
.gd__code::-webkit-scrollbar-thumb {background-color:var(--M2);}
.gd__info {overflow-x:hidden; overflow-y:auto; width:50%; height:30rem; padding:2.4rem; border-left:1px solid var(--M2);}
.gd__info::-webkit-scrollbar {width:.8rem;}
.gd__info::-webkit-scrollbar-thumb {background-color:var(--M2);}
.gd__note {display:flex; font-size:1.4rem;}
.gd__note + .gd__note {margin-top:.2rem;}
.gd__note:before {content:attr(data-date)" : "; flex:0 0 auto; margin-right:.4rem; padding-top:.1rem; color:var(--point); font-weight:bold; font-size:1.3rem;}
.gd__close {position:absolute; top:0; right:0; width:5rem; height:5rem; border-left:1px solid transparent; background-color:transparent; cursor:pointer;}
.gd__close:hover {border-left:1px solid var(--M2); background-color:var(--M3);}
.gd__close:before {content:""; position:absolute; top:2.2rem; left:1.3rem; width:2.1rem; height:1px; background-color:var(--M9); transform:rotate(45deg);}
.gd__close:after {content:""; position:absolute; top:2.2rem; left:1.3rem; width:2.1rem; height:1px; background-color:var(--M9); transform:rotate(-45deg);}

@media (min-width:1200px) {
    .gl__item {max-width:calc(33.3333% - 1rem); min-width:calc(25% - 1rem);}
    .gd {width:50vw;}
}

/* gl 내부 NDS 초기화 */
.gl__preview > .ref {width:auto !important;}
.gl__preview .highlight {z-index:1;}
.gl__preview .footnote {margin-top:0;}
.gl__preview .tabs .outer {position:relative; left:0;}
.gl__preview .tooltip .panel {width:28rem !important; left:0 !important;}