/* ============================================================
   accordion.css
   ---------------------------------------------------------
   아코디언 컴포넌트 스타일, 콘텐츠 확장/축소(Toggle) 및 상태 변화 정의
   ========================================================= */
   
.nds-accordion > .title {display:flex; align-items:center; position:relative; width:100%; border:none; background-color:transparent; color:var(--nds-color-text-font-1); font-weight:600; font-size:1.6rem;}
.nds-accordion > .title:before {content:""; position:absolute; top:50%; right:.4rem; width:2.4rem; height:2.4rem; background:var(--nds-ico-down2) no-repeat 0 / cover; transform:translateY(-50%);}
.nds-accordion > .panel {color:var(--nds-color-text-font-1); font-size:1.4rem; opacity:0; transition:opacity 0.2s ease;}
.nds-accordion.-slidedown .title:before {transform:translateY(-50%) rotate(180deg);}
.nds-accordion.-active .title:before {transform:translateY(-50%) rotate(180deg);}
.nds-accordion.-active > .panel {opacity:1;}
/* 
.nds-accordion.-line {border-top:1px solid var(--nds-color-border-line-2);}
.nds-accordion.-line > .title {min-height:6.4rem; padding:2rem 4rem 2rem 0rem; font-size:1.6rem;}
.nds-accordion.-line > .panel {padding:3.2rem 0rem;}

.nds-accordion.-graybox {border-radius:1.2rem; background-color:var(--nds-color-bg-container);}
.nds-accordion.-graybox > .title {min-height:4.8rem; padding:1.2rem 4.8rem 1.2rem 1.2rem; color:var(--nds-color-text-font-1); font-weight:400; font-size:1.4rem; line-height:2.2rem;}
.nds-accordion.-graybox > .panel {padding:0 1.2rem 1.6rem 1.2rem; color:var(--nds-color-text-font-3);}
.nds-accordion.-graybox > .title:before {right:1.4rem;}
.nds-accordion.-graybox + .-graybox {margin-top:1.2rem;}

.nds-accordion.-box {border:1px solid var(--nds-color-border-line-2); border-radius:1.2rem;}
.nds-accordion.-box + .nds-accordion.-box {margin-top:3.2rem;}
.nds-accordion.-box > .title {min-height:6.4rem; padding:2rem; padding-right:5.6rem; font-weight:600; font-size:1.6rem;}
.nds-accordion.-box > .title:before {right:2.4rem;}

.nds-accordion.-list {border:1px solid var(--nds-color-border-line-2); border-radius:1.2rem;}
.nds-accordion.-list > .title {min-height:6.4rem; padding:2rem; padding-right:5.6rem; font-weight:600; font-size:1.6rem;}
.nds-accordion.-list > .title:before {right:1.6rem;}
.nds-accordion > .panel > .dl > div dt,
.nds-accordion > .panel > .dl > div dd {padding:.9rem 0rem .8rem 0rem;}
.nds-accordion.-list > .panel > .dl > div:first-of-type dt, 
.nds-accordion.-list > .panel > .dl > div:first-of-type dd {padding-top:0rem;}
.nds-accordion.-list > .panel > .dl > div:last-of-type dt, 
.nds-accordion.-list > .panel > .dl > div:last-of-type dd {padding-bottom:0rem;}

.nds-accordion.-box.-list > .title {flex-direction:column; align-items:flex-start; min-height:9.2rem;}
.nds-accordion.-box.-list > .title::before {top:3rem;}
.nds-accordion.-box.-list > .title .badges {margin-bottom:.8rem;}
.nds-accordion.-box.-list > .title .name {color:var(--nds-color-text-font-1); font-weight:600; font-size:1.6rem; line-height:150%;}
.nds-accordion.-box.-list > .title .sub-info {margin-left:var(--nds-spacing-4); color:var(--nds-color-text-font-3); font-weight:400; font-size:1.3rem; line-height:153%;}

.nds-accordion.-notice {position:relative; border-top:.8rem solid var(--nds-color-border-line-4);}
.nds-accordion.-notice:after {border-bottom:1px solid transparent; transition:border .4s;}
.nds-accordion.-notice.-slidedown:after,
.nds-accordion.-notice.-slideup:after {border-bottom-color:var(--line2);}
.nds-accordion.-notice > .title {position:relative; width:100%; min-height:5.6rem; padding:.5rem 5rem; border:0; background:url(../imgs/nds/common/ico_notice_line_24.png) no-repeat center left 2.4rem; background-color:var(--nds-color-bg-default); background-size:2.4rem; color:var(--nds-color-text-font-1);}
.nds-accordion.-notice > .title:before {content:""; position:absolute; top:1.4rem; right:2.4rem; width:2.4rem; height:2.4rem; background:url(../../imgs/nds/common/arr_down2_line_24.png) no-repeat 0 / 2.4rem;}
.dark-mode .nds-accordion.-notice > .title {background:var(--nds-color-bg-default) url(../imgs/nds/common/ico_notice_line_24_dk.png) no-repeat 2.4rem 1.57rem / 2.4rem; color:var(--nds-color-text-font-1); font-weight:bold; font-size:1.6rem; text-align:left;}
.dark-mode .nds-accordion.-notice > .title:before {background:url(../../imgs/nds/common/arr_down2_line_24_dk.png) no-repeat 0 / 2.4rem;}
.nds-accordion.-notice.-slidedown .title:before {transform:rotate(180deg);}
.nds-accordion.-notice.-active .title:before {transform:rotate(180deg);}
.nds-accordion.-notice.-slidedown .title:after {transform:rotate(270deg);}
.nds-accordion.-notice.-active .title:after {transform:rotate(270deg);}
.nds-accordion.-notice > .panel {padding:.8rem var(--nds-space-in) 0;}
.nds-accordion.-notice .title:not(:first-of-type) {margin-top:1.6rem; color:var(--nds-color-text-font-1); font-weight:500; font-size:1.6rem;}
.nds-accordion.-notice .ul.-bullet + .title {margin-top:1.6rem;}
.nds-accordion.-notice .panel > .ul.-bullet > li + li {margin-top:.8rem;}
.nds-accordion.-notice .panel > .ul.-bullet > li > div > .ul.-dash {padding-top:.8rem;}
.nds-accordion.-notice .panel > .ul.-bullet > li > div > .ul.-dash li + li {margin-top:.8rem;} */

/* FUNCTION */
[data-nds-role="fold"] [data-nds-role="hidden"] {display:none;}
[data-nds-role="fold"].-slidedown,
[data-nds-role="fold"].-slideup {overflow:hidden;}
[data-nds-role="fold"].-slidedown [data-nds-role="hidden"],
[data-nds-role="fold"].-slideup [data-nds-role="hidden"] {display:block; overflow:hidden;}
[data-nds-role="fold"].-active [data-nds-role="hidden"] {display:block;}