/* ============================================================
   button.css
   ---------------------------------------------------------
   
   ========================================================= */
   
:root {
    /* [Button - Primary] */
    --nds-color-text-button-primary-default:#FFFFFF;
    --nds-color-bg-button-primary-default:#19973C;
    --nds-color-text-button-primary-pressed:#FFFFFF;
    --nds-color-bg-button-primary-pressed:#0D5722;
    --nds-color-text-button-primary-disabled:#929292;
    --nds-color-bg-button-primary-disabled:#F0F0F0;

    /* [Button - Secondary] */
    --nds-color-text-button-secondary-default:#19973C;
    --nds-color-border-button-secondary-default:#19973C;
    --nds-color-bg-button-secondary-default:#FFFFFF;
    --nds-color-text-button-secondary-pressed:#0D5722;
    --nds-color-border-button-secondary-pressed:#0D5722;
    --nds-color-bg-button-secondary-pressed:#DDF2E4;
    --nds-color-text-button-secondary-disabled:#929292;
    --nds-color-border-button-secondary-disabled:#E1E1E1;
    --nds-color-bg-button-secondary-disabled:#FFFFFF;

    /* [Button - Tertiary] */
    --nds-color-text-button-tertiary-default:#121212;
    --nds-color-border-button-tertiary-default:#D3D3D3;
    --nds-color-bg-button-tertiary-default:#FFFFFF;
    --nds-color-text-button-tertiary-pressed:#121212;
    --nds-color-border-button-tertiary-pressed:#D3D3D3;
    --nds-color-bg-button-tertiary-pressed:#F6F6F6;
    --nds-color-text-button-tertiary-disabled:#929292;
    --nds-color-border-button-tertiary-disabled:#E1E1E1;
    --nds-color-bg-button-tertiary-disabled:#FFFFFF;

    /* [Button - Misc] */
    --nds-color-text-button-text-icon:#505050;
    --nds-color-text-button-file-default:#505050;
    --nds-color-border-button-file:#E1E1E1;
    --nds-color-text-button-file-disabled:#929292;
    --nds-color-text-button-floating:#685EFD;
    --nds-color-border-button-floating:#685EFD;
    --nds-color-bg-button-floating:#FFFFFF;
}

/* --- Dark Mode --- */
.dark-mode {
    /* [Button - Primary] */
    --nds-color-text-button-primary-default:#FFFFFF;
    --nds-color-bg-button-primary-default:#19973C;
    --nds-color-text-button-primary-pressed:#FFFFFF;
    --nds-color-bg-button-primary-pressed:#0D5722;
    --nds-color-text-button-primary-disabled:#A6A6A6;
    --nds-color-bg-button-primary-disabled:#404040;

    /* [Button - Secondary] */
    --nds-color-text-button-secondary-default:#3CBD61;
    --nds-color-border-button-secondary-default:#3CBD61;
    --nds-color-bg-button-secondary-default:#212121;
    --nds-color-text-button-secondary-pressed:#ACE3BC;
    --nds-color-border-button-secondary-pressed:#ACE3BC;
    --nds-color-bg-button-secondary-pressed:#06260F;
    --nds-color-text-button-secondary-disabled:#A6A6A6;
    --nds-color-border-button-secondary-disabled:#505050;
    --nds-color-bg-button-secondary-disabled:#212121;

    /* [Button - Tertiary] */
    --nds-color-text-button-tertiary-default:#FFFFFF;
    --nds-color-border-button-tertiary-default:#707070;
    --nds-color-bg-button-tertiary-default:#212121;
    --nds-color-text-button-tertiary-pressed:#FFFFFF;
    --nds-color-border-button-tertiary-pressed:#707070;
    --nds-color-bg-button-tertiary-pressed:#303030;
    --nds-color-text-button-tertiary-disabled:#A6A6A6;
    --nds-color-border-button-tertiary-disabled:#505050;
    --nds-color-bg-button-tertiary-disabled:#212121;

    /* [Button - Misc] */
    --nds-color-text-button-text-icon:#D9D9D9;
    --nds-color-text-button-file-default:#D9D9D9;
    --nds-color-border-button-file:#505050;
    --nds-color-text-button-file-disabled:#A6A6A6;
    --nds-color-text-button-floating:#685EFD;
    --nds-color-border-button-floating:#685EFD;
    --nds-color-bg-button-floating:#212121;
}