/* ============================================================
   check.css
   ---------------------------------------------------------
   
   ========================================================= */

/* ============================================================
    CSS Variables (Root & Dark Mode)
    ============================================================ */

/* --- Light Mode (Default) --- */
:root {
    /* [Checkbox - Basic] */
    --nds-color-text-checkbox-basic-default:#121212;
    --nds-color-border-checkbox-basic-default:#707070;
    --nds-color-text-checkbox-basic-selected:#121212;
    --nds-color-border-checkbox-basic-checked:#FFFFFF;
    --nds-color-bg-checkbox-basic-selected:#19973C;
    --nds-color-text-checkbox-basic-disabled:#929292;
    --nds-color-border-checkbox-basic-disabled:#E1E1E1;
    --nds-color-bg-checkbox-basic-disabled:#F6F6F6;
    --nds-color-text-checkbox-basic-selected-disabled:#121212;
    --nds-color-bg-checkbox-basic-selected-disabled:#B3B3B3;

    /* [Checkbox - Box] */
    --nds-color-text-checkbox-box-default:#505050;
    --nds-color-border-checkbox-box-default:#D3D3D3;
    --nds-color-text-checkbox-box-selected:#19973C;
    --nds-color-border-checkbox-box-selected:#19973C;
    --nds-color-text-checkbox-box-disabled:#505050;
    --nds-color-border-checkbox-box-disabled:#D3D3D3;

    /* [Checkbox - Survey] */
    --nds-color-text-checkbox-survey-default:#505050;
    --nds-color-border-checkbox-survey-default:#D3D3D3;
    --nds-color-text-checkbox-survey-positive:#505050;
    --nds-color-border-checkbox-survey-positive:#19973C;
    --nds-color-text-checkbox-survey-negative:#505050;
    --nds-color-border-checkbox-survey-negative:#E24949;
}

/* --- Dark Mode --- */
.dark-mode {
    /* [Checkbox - Basic] */
    --nds-color-text-checkbox-basic-default:#FFFFFF;
    --nds-color-border-checkbox-basic-default:#B0B0B0;
    --nds-color-text-checkbox-basic-selected:#FFFFFF;
    --nds-color-border-checkbox-basic-checked:#212121;
    --nds-color-bg-checkbox-basic-selected:#3CBD61;
    --nds-color-text-checkbox-basic-disabled:#A6A6A6;
    --nds-color-border-checkbox-basic-disabled:#505050;
    --nds-color-bg-checkbox-basic-disabled:#303030;
    --nds-color-text-checkbox-basic-selected-disabled:#FFFFFF;
    --nds-color-bg-checkbox-basic-selected-disabled:#929292;

    /* [Checkbox - Box] */
    --nds-color-text-checkbox-box-default:#D9D9D9;
    --nds-color-border-checkbox-box-default:#707070;
    --nds-color-text-checkbox-box-selected:#3CBD61;
    --nds-color-border-checkbox-box-selected:#3CBD61;
    --nds-color-text-checkbox-box-disabled:#D9D9D9;
    --nds-color-border-checkbox-box-disabled:#707070;

    /* [Checkbox - Survey] */
    --nds-color-text-checkbox-survey-default:#D9D9D9;
    --nds-color-border-checkbox-survey-default:#707070;
    --nds-color-text-checkbox-survey-positive:#D9D9D9;
    --nds-color-border-checkbox-survey-positive:#3CBD61;
    --nds-color-text-checkbox-survey-negative:#D9D9D9;
    --nds-color-border-checkbox-survey-negative:#E24949;
}

/* ============================================================
   Component Style
   ============================================================ */
