/* ============================================================
   chip.css
   ---------------------------------------------------------
   
   ========================================================= */
   
:root {
    /* [Chip - Active] */
    --nds-color-text-chip-active:#FFFFFF;
    --nds-color-bg-chip-active:#111111;
}

/* --- Dark Mode --- */
.dark-mode {
    /* [Chip - Active] */
    --nds-color-text-chip-active:#121212;
    --nds-color-bg-chip-active:#FFFFFF;
}