/* ============================================================
   icon.css
   ============================================================ */

/* [Icon - Base] */
.nds-ico {--nds-icon-size:1.6rem; display:inline-block; flex-shrink:0; justify-content:center; align-items:center; width:var(--nds-icon-size); height:var(--nds-icon-size);}
.nds-ico::before {content:url(""); display:block; width:100%; height:100%; background-repeat:no-repeat; background-position:center; background-size:contain;}

/* [Icon - Sizes] */
.nds-ico.-x8 {--nds-icon-size:.8rem;}
.nds-ico.-x12 {--nds-icon-size:1.2rem;}
.nds-ico.-x16 {--nds-icon-size:1.6rem;}
.nds-ico.-x20 {--nds-icon-size:2.0rem;}
.nds-ico.-x24 {--nds-icon-size:2.4rem;}
.nds-ico.-x28 {--nds-icon-size:2.8rem;}
.nds-ico.-x32 {--nds-icon-size:3.2rem;}
.nds-ico.-x36 {--nds-icon-size:3.6rem;}
.nds-ico.-x40 {--nds-icon-size:4.0rem;}
.nds-ico.-x48 {--nds-icon-size:4.8rem;}
.nds-ico.-x56 {--nds-icon-size:5.6rem;}
.nds-ico.-x60 {--nds-icon-size:6.0rem;}

/* [Line System - 12*12 Size] */
.nds-ico-minus-x12::before {background-image:var(--nds-ico-minus-x12);}
.nds-ico-minus-x12-disabled::before {background-image:var(--nds-ico-minus-x12-disabled);}
.nds-ico-plus-x12::before {background-image:var(--nds-ico-plus-x12);}
.nds-ico-plus-x12-disabled::before {background-image:var(--nds-ico-plus-x12-disabled);}
.nds-ico-arr-right-x12::before {background-image:var(--nds-ico-arr-right-x12);}

/* [Line System - 16*16 Size] */
.nds-ico-arr-up::before {background-image:var(--nds-ico-arr-up);}
.nds-ico-arr-down::before {background-image:var(--nds-ico-arr-down);}
.nds-ico-arr-right-x16::before {background-image:var(--nds-ico-arr-right-x16);}
.nds-ico-arr-left::before {background-image:var(--nds-ico-arr-left);}
.nds-ico-arr-right-x16-gray::before {background-image:var(--nds-ico-arr-right-x16-gray);}
.nds-ico-arr-left-filled::before {background-image:var(--nds-ico-arr-left-filled);}
.nds-ico-arr-right-filled::before {background-image:var(--nds-ico-arr-right-filled);}
.nds-ico-delete::before {background-image:var(--nds-ico-delete);}
.nds-ico-delete-filled::before {background-image:var(--nds-ico-delete-filled);}
.nds-ico-refresh-x16::before {background-image:var(--nds-ico-refresh-x16);}
.nds-ico-check-active::before {background-image:var(--nds-ico-check-active);}
.nds-ico-check-disabled::before {background-image:var(--nds-ico-check-disabled);}
.nds-ico-check-complete::before {background-image:var(--nds-ico-check-complete);}
.nds-ico-plus-x16::before {background-image:var(--nds-ico-plus-x16);}
.nds-ico-copy-info::before {background-image:var(--nds-ico-copy-info);}
.nds-ico-download-filled::before {background-image:var(--nds-ico-download-filled);}
.nds-ico-favorite-star::before {background-image:var(--nds-ico-favorite-star);}
.nds-ico-connector::before {background-image:var(--nds-ico-connector);}

/* [Line System - 24*24 Size] */
.nds-ico-arr-up1::before {background-image:var(--nds-ico-arr-up1);}
.nds-ico-arr-down1::before {background-image:var(--nds-ico-arr-down1);}
.nds-ico-arr-up1-disabled::before {background-image:var(--nds-ico-arr-up1-disabled);}
.nds-ico-arr-down1-disabled::before {background-image:var(--nds-ico-arr-down1-disabled);}
.nds-ico-arr-right1-disabled::before {background-image:var(--nds-ico-arr-right1-disabled);}
.nds-ico-notice-gray::before {background-image:var(--nds-ico-notice-gray);}
.nds-ico-tooltip1::before {background-image:var(--nds-ico-tooltip1);}
.nds-ico-full-popup::before {background-image:var(--nds-ico-full-popup);}
.nds-ico-tooltip2::before {background-image:var(--nds-ico-tooltip2);}
.nds-ico-copy::before {background-image:var(--nds-ico-copy);}
.nds-ico-down2::before {background-image:var(--nds-ico-down2);}
.nds-ico-up2::before {background-image:var(--nds-ico-up2);}
.nds-ico-left2::before {background-image:var(--nds-ico-left2);}
.nds-ico-right2::before {background-image:var(--nds-ico-right2);}
.nds-ico-left2-disabled::before {background-image:var(--nds-ico-left2-disabled);}
.nds-ico-right2-disabled::before {background-image:var(--nds-ico-right2-disabled);}
.nds-ico-plus-x24::before {background-image:var(--nds-ico-plus-x24);}
.nds-ico-minus-x24::before {background-image:var(--nds-ico-minus-x24);}
.nds-ico-plus-x24-active::before {background-image:var(--nds-ico-plus-x24-active);}
.nds-ico-minus-x24-active::before {background-image:var(--nds-ico-minus-x24-active);}
.nds-ico-plus-x24-disabled::before {background-image:var(--nds-ico-plus-x24-disabled);}
.nds-ico-minus-x24-disabled::before {background-image:var(--nds-ico-minus-x24-disabled);}
.nds-ico-download-gray::before {background-image:var(--nds-ico-download-gray);}
.nds-ico-refresh-x24::before {background-image:var(--nds-ico-refresh-x24);}
.nds-ico-cs-call::before {background-image:var(--nds-ico-cs-call);}
.nds-ico-filter::before {background-image:var(--nds-ico-filter);}
.nds-ico-notice::before {background-image:var(--nds-ico-notice);}
.nds-ico-search::before {background-image:var(--nds-ico-search);}
.nds-ico-calendar::before {background-image:var(--nds-ico-calendar);}
.nds-ico-share1::before {background-image:var(--nds-ico-share1);}
.nds-ico-share2::before {background-image:var(--nds-ico-share2);}
.nds-ico-shop::before {background-image:var(--nds-ico-shop);}
.nds-ico-camera::before {background-image:var(--nds-ico-camera);}
.nds-ico-photo::before {background-image:var(--nds-ico-photo);}
.nds-ico-download::before {background-image:var(--nds-ico-download);}
.nds-ico-previous::before {background-image:var(--nds-ico-previous);}
.nds-ico-close1::before {background-image:var(--nds-ico-close1);}
.nds-ico-close2::before {background-image:var(--nds-ico-close2);}
.nds-ico-home-allone::before {background-image:var(--nds-ico-home-allone);}
.nds-ico-home-smartbanking::before {background-image:var(--nds-ico-home-smartbanking);}
.nds-ico-cs-center::before {background-image:var(--nds-ico-cs-center);}
.nds-ico-cart::before {background-image:var(--nds-ico-cart);}
.nds-ico-check-selected::before {background-image:var(--nds-ico-check-selected);}
.nds-ico-check-default::before {background-image:var(--nds-ico-check-default);}
.nds-ico-left3::before {background-image:var(--nds-ico-left3);}
.nds-ico-left3-filled::before {background-image:var(--nds-ico-left3-filled);}
.nds-ico-setup-nuts::before {background-image:var(--nds-ico-setup-nuts);}
.nds-ico-alarm-notice::before {background-image:var(--nds-ico-alarm-notice);}
.nds-ico-menu::before {background-image:var(--nds-ico-menu);}
.nds-ico-menu-filled::before {background-image:var(--nds-ico-menu-filled);}
.nds-ico-delete-waste::before {background-image:var(--nds-ico-delete-waste);}
.nds-ico-input::before {background-image:var(--nds-ico-input);}
.nds-ico-input2::before {background-image:var(--nds-ico-input2);}
.nds-ico-admin-dot::before {background-image:var(--nds-ico-admin-dot);}
.nds-ico-favorite-star1::before {background-image:var(--nds-ico-favorite-star1);}
.nds-ico-favorite-star2::before {background-image:var(--nds-ico-favorite-star2);}
.nds-ico-share-message1::before {background-image:var(--nds-ico-share-message1);}
.nds-ico-share-message2::before {background-image:var(--nds-ico-share-message2);}
.nds-ico-share-link::before {background-image:var(--nds-ico-share-link);}
.nds-ico-plus-add::before {background-image:var(--nds-ico-plus-add);}
.nds-ico-continue::before {background-image:var(--nds-ico-continue);}

/* [Line General - 24*24 Size] */
.nds-ico-publish-insurance::before {background-image:var(--nds-ico-publish-insurance);}
.nds-ico-security::before {background-image:var(--nds-ico-security);}
.nds-ico-payment::before {background-image:var(--nds-ico-payment);}
.nds-ico-phone-cs::before {background-image:var(--nds-ico-phone-cs);}
.nds-ico-chat-cs::before {background-image:var(--nds-ico-chat-cs);}
.nds-ico-mail-cs::before {background-image:var(--nds-ico-mail-cs);}
.nds-ico-mobile-center::before {background-image:var(--nds-ico-mobile-center);}
.nds-ico-bank::before {background-image:var(--nds-ico-bank);}
.nds-ico-apply-insurance::before {background-image:var(--nds-ico-apply-insurance);}
.nds-ico-stockoption::before {background-image:var(--nds-ico-stockoption);}
.nds-ico-market-price::before {background-image:var(--nds-ico-market-price);}
.nds-ico-fund::before {background-image:var(--nds-ico-fund);}
.nds-ico-aim::before {background-image:var(--nds-ico-aim);}
.nds-ico-circle-cancel::before {background-image:var(--nds-ico-circle-cancel);}
.nds-ico-circle-cancel-disabled::before {background-image:var(--nds-ico-circle-cancel-disabled);}
.nds-ico-o::before {background-image:var(--nds-ico-o);}
.nds-ico-x::before {background-image:var(--nds-ico-x);}
.nds-ico-o-selected::before {background-image:var(--nds-ico-o-selected);}
.nds-ico-x-selected::before {background-image:var(--nds-ico-x-selected);}
.nds-ico-check::before {background-image:var(--nds-ico-check);}
.nds-ico-check-x24-disabled::before {background-image:var(--nds-ico-check-x24-disabled);}
.nds-ico-check-filled::before {background-image:var(--nds-ico-check-filled);}
.nds-ico-pencil::before {background-image:var(--nds-ico-pencil);}
.nds-ico-pencil-disabled::before {background-image:var(--nds-ico-pencil-disabled);}
.nds-ico-login::before {background-image:var(--nds-ico-login);}
.nds-ico-login-disabled::before {background-image:var(--nds-ico-login-disabled);}
.nds-ico-security-info::before {background-image:var(--nds-ico-security-info);}
.nds-ico-security-info-disabled::before {background-image:var(--nds-ico-security-info-disabled);}
.nds-ico-profile-add-filled::before {background-image:var(--nds-ico-profile-add-filled);}
.nds-ico-profile-confirm-filled::before {background-image:var(--nds-ico-profile-confirm-filled);}
.nds-ico-recalculate-filled::before {background-image:var(--nds-ico-recalculate-filled);}
.nds-ico-application-check::before {background-image:var(--nds-ico-application-check);}
.nds-ico-account::before {background-image:var(--nds-ico-account);}
.nds-ico-account-gray::before {background-image:var(--nds-ico-account-gray);}
.nds-ico-confirm-phone::before {background-image:var(--nds-ico-confirm-phone);}
.nds-ico-confirm-phone-gray::before {background-image:var(--nds-ico-confirm-phone-gray);}
.nds-ico-cs-call-gray::before {background-image:var(--nds-ico-cs-call-gray);}
.nds-ico-finance-won-gray::before {background-image:var(--nds-ico-finance-won-gray);}
.nds-ico-foreign-exchange-gray::before {background-image:var(--nds-ico-foreign-exchange-gray);}
.nds-ico-nh-group-gray::before {background-image:var(--nds-ico-nh-group-gray);}
.nds-ico-product-bag-gray::before {background-image:var(--nds-ico-product-bag-gray);}
.nds-ico-payment-card-gray::before {background-image:var(--nds-ico-payment-card-gray);}
.nds-ico-nh-mydata-gray::before {background-image:var(--nds-ico-nh-mydata-gray);}
.nds-ico-grip-line::before {background-image:var(--nds-ico-grip-line);}
.nds-ico-domestic-franchise::before {background-image:var(--nds-ico-domestic-franchise);}
.nds-ico-lounge-earth::before {background-image:var(--nds-ico-lounge-earth);}
.nds-ico-exchange-pocket::before {background-image:var(--nds-ico-exchange-pocket);}
.nds-ico-oversea-payment::before {background-image:var(--nds-ico-oversea-payment);}
.nds-ico-auto-charge::before {background-image:var(--nds-ico-auto-charge);}
.nds-ico-customer-verification::before {background-image:var(--nds-ico-customer-verification);}
.nds-ico-terms-agree::before {background-image:var(--nds-ico-terms-agree);}
.nds-ico-card-select::before {background-image:var(--nds-ico-card-select);}

/* [Line General - 32*32 Size] */
.nds-ico-certi-pattern::before {background-image:var(--nds-ico-certi-pattern);}
.nds-ico-certi-face::before {background-image:var(--nds-ico-certi-face);}
.nds-ico-certi-pw::before {background-image:var(--nds-ico-certi-pw);}
.nds-ico-certi-fingerprint::before {background-image:var(--nds-ico-certi-fingerprint);}
.nds-ico-share-message-filled::before {background-image:var(--nds-ico-share-message-filled);}
.nds-ico-share-copy-link-filled::before {background-image:var(--nds-ico-share-copy-link-filled);}
.nds-ico-share-present::before {background-image:var(--nds-ico-share-present);}
.nds-ico-share-link::before {background-image:var(--nds-ico-share-link);}
.nds-ico-share-message2-filled::before {background-image:var(--nds-ico-share-message2-filled);}
.nds-ico-service-time::before {background-image:var(--nds-ico-service-time);}
.nds-ico-service-faq::before {background-image:var(--nds-ico-service-faq);}
.nds-ico-service-counselor::before {background-image:var(--nds-ico-service-counselor);}
.nds-ico-service-branch::before {background-image:var(--nds-ico-service-branch);}
.nds-ico-foreign-input::before {background-image:var(--nds-ico-foreign-input);}
.nds-ico-foreign-storage::before {background-image:var(--nds-ico-foreign-storage);}
.nds-ico-foreign-out::before {background-image:var(--nds-ico-foreign-out);}
.nds-ico-receipt-branch::before {background-image:var(--nds-ico-receipt-branch);}
.nds-ico-account-deposit::before {background-image:var(--nds-ico-account-deposit);}
.nds-ico-exchange-docu::before {background-image:var(--nds-ico-exchange-docu);}
.nds-ico-exchange-remittance::before {background-image:var(--nds-ico-exchange-remittance);}

/* [Line General - 36*36 Size] */
.nds-ico-female-cancer::before {background-image:var(--nds-ico-female-cancer);}
.nds-ico-female-cancer-disabled::before {background-image:var(--nds-ico-female-cancer-disabled);}
.nds-ico-male-cancer::before {background-image:var(--nds-ico-male-cancer);}
.nds-ico-male-cancer-disabled::before {background-image:var(--nds-ico-male-cancer-disabled);}
.nds-ico-driblet-cancer::before {background-image:var(--nds-ico-driblet-cancer);}
.nds-ico-pancreatic-cancer::before {background-image:var(--nds-ico-pancreatic-cancer);}
.nds-ico-general-cancer::before {background-image:var(--nds-ico-general-cancer);}
.nds-ico-liver-cancer::before {background-image:var(--nds-ico-liver-cancer);}
.nds-ico-lung-cancer::before {background-image:var(--nds-ico-lung-cancer);}
.nds-ico-colorectal-cancer::before {background-image:var(--nds-ico-colorectal-cancer);}
.nds-ico-gastric-cancer::before {background-image:var(--nds-ico-gastric-cancer);}

/* [Line General - 40*40 Size] */
.nds-ico-franchise-shoot::before {background-image:var(--nds-ico-franchise-shoot);}
.nds-ico-franchise-qr::before {background-image:var(--nds-ico-franchise-qr);}

/* [Fill System - 8*8 Size] */
.nds-ico-fill-indicator-stop-filled::before {background-image:var(--nds-ico-fill-indicator-stop-filled);}
.nds-ico-fill-indicator-play-filled::before {background-image:var(--nds-ico-fill-indicator-play-filled);}

/* [Fill System - 12*12 Size] */
.nds-ico-fill-indicator-play::before {background-image:var(--nds-ico-fill-indicator-play);}
.nds-ico-fill-indicator-stop::before {background-image:var(--nds-ico-fill-indicator-stop);}

/* [Fill System - 16*16 Size] */
.nds-ico-fill-favorite-star-selected::before {background-image:var(--nds-ico-fill-favorite-star-selected);}

/* [Fill System - 20*20 Size] */
.nds-ico-fill-tooltip-error::before {background-image:var(--nds-ico-fill-tooltip-error);}

/* [Fill System - 24*24 Size] */
.nds-ico-fill-zoom-in::before {background-image:var(--nds-ico-fill-zoom-in);}
.nds-ico-fill-cancel1::before {background-image:var(--nds-ico-fill-cancel1);}
.nds-ico-fill-cancel2::before {background-image:var(--nds-ico-fill-cancel2);}
.nds-ico-fill-favorite-star-selected::before {background-image:var(--nds-ico-fill-favorite-star-selected);}
.nds-ico-fill-favorite-star-default::before {background-image:var(--nds-ico-fill-favorite-star-default);}

/* [Fill General - 12*12 Size] */
.nds-ico-fill-next-arrow::before {background-image:var(--nds-ico-fill-next-arrow);}

/* [Fill General - 20*20 Size] */
.nds-ico-fill-product-new::before {background-image:var(--nds-ico-fill-product-new);}
.nds-ico-fill-product-thumb::before {background-image:var(--nds-ico-fill-product-thumb);}
.nds-ico-fill-call-receiver::before {background-image:var(--nds-ico-fill-call-receiver);}

/* [Fill General - 24*24 Size] */
.nds-ico-fill-share-kakaotalk1::before {background-image:var(--nds-ico-fill-share-kakaotalk1);}
.nds-ico-fill-share-kakaotalk2::before {background-image:var(--nds-ico-fill-share-kakaotalk2);}
.nds-ico-fill-admin-number::before {background-image:var(--nds-ico-fill-admin-number);}
.nds-ico-fill-announce-bell::before {background-image:var(--nds-ico-fill-announce-bell);}
.nds-ico-fill-return-rate-search::before {background-image:var(--nds-ico-fill-return-rate-search);}
.nds-ico-fill-major-index::before {background-image:var(--nds-ico-fill-major-index);}
.nds-ico-fill-trust-money::before {background-image:var(--nds-ico-fill-trust-money);}
.nds-ico-fill-insurance-annuity::before {background-image:var(--nds-ico-fill-insurance-annuity);}
.nds-ico-fill-trust-charitable::before {background-image:var(--nds-ico-fill-trust-charitable);}
/* Folder, Monitoring, Management 24px는 32px과 비율 동일, 클래스 재사용. ex) .nds-ico-fill-folder.-x24 */
.nds-ico-fill-tendency-graph::before {background-image:var(--nds-ico-fill-tendency-graph);}
.nds-ico-fill-interest-heart::before {background-image:var(--nds-ico-fill-interest-heart);}

/* [Fill General - 28*28 Size] */
.nds-ico-fill-notice-withdrawal::before {background-image:var(--nds-ico-fill-notice-withdrawal);}
.nds-ico-fill-notice-remittance::before {background-image:var(--nds-ico-fill-notice-remittance);}
.nds-ico-fill-notice-electronic::before {background-image:var(--nds-ico-fill-notice-electronic);}
.nds-ico-fill-notice-new::before {background-image:var(--nds-ico-fill-notice-new);}
.nds-ico-fill-notice-candy::before {background-image:var(--nds-ico-fill-notice-candy);}
.nds-ico-fill-notice-event::before {background-image:var(--nds-ico-fill-notice-event);}
.nds-ico-fill-notice-smart-talk::before {background-image:var(--nds-ico-fill-notice-smart-talk);}
.nds-ico-fill-notice-recommend-product::before {background-image:var(--nds-ico-fill-notice-recommend-product);}
.nds-ico-fill-notice-community::before {background-image:var(--nds-ico-fill-notice-community);}
.nds-ico-fill-notice-the-mouim::before {background-image:var(--nds-ico-fill-notice-the-mouim);}
.nds-ico-fill-notice-nts::before {background-image:var(--nds-ico-fill-notice-nts);}
.nds-ico-fill-insurance-gift::before {background-image:var(--nds-ico-fill-insurance-gift);}
.nds-ico-fill-keep-gift::before {background-image:var(--nds-ico-fill-keep-gift);}

/* [Fill General - 32*32 Size] */
.nds-ico-fill-phone::before {background-image:var(--nds-ico-fill-phone);}
.nds-ico-fill-share-kakaostory::before {background-image:var(--nds-ico-fill-share-kakaostory);}
.nds-ico-fill-share-facebook::before {background-image:var(--nds-ico-fill-share-facebook);}
.nds-ico-fill-share-twitter::before {background-image:var(--nds-ico-fill-share-twitter);}
.nds-ico-fill-silver-won::before {background-image:var(--nds-ico-fill-silver-won);}
.nds-ico-fill-gold-won::before {background-image:var(--nds-ico-fill-gold-won);}
.nds-ico-fill-silver-percent::before {background-image:var(--nds-ico-fill-silver-percent);}
.nds-ico-fill-gold-percent::before {background-image:var(--nds-ico-fill-gold-percent);}
.nds-ico-fill-certi-naver-x32::before {background-image:var(--nds-ico-fill-certi-naver-x32);}
.nds-ico-fill-certi-pass-x32::before {background-image:var(--nds-ico-fill-certi-pass-x32);}
.nds-ico-fill-certi-kakao-x32::before {background-image:var(--nds-ico-fill-certi-kakao-x32);}
.nds-ico-fill-certi-toss-x32::before {background-image:var(--nds-ico-fill-certi-toss-x32);}
.nds-ico-fill-certi-joint::before {background-image:var(--nds-ico-fill-certi-joint);}
.nds-ico-fill-certi-nh-x32::before {background-image:var(--nds-ico-fill-certi-nh-x32);}
.nds-ico-fill-certi-yeskey-x32::before {background-image:var(--nds-ico-fill-certi-yeskey-x32);}
.nds-ico-fill-share-kakaotalk::before {background-image:var(--nds-ico-fill-share-kakaotalk);}
.nds-ico-fill-target::before {background-image:var(--nds-ico-fill-target);}
.nds-ico-fill-repayment::before {background-image:var(--nds-ico-fill-repayment);}
.nds-ico-fill-amount-dollar::before {background-image:var(--nds-ico-fill-amount-dollar);}
.nds-ico-fill-amount-won::before {background-image:var(--nds-ico-fill-amount-won);}
.nds-ico-fill-rates-calculator::before {background-image:var(--nds-ico-fill-rates-calculator);}
.nds-ico-fill-period-calendar::before {background-image:var(--nds-ico-fill-period-calendar);}
.nds-ico-fill-diversified::before {background-image:var(--nds-ico-fill-diversified);}
.nds-ico-fill-transaction-time::before {background-image:var(--nds-ico-fill-transaction-time);}
.nds-ico-fill-play-video::before {background-image:var(--nds-ico-fill-play-video);}
.nds-ico-fill-meritorious-person::before {background-image:var(--nds-ico-fill-meritorious-person);}
.nds-ico-fill-global::before {background-image:var(--nds-ico-fill-global);}
.nds-ico-fill-military-veterans::before {background-image:var(--nds-ico-fill-military-veterans);}
.nds-ico-fill-own-name-phone::before {background-image:var(--nds-ico-fill-own-name-phone);}
.nds-ico-fill-my-phone::before {background-image:var(--nds-ico-fill-my-phone);}
.nds-ico-fill-nh-account::before {background-image:var(--nds-ico-fill-nh-account);}
.nds-ico-fill-identification::before {background-image:var(--nds-ico-fill-identification);}
.nds-ico-fill-verifying-info::before {background-image:var(--nds-ico-fill-verifying-info);}
.nds-ico-fill-received-paid::before {background-image:var(--nds-ico-fill-received-paid);}
.nds-ico-fill-bankbook-coin::before {background-image:var(--nds-ico-fill-bankbook-coin);}
.nds-ico-fill-installment-save::before {background-image:var(--nds-ico-fill-installment-save);}
.nds-ico-fill-apart-application::before {background-image:var(--nds-ico-fill-apart-application);}
.nds-ico-fill-fund-graph::before {background-image:var(--nds-ico-fill-fund-graph);}
.nds-ico-fill-loan-pocket-pink::before {background-image:var(--nds-ico-fill-loan-pocket-pink);}
.nds-ico-fill-foreign-exchange::before {background-image:var(--nds-ico-fill-foreign-exchange);}
.nds-ico-fill-retirement-pension::before {background-image:var(--nds-ico-fill-retirement-pension);}
.nds-ico-fill-trust-graph::before {background-image:var(--nds-ico-fill-trust-graph);}
.nds-ico-fill-isa-shield::before {background-image:var(--nds-ico-fill-isa-shield);}
.nds-ico-fill-insurance-heart::before {background-image:var(--nds-ico-fill-insurance-heart);}
.nds-ico-fill-gold-bar::before {background-image:var(--nds-ico-fill-gold-bar);}
.nds-ico-fill-recommed-fund::before {background-image:var(--nds-ico-fill-recommed-fund);}
.nds-ico-fill-best-crown::before {background-image:var(--nds-ico-fill-best-crown);}
.nds-ico-fill-fund-coinhand::before {background-image:var(--nds-ico-fill-fund-coinhand);}
.nds-ico-fill-self-shield::before {background-image:var(--nds-ico-fill-self-shield);}
.nds-ico-fill-coin-bank::before {background-image:var(--nds-ico-fill-coin-bank);}
.nds-ico-fill-pension-pocket::before {background-image:var(--nds-ico-fill-pension-pocket);}
.nds-ico-fill-security-insurance::before {background-image:var(--nds-ico-fill-security-insurance);}
.nds-ico-fill-variable-shield::before {background-image:var(--nds-ico-fill-variable-shield);}
.nds-ico-fill-travel-insurance::before {background-image:var(--nds-ico-fill-travel-insurance);}
.nds-ico-fill-children-insurance::before {background-image:var(--nds-ico-fill-children-insurance);}
.nds-ico-fill-foreign-exchange-account::before {background-image:var(--nds-ico-fill-foreign-exchange-account);}
.nds-ico-fill-insurance-heart2::before {background-image:var(--nds-ico-fill-insurance-heart2);}
.nds-ico-fill-loan-pocket-orange::before {background-image:var(--nds-ico-fill-loan-pocket-orange);}
.nds-ico-fill-nhis::before {background-image:var(--nds-ico-fill-nhis);}
.nds-ico-fill-gov::before {background-image:var(--nds-ico-fill-gov);}
.nds-ico-fill-rebalancing::before {background-image:var(--nds-ico-fill-rebalancing);}
.nds-ico-fill-folder::before {background-image:var(--nds-ico-fill-folder);}
.nds-ico-fill-monitoring::before {background-image:var(--nds-ico-fill-monitoring);}
.nds-ico-fill-management::before {background-image:var(--nds-ico-fill-management);}
.nds-ico-fill-guide-own-goods::before {background-image:var(--nds-ico-fill-guide-own-goods);}
.nds-ico-fill-guide-deposit-product::before {background-image:var(--nds-ico-fill-guide-deposit-product);}
.nds-ico-fill-check-payment-result::before {background-image:var(--nds-ico-fill-check-payment-result);}
.nds-ico-fill-auto-payment-result::before {background-image:var(--nds-ico-fill-auto-payment-result);}
.nds-ico-fill-auto-withdrawal-account::before {background-image:var(--nds-ico-fill-auto-withdrawal-account);}
.nds-ico-fill-change-auto-payment::before {background-image:var(--nds-ico-fill-change-auto-payment);}
.nds-ico-fill-block-credit-trans::before {background-image:var(--nds-ico-fill-block-credit-trans);}
.nds-ico-fill-block-account-opening::before {background-image:var(--nds-ico-fill-block-account-opening);}
.nds-ico-fill-certi-ars::before {background-image:var(--nds-ico-fill-certi-ars);}
.nds-ico-fill-certi-joint2::before {background-image:var(--nds-ico-fill-certi-joint2);}
.nds-ico-fill-certi-financial::before {background-image:var(--nds-ico-fill-certi-financial);}
.nds-ico-fill-certi-sms::before {background-image:var(--nds-ico-fill-certi-sms);}
.nds-ico-fill-certi-usim::before {background-image:var(--nds-ico-fill-certi-usim);}
.nds-ico-fill-certi-videotelephony::before {background-image:var(--nds-ico-fill-certi-videotelephony);}
.nds-ico-fill-certi-my-account::before {background-image:var(--nds-ico-fill-certi-my-account);}
.nds-ico-fill-certi-security-device::before {background-image:var(--nds-ico-fill-certi-security-device);}
.nds-ico-fill-nh-robo-dream::before {background-image:var(--nds-ico-fill-nh-robo-dream);}
.nds-ico-fill-hybrid-roboadviser::before {background-image:var(--nds-ico-fill-hybrid-roboadviser);}

/* [Fill General - 36*36 Size] */
.nds-ico-fill-investor-1th::before {background-image:var(--nds-ico-fill-investor-1th);}
.nds-ico-fill-investor-2th::before {background-image:var(--nds-ico-fill-investor-2th);}
.nds-ico-fill-investor-3th::before {background-image:var(--nds-ico-fill-investor-3th);}
.nds-ico-fill-investor-4th::before {background-image:var(--nds-ico-fill-investor-4th);}
.nds-ico-fill-investor-5th::before {background-image:var(--nds-ico-fill-investor-5th);}
.nds-ico-fill-goal1::before {background-image:var(--nds-ico-fill-goal1);}
.nds-ico-fill-money-pocket::before {background-image:var(--nds-ico-fill-money-pocket);}
.nds-ico-fill-bankbook::before {background-image:var(--nds-ico-fill-bankbook);}
.nds-ico-fill-note::before {background-image:var(--nds-ico-fill-note);}
.nds-ico-fill-suitcase::before {background-image:var(--nds-ico-fill-suitcase);}
.nds-ico-fill-house1::before {background-image:var(--nds-ico-fill-house1);}
.nds-ico-fill-goal2::before {background-image:var(--nds-ico-fill-goal2);}
.nds-ico-fill-ring::before {background-image:var(--nds-ico-fill-ring);}
.nds-ico-fill-present::before {background-image:var(--nds-ico-fill-present);}
.nds-ico-fill-clover::before {background-image:var(--nds-ico-fill-clover);}
.nds-ico-fill-baby::before {background-image:var(--nds-ico-fill-baby);}
.nds-ico-fill-heart::before {background-image:var(--nds-ico-fill-heart);}
.nds-ico-fill-house2::before {background-image:var(--nds-ico-fill-house2);}
.nds-ico-fill-timer::before {background-image:var(--nds-ico-fill-timer);}
.nds-ico-fill-one-year1::before {background-image:var(--nds-ico-fill-one-year1);}
.nds-ico-fill-one-year2::before {background-image:var(--nds-ico-fill-one-year2);}
.nds-ico-fill-three-years::before {background-image:var(--nds-ico-fill-three-years);}
.nds-ico-fill-senior::before {background-image:var(--nds-ico-fill-senior);}
.nds-ico-fill-retiree::before {background-image:var(--nds-ico-fill-retiree);}
.nds-ico-fill-housewife::before {background-image:var(--nds-ico-fill-housewife);}
.nds-ico-fill-minor::before {background-image:var(--nds-ico-fill-minor);}
.nds-ico-fill-hasten-explain::before {background-image:var(--nds-ico-fill-hasten-explain);}
.nds-ico-fill-not-applicable::before {background-image:var(--nds-ico-fill-not-applicable);}

/* [Fill General - 40*40 Size] */
/* No Data 40px는 56px과 비율 동일, 클래스 재사용. ex) .nds-ico-fill-no-data.-x40 */

/* [Fill General - 48*48 Size] */
.nds-ico-fill-calculator-coin::before {background-image:var(--nds-ico-fill-calculator-coin);}
.nds-ico-fill-calculator-home::before {background-image:var(--nds-ico-fill-calculator-home);}
.nds-ico-fill-certificate::before {background-image:var(--nds-ico-fill-certificate);}
.nds-ico-fill-certificate-error::before {background-image:var(--nds-ico-fill-certificate-error);}
.nds-ico-fill-certificate-disabled::before {background-image:var(--nds-ico-fill-certificate-disabled);}
.nds-ico-fill-guard::before {background-image:var(--nds-ico-fill-guard);}
.nds-ico-fill-money-coins::before {background-image:var(--nds-ico-fill-money-coins);}
.nds-ico-fill-saving::before {background-image:var(--nds-ico-fill-saving);}
.nds-ico-fill-monitor::before {background-image:var(--nds-ico-fill-monitor);}

/* [Fill General - 56*56 Size] */
.nds-ico-fill-no-data::before {background-image:var(--nds-ico-fill-no-data);}
.nds-ico-fill-certificate-empty::before {background-image:var(--nds-ico-fill-certificate-empty);}
.nds-ico-fill-certi-nh-x56::before {background-image:var(--nds-ico-fill-certi-nh-x56);}
.nds-ico-fill-certi-toss-x56::before {background-image:var(--nds-ico-fill-certi-toss-x56);}
.nds-ico-fill-certi-kakao-x56::before {background-image:var(--nds-ico-fill-certi-kakao-x56);}
.nds-ico-fill-certi-pass-x56::before {background-image:var(--nds-ico-fill-certi-pass-x56);}
.nds-ico-fill-certi-naver-x56::before {background-image:var(--nds-ico-fill-certi-naver-x56);}
.nds-ico-fill-certi-yeskey-x56::before {background-image:var(--nds-ico-fill-certi-yeskey-x56);}
.nds-ico-fill-joint-certificate::before {background-image:var(--nds-ico-fill-joint-certificate);}

/* [Tabbar - 28*28 Size] */
.nds-ico-tabbar-home::before {background-image:var(--nds-ico-tabbar-home);}
.nds-ico-tabbar-mall::before {background-image:var(--nds-ico-tabbar-mall);}
.nds-ico-tabbar-mydata::before {background-image:var(--nds-ico-tabbar-mydata);}
.nds-ico-tabbar-point::before {background-image:var(--nds-ico-tabbar-point);}
.nds-ico-tabbar-lifeplus::before {background-image:var(--nds-ico-tabbar-lifeplus);}
.nds-ico-tabbar-home-active::before {background-image:var(--nds-ico-tabbar-home-active);}
.nds-ico-tabbar-mall-active::before {background-image:var(--nds-ico-tabbar-mall-active);}
.nds-ico-tabbar-mydata-active::before {background-image:var(--nds-ico-tabbar-mydata-active);}
.nds-ico-tabbar-point-active::before {background-image:var(--nds-ico-tabbar-point-active);}
.nds-ico-tabbar-lifeplus-active::before {background-image:var(--nds-ico-tabbar-lifeplus-active);}
.nds-ico-tabbar-home-smart::before {background-image:var(--nds-ico-tabbar-home-smart);}
.nds-ico-tabbar-mall-smart::before {background-image:var(--nds-ico-tabbar-mall-smart);}
.nds-ico-tabbar-mydata-smart::before {background-image:var(--nds-ico-tabbar-mydata-smart);}
.nds-ico-tabbar-talk-smart::before {background-image:var(--nds-ico-tabbar-talk-smart);}
.nds-ico-tabbar-fill-home-smart::before {background-image:var(--nds-ico-tabbar-fill-home-smart);}
.nds-ico-tabbar-fill-mall-smart::before {background-image:var(--nds-ico-tabbar-fill-mall-smart);}
.nds-ico-tabbar-fill-mydata-smart::before {background-image:var(--nds-ico-tabbar-fill-mydata-smart);}
.nds-ico-tabbar-fill-talk-smart::before {background-image:var(--nds-ico-tabbar-fill-talk-smart);}

/* [Flags] */
.nds-ico[data-countrycode="000"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-south-korea_32.svg");}            /* KRW(대한민국 원) */
.nds-ico[data-countrycode="000"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-south-korea_32.svg");}            /* KRW(대한민국 원) */
.nds-ico[data-countrycode="001"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-usa_32.svg");}                    /* USD(미국 달러) */
.nds-ico[data-countrycode="002"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-japan_32.svg");}                  /* JPY(일본 엔) */
.nds-ico[data-countrycode="003"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-eu_32.svg");}                     /* EUR(유럽연합 유로) */
.nds-ico[data-countrycode="004"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-china_32.svg");}                  /* CNY(중국 위안) */
.nds-ico[data-countrycode="005"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-uk_32.svg");}                     /* GBP(영국 파운드) */
.nds-ico[data-countrycode="006"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-swiss_32.svg");}                  /* CHF(스위스 프랑) */
.nds-ico[data-countrycode="007"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-canada_32.svg");}                 /* CAD(캐나다 달러) */
.nds-ico[data-countrycode="008"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-hongkong_32.svg");}               /* HKD(홍콩 달러) */
.nds-ico[data-countrycode="009"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-sweden_32.svg");}                 /* SEK(스웨덴 크로네) */
.nds-ico[data-countrycode="010"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-australia_32.svg");}              /* AUD(호주 달러) */
.nds-ico[data-countrycode="011"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-denmark_32.svg");}                /* DKK(덴마크 크로네) */
.nds-ico[data-countrycode="012"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-norwey_32.svg");}                 /* NOK(노르웨이 크로네) */
.nds-ico[data-countrycode="013"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-saudi_32.svg");}                  /* SAR(사우디아라비아 리얄) */
.nds-ico[data-countrycode="014"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-kuwait_32.svg");}                 /* KWE(쿠웨이트 디나르) */
.nds-ico[data-countrycode="015"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-bahrain_32.svg");}                /* BHD(바레인 디나리) */
.nds-ico[data-countrycode="016"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-uae_32.svg");}                    /* AED(아랍에미리트 디히람) */
.nds-ico[data-countrycode="017"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-singapore_32.svg");}              /* SGD(싱가포르 달러) */
.nds-ico[data-countrycode="018"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-malaysia_32.svg");}               /* MYR(말레이시아 링기트) */
.nds-ico[data-countrycode="019"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-newzealand_32.svg");}             /* NZD(뉴질랜드 달러) */
.nds-ico[data-countrycode="020"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-thailand_32.svg");}               /* THB(태국 바트) */
.nds-ico[data-countrycode="021"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-indonesia_32.svg");}              /* IDR(인도네시아 루피아) */
.nds-ico[data-countrycode="022"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-taiwan_32.svg");}                 /* TWD(대만 달러) */
.nds-ico[data-countrycode="023"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-philippines_32.svg");}            /* PHP(필리핀 페소) */
.nds-ico[data-countrycode="024"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-india_32.svg");}                  /* INR(인도 루피) */
.nds-ico[data-countrycode="025"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-russia_32.svg");}                 /* RUB(러시아 루블) */
.nds-ico[data-countrycode="026"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-poland_32.svg");}                 /* PLN(폴란드 즈워티) */
.nds-ico[data-countrycode="027"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-south-africa_32.svg");}           /* ZAR(남아프리카공화국 랜드) */
.nds-ico[data-countrycode="028"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-mexico_32.svg");}                 /* MXN(멕시코 페소) */
.nds-ico[data-countrycode="029"]::before {background-image:url("../../../imgs/nds/img/flag/img_flag-vietnam_32.svg");}                /* VND(베트남 동) */

/* [Banks] */
/* TODO: 뱅크 코드 확인 필요 */
.nds-ico[data-bankcode="002"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-kdb_56.svg");}                         /* 산업은행 */
.nds-ico[data-bankcode="003"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-ibk_56.svg");}                         /* 기업은행 */
.nds-ico[data-bankcode="004"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-kb_56.svg");}                          /* 국민은행 */
.nds-ico[data-bankcode="005"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-hana_56.svg");}                        /* 하나은행 */
.nds-ico[data-bankcode="006"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-ibk_56.svg");}                         /* 국민은행 */
.nds-ico[data-bankcode="007"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-sh_56.svg");}                          /* 수협은행 */
.nds-ico[data-bankcode="009"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-cu_56.svg");}                          /* 신협중앙회 */
.nds-ico[data-bankcode="010"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-nh_56.svg");}                          /* 농협은행 */
.nds-ico[data-bankcode="011"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-nh_56.svg");}                          /* 농협은행 */
.nds-ico[data-bankcode="094"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-nh-agriculture_56.svg");}              /* 농축협 */
.nds-ico[data-bankcode="012"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-nh-agriculture_56.svg");}              /* 지역농축협 */
.nds-ico[data-bankcode="013"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-nh-agriculture_56.svg");}              /* 지역농축협 */
.nds-ico[data-bankcode="014"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-nh-agriculture_56.svg");}              /* 지역농축협 */
.nds-ico[data-bankcode="015"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-nh-agriculture_56.svg");}              /* 지역농축협 */
.nds-ico[data-bankcode="016"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-nh_56.svg");}                          /* 농협은행 */
.nds-ico[data-bankcode="017"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-nh-agriculture_56.svg");}              /* 지역농축협 */
.nds-ico[data-bankcode="018"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-nh-agriculture_56.svg");}              /* 지역농축협 */
.nds-ico[data-bankcode="019"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-kb_56.svg");}                          /* 국민은행 */
.nds-ico[data-bankcode="020"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-woori_56.svg");}                       /* 우리은행 */
.nds-ico[data-bankcode="021"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-shinhan_56.svg");}                     /* 신한은행 */
.nds-ico[data-bankcode="022"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-woori_56.svg");}                       /* 우리은행 */
.nds-ico[data-bankcode="023"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-sc_56.svg");}                          /* sc제일은행 */
.nds-ico[data-bankcode="024"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-woori_56.svg");}                       /* 우리은행 */
.nds-ico[data-bankcode="025"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-hana_56.svg");}                        /* 하나은행 */
.nds-ico[data-bankcode="026"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-shinhan_56.svg");}                     /* 신한은행 */
.nds-ico[data-bankcode="027"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-citi_56.svg");}                        /* 한국씨티은행 */
.nds-ico[data-bankcode="028"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-shinhan_56.svg");}                     /* 신한은행 */
.nds-ico[data-bankcode="029"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-kb_56.svg");}                          /* 국민은행 */
.nds-ico[data-bankcode="031"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-im_56.svg");}                          /* 아이엠뱅크(구)대구 */
.nds-ico[data-bankcode="032"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-bsbnk_56.svg");}                       /* 부산은행 */
.nds-ico[data-bankcode="034"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-kj_56.svg");}                          /* 광주은행 */
.nds-ico[data-bankcode="035"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-jeju_56.svg");}                        /* 제주은행 */
.nds-ico[data-bankcode="037"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-jb_56.svg");}                          /* 전북은행 */
.nds-ico[data-bankcode="039"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-knbnk_56.svg");}                       /* 경남은행 */
.nds-ico[data-bankcode="045"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-kfcc_56.svg");}                        /* 새마을금고 */
.nds-ico[data-bankcode="046"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-kfcc_56.svg");}                        /* 새마을금고 */
.nds-ico[data-bankcode="047"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-cu_56.svg");}                          /* 신협중앙회 */
.nds-ico[data-bankcode="048"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-cu_56.svg");}                          /* 신협중앙회 */
.nds-ico[data-bankcode="049"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-cu_56.svg");}                          /* 신협중앙회 */
.nds-ico[data-bankcode="050"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-sb_56.svg");}                          /* 상호저축은행 */
.nds-ico[data-bankcode="053"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-citi_56.svg");}                        /* 씨티은행 */
.nds-ico[data-bankcode="054"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-hsbc_56.svg");}                        /* HSBC은행 */
.nds-ico[data-bankcode="055"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-deutsche_56.svg");}                    /* 도이치은행 */
.nds-ico[data-bankcode="057"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-jp_56.svg");}                          /* JP모건체이스은행 */
.nds-ico[data-bankcode="060"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-boa_56.svg");}                         /* 뱅크오브아메리카 */
.nds-ico[data-bankcode="061"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-bnp_56.svg");}                         /* BNP파리바은행 */
.nds-ico[data-bankcode="062"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-icbc_56.svg");}                        /* 중국공상은행 */
.nds-ico[data-bankcode="063"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-boc_56.svg");}                         /* 중국은행 */
.nds-ico[data-bankcode="064"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-nfcf_56.svg");}                        /* 산림조합 */
.nds-ico[data-bankcode="067"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-ccb_56.svg");}                         /* 중국건설은행 */
.nds-ico[data-bankcode="081"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-hana_56.svg");}                        /* 하나은행 */
.nds-ico[data-bankcode="071"]::before {background-image:url("../../../imgs/nds/img/ci/img_epost-nh_56.svg");}                         /* 우체국 */
.nds-ico[data-bankcode="072"]::before {background-image:url("../../../imgs/nds/img/ci/img_epost-nh_56.svg");}                         /* 우체국 */
.nds-ico[data-bankcode="073"]::before {background-image:url("../../../imgs/nds/img/ci/img_epost-nh_56.svg");}                         /* 우체국 */
.nds-ico[data-bankcode="074"]::before {background-image:url("../../../imgs/nds/img/ci/img_epost-nh_56.svg");}                         /* 우체국 */
.nds-ico[data-bankcode="075"]::before {background-image:url("../../../imgs/nds/img/ci/img_epost-nh_56.svg");}                         /* 우체국 */
.nds-ico[data-bankcode="078"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-kb_56.svg");}                          /* 국민은행 */
.nds-ico[data-bankcode="079"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-kb_56.svg");}                          /* 국민은행 */
.nds-ico[data-bankcode="080"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-hana_56.svg");}                        /* 하나은행 */
.nds-ico[data-bankcode="082"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-hana_56.svg");}                        /* 하나은행 */
.nds-ico[data-bankcode="083"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-woori_56.svg");}                       /* 우리은행 */
.nds-ico[data-bankcode="084"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-woori_56.svg");}                       /* 우리은행 */
.nds-ico[data-bankcode="085"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-kfcc_56.svg");}                        /* 새마을금고 */
.nds-ico[data-bankcode="086"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-kfcc_56.svg");}                        /* 새마을금고 */
.nds-ico[data-bankcode="088"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-shinhan_56.svg");}                     /* 신한은행 */
.nds-ico[data-bankcode="089"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-kbank_56.svg");}                       /* 케이뱅크 */
.nds-ico[data-bankcode="090"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-kakao_56.svg");}                       /* 카카오뱅크 */
.nds-ico[data-bankcode="092"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-toss_56.svg");}                        /* 토스뱅크 */
.nds-ico[data-bankcode="093"]::before {background-image:url("../../../imgs/nds/img/ci/img_bank-account_56.svg");}                     /* 전체계좌 */

/* [Stock Firms] */
.nds-ico[data-bankcode="209"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-myasset_56.svg");}                    /* 유안타증권 */
.nds-ico[data-bankcode="218"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-kb_56.svg");}                         /* KB증권 */
.nds-ico[data-bankcode="221"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-ssi_56.svg");}                        /* 상상인증권 */
.nds-ico[data-bankcode="224"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-bnk_56.svg");}                        /* BNK증권 */
.nds-ico[data-bankcode="225"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-ibk_56.svg");}                        /* IBK투자증권 */
.nds-ico[data-bankcode="227"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-daol_56.svg");}                       /* 다올투자증권 */
.nds-ico[data-bankcode="237"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-miraeasset_56.svg");}                 /* 미래에셋증권 */
.nds-ico[data-bankcode="238"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-miraeasset_56.svg");}                 /* 미래에셋증권 */
.nds-ico[data-bankcode="256"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-samsung_56.svg");}                    /* 삼성증권 */
.nds-ico[data-bankcode="243"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-ki_56.svg");}                         /* 한국투자증권 */
.nds-ico[data-bankcode="247"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-nh_56.svg");}                         /* NH투자증권 */
.nds-ico[data-bankcode="261"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-kyobo_56.svg");}                      /* 교보증권 */
.nds-ico[data-bankcode="262"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-im_56.svg");}                         /* 아이엠증권 */
.nds-ico[data-bankcode="263"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-hmsec_56.svg");}                      /* 현대차증권 */
.nds-ico[data-bankcode="264"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-kiwoom_56.svg");}                     /* 키움증권 */
.nds-ico[data-bankcode="265"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-ls_56.svg");}                         /* LS증권 */
.nds-ico[data-bankcode="266"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-sk_56.svg");}                         /* SK증권 */
.nds-ico[data-bankcode="267"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-daishin_56.svg");}                    /* 대신증권 */
.nds-ico[data-bankcode="269"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-hanhwa_56.svg");}                     /* 한화투자증권 */
.nds-ico[data-bankcode="270"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-hana_56.svg");}                       /* 하나증권 */
.nds-ico[data-bankcode="271"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-toss_56.svg");}                       /* 토스증권 */
.nds-ico[data-bankcode="278"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-shinhan_56.svg");}                    /* 신한투자증권 */
.nds-ico[data-bankcode="279"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-db_56.svg");}                         /* DB금융투자 */
.nds-ico[data-bankcode="280"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-eugene_56.svg");}                     /* 유진투자증권 */
.nds-ico[data-bankcode="287"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-meritz_56.svg");}                     /* 메리츠증권 */
.nds-ico[data-bankcode="288"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-kakaopay_56.svg");}                   /* 카카오페이증권 */
.nds-ico[data-bankcode="289"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-nh_56.svg");}                         /* NH투자증권(농협증권) */
.nds-ico[data-bankcode="290"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-bookook_56.svg");}                    /* 부국증권 */
.nds-ico[data-bankcode="291"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-shinyoung_56.svg");}                  /* 신영증권 */
.nds-ico[data-bankcode="292"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-cape_56.svg");}                       /* 케이프투자증권 */
.nds-ico[data-bankcode="294"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-woori_56.svg");}                      /* 우리투자증권 */
.nds-ico[data-bankcode="295"]::before {background-image:url("../../../imgs/nds/img/ci/img_stock-woori_56.svg");}                      /* 우리투자증권 */

/* [Card Companies] */
/* TODO: 디자인 확인 필요. NDS에는 없음. */
.nds-ico[data-bankcode="041"]::before {background-image:url("../../../../imgs/nds/ci/ci_woori.svg");}                           /* 우리카드 */
.nds-ico[data-bankcode="365"]::before {background-image:url("../../../../imgs/nds/ci/ci_samsungcard.svg");}                     /* 삼성카드 */
.nds-ico[data-bankcode="366"]::before {background-image:url("../../../../imgs/nds/ci/ci_shinhan.svg");}                         /* 신한카드 */
.nds-ico[data-bankcode="367"]::before {background-image:url("../../../../imgs/nds/ci/ci_hyundaicard.svg");}                     /* 현대카드 */
.nds-ico[data-bankcode="368"]::before {background-image:url("../../../../imgs/nds/ci/ci_lottecard.svg");}                       /* 롯데카드 */
.nds-ico[data-bankcode="374"]::before {background-image:url("../../../../imgs/nds/ci/ci_hana.svg");}                            /* 하나카드 */
.nds-ico[data-bankcode="381"]::before {background-image:url("../../../../imgs/nds/ci/ci_kb.svg");}                              /* KB국민카드 */

/* [Capital Companies] */
/* TODO: 디자인 확인 필요. NDS에는 없음. */
.nds-ico[data-bankcode="299"]::before {background-image:url("../../../../imgs/nds/ci/ci_woori.svg");}                           /* 우리금융캐피탈 */
.nds-ico[data-bankcode="301"]::before {background-image:url("../../../../imgs/nds/ci/ci_dgb.svg");}                             /* DGB캐피탈 */
.nds-ico[data-bankcode="302"]::before {background-image:url("../../../../imgs/nds/ci/ci_bnk.svg");}                             /* BNK캐피탈 */
.nds-ico[data-bankcode="303"]::before {background-image:url("../../../../imgs/nds/ci/ci_lotte.svg");}                           /* 롯데캐피탈 */
.nds-ico[data-bankcode="304"]::before {background-image:url("../../../../imgs/nds/ci/ci_hyundaicapital.svg");}                  /* 현대캐피탈 */
.nds-ico[data-bankcode="305"]::before {background-image:url("../../../../imgs/nds/ci/ci_jb.svg");}                              /* 우리캐피탈 */
.nds-ico[data-bankcode="306"]::before {background-image:url("../../../../imgs/nds/ci/ci_nh.svg");}                              /* NH캐피탈 */
.nds-ico[data-bankcode="308"]::before {background-image:url("../../../../imgs/nds/ci/ci_kb.svg");}                              /* KB캐피탈 */
.nds-ico[data-bankcode="310"]::before {background-image:url("../../../../imgs/nds/ci/ci_hana.svg");}                            /* 하나캐피탈 */

/* [Insurance Companies] */
.nds-ico[data-bankcode="401"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-hana-life_56.svg");}              /* 하나손해보험 */
.nds-ico[data-bankcode="562"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-myangel_56.svg");}                /* 동양생명보험 */
.nds-ico[data-bankcode="563"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-hk-fire_56.svg");}                /* 흥국화재해상 */
.nds-ico[data-bankcode="431"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-miraeasset_56.svg");}             /* 미래에셋생명보험 */
.nds-ico[data-bankcode="432"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-hanhwa-life_56.svg");}            /* 한화생명보험 */
.nds-ico[data-bankcode="433"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-kyobo-panet_56.svg");}            /* 교보라이프플래닛 */
.nds-ico[data-bankcode="434"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-fubon_56.svg");}                  /* 푸본현대생명보험 */
.nds-ico[data-bankcode="435"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-lina_56.svg");}                   /* 라이나생명보험 */
.nds-ico[data-bankcode="436"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-kyobo-life_56.svg");}             /* 교보생명보험 */
.nds-ico[data-bankcode="437"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-abl_56.svg");}                    /* 에이비엘생명보험 */
.nds-ico[data-bankcode="438"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-shinhan-life_56.svg");}           /* 신한생명보험 */
.nds-ico[data-bankcode="439"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-kb-life_56.svg");}                /* KB생명보험 */
.nds-ico[data-bankcode="456"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-nh-life_56.svg");}                /* 농협생명보험 */
.nds-ico[data-bankcode="441"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-samsung-fire_56.svg");}           /* 삼성화재 */
.nds-ico[data-bankcode="442"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-hi_56.svg");}                     /* 현대해상화제보험 */
.nds-ico[data-bankcode="444"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-kb-insure_56.svg");}              /* KB손해보험 */
.nds-ico[data-bankcode="445"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-lotte_56.svg");}                  /* 롯데손해보험 */
.nds-ico[data-bankcode="448"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-meritz_56.svg");}                 /* 메리츠화재해상보험 */
.nds-ico[data-bankcode="449"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-nh-fire_56.svg");}                /* 농협손해보험 */
.nds-ico[data-bankcode="452"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-samsung-life_56.svg");}           /* 삼성생명 */
.nds-ico[data-bankcode="453"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-hk-life_56.svg");}                /* 흥국생명보험 */
.nds-ico[data-bankcode="454"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-hanhwa-insure_56.svg");}          /* 한화손해보험 */
.nds-ico[data-bankcode="456"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-im_56.svg");}                     /* 아이엠보험 */
.nds-ico[data-bankcode="457"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-db-life_56.svg");}                /* DB생명보험 */
.nds-ico[data-bankcode="458"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-kdb_56.svg");}                    /* KDB생명보험 */
.nds-ico[data-bankcode="L78"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-bnp_56.svg");}                    /* 비엔피파라바카디프 생명보험 */
.nds-ico[data-bankcode="N13"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-db-ins_56.svg");}                 /* DB손해보험 */
.nds-ico[data-bankcode="L41"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-ibk_56.svg");}                    /* IBK연금보험 */
.nds-ico[data-bankcode="L72"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-metlife_56.svg");}                /* 메트라이프생명 */
.nds-ico[data-bankcode="L73"]::before {background-image:url("../../../imgs/nds/img/ci/img_insurance-dgb_56.svg");}                    /* DGB생명보험 */
