/* ============================================================
   indicator.css
   ---------------------------------------------------------
   
   ========================================================= */
         
/* ============================================================
    CSS Variables (Root & Dark Mode)
    ============================================================ */

/* --- Light Mode (Default) --- */
:root {
    /* [Indicator - Default] */
    --nds-color-text-indicator-default:var(--nds-color-text-font-10);
    --nds-color-bg-indicator-default:#111111;
}

/* --- Dark Mode --- */
.dark-mode {
    /* [Indicator - Default] */
    --nds-color-bg-indicator-default:#FFFFFF;
}

/* ============================================================
   Component Style
   ============================================================ */
