/* ============================================================
   input.css
   ---------------------------------------------------------
   
   ========================================================= */
   
:root {
    /* [Input - Text] */
    --nds-color-text-input-placeholder:#929292;
    --nds-color-text-input-default:#121212;
    
    /* [Input - Border] */
    --nds-color-border-input-default:#E1E1E1;
    --nds-color-border-input-focus:#19973C;
    --nds-color-border-input-error:#E24949;

    /* [Input - Readonly & Disabled] */
    --nds-color-text-input-readonly:#121212;
    --nds-color-bg-input-readonly:#F0F0F0;
    --nds-color-text-input-disabled:#121212;
    --nds-color-bg-input-disabled:#F0F0F0;

    /* [Input - Load Data] */
    --nds-color-bg-input-load-data:#F6F6F6;
}

/* --- Dark Mode --- */
.dark-mode {
    /* [Input - Text] */
    --nds-color-text-input-placeholder:#A6A6A6;
    --nds-color-text-input-default:#FFFFFF;
    
    /* [Input - Border] */
    --nds-color-border-input-default:#505050;
    --nds-color-border-input-focus:#3CBD61;
    --nds-color-border-input-error:#E24949;

    /* [Input - Readonly & Disabled] */
    --nds-color-text-input-readonly:#FFFFFF;
    --nds-color-bg-input-readonly:#404040;
    --nds-color-text-input-disabled:#FFFFFF;
    --nds-color-bg-input-disabled:#404040;

    /* [Input - Load Data] */
    --nds-color-bg-input-load-data:#303030;
}