/* ============================================================
   label.css
   ---------------------------------------------------------
   
   ========================================================= */
   
:root {
    /* [Label - Red] */
    --nds-color-text-label-red:#D10F0F;
    --nds-color-border-label-red:#D10F0F;

    /* [Label - Orange] */
    --nds-color-text-label-orange:#D44B10;
    --nds-color-border-label-orange:#D44B10;

    /* [Label - Yellow] */
    --nds-color-text-label-yellow:#DA6F11;
    --nds-color-border-label-yellow:#DA6F11;

    /* [Label - Lightblue] */
    --nds-color-text-label-lightblue:#12A396;
    --nds-color-border-label-lightblue:#12A396;

    /* [Label - Skyblue] */
    --nds-color-text-label-skyblue:#2B9AC9;
    --nds-color-border-label-skyblue:#2B9AC9;

    /* [Label - Navy] */
    --nds-color-text-label-navy:#015AAC;
    --nds-color-border-label-navy:#015AAC;

    /* [Label - Green] */
    --nds-color-text-label-green:#19973C;
    --nds-color-border-label-green:#19973C;

    /* [Label - Blue] */
    --nds-color-text-label-blue:#2C6DD4;
    --nds-color-border-label-blue:#2C6DD4;

    /* [Label - Gray] */
    --nds-color-bg-label-gray:#F6F6F6;
    --nds-color-text-label-gray:#767676;
    --nds-color-border-label-gray:#707070;
}

/* --- Dark Mode --- */
.dark-mode {
    /* [Label - Red] */
    --nds-color-text-label-red:#E24949;
    --nds-color-border-label-red:#E24949;

    /* [Label - Orange] */
    --nds-color-text-label-orange:#DA6F11;
    --nds-color-border-label-orange:#DA6F11;

    /* [Label - Yellow] */
    --nds-color-text-label-yellow:#FF7F29;
    --nds-color-border-label-yellow:#FF7F29;

    /* [Label - Lightblue] */
    --nds-color-text-label-lightblue:#17CFBE;
    --nds-color-border-label-lightblue:#17CFBE;

    /* [Label - Skyblue] */
    --nds-color-text-label-skyblue:#57B6DE;
    --nds-color-border-label-skyblue:#57B6DE;

    /* [Label - Navy] */
    --nds-color-text-label-navy:#3F8ED6;
    --nds-color-border-label-navy:#3F8ED6;

    /* [Label - Green] */
    --nds-color-text-label-green:#3CBD61;
    --nds-color-border-label-green:#3CBD61;

    /* [Label - Blue] */
    --nds-color-text-label-blue:#66A1FF;
    --nds-color-border-label-blue:#66A1FF;

    /* [Label - Gray] */
    --nds-color-bg-label-gray:#333333;
    --nds-color-text-label-gray:#BFBFBF;
    --nds-color-border-label-gray:#B0B0B0;
}