/* ============================================================
   layout.css
   ---------------------------------------------------------
   
   ========================================================= */

/* 페이지 */
.nds-page {height:100%; color:var(--color-text-font-1);}
.nds-page .header {display:block; height:5rem;}
.nds-page.-transparent .header {visibility:hidden; opacity:0;}
.nds-page .header .inner {display:flex; align-items:center; position:fixed; top:0; left:0; z-index:200; width:100%; height:5rem; padding:1.3rem var(--spacing-24); background-color:var(--color-bg-default);}
.nds-page .header .title {overflow:hidden; position:absolute; top:50%; left:50%; max-width:calc(100% - 18rem); color:var(--color-text-font-1); font-weight:bold; font-size:1.6rem; line-height:1.2; letter-spacing:-.1rem; text-align:left; white-space:nowrap; transform:translate(-50%, -50%); text-overflow:ellipsis;}
.nds-page .header .title.-expand {max-width:calc(100% - 11rem);}
.nds-page .header .title > a {display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
/* .nds-page .header .funcs {display:flex; position:absolute; top:50%; transform:translateY(-50%);} */
/* ios 대응 */
.nds-page .header .funcs {display:flex; position:absolute; top:50%; margin-top:-1.2rem ; transform:translate3d(0,0,0);}
.nds-page .header .funcs * {transform:translate3d(0,0,0);}
.nds-page .header .funcs:first-child {left:var(--nds-space-in);}
.nds-page .header .funcs:last-child {right:var(--nds-space-in);}
.nds-page .header .func + .func {margin-left:1.2rem;}
.nds-page .header .func.hide {display:none;}
.nds-page .container {height:100%;}
.nds-page.-no-header .container {padding-top:5rem;}
.nds-page .contents {display:flex; flex-direction:column; height:calc(100vh - 5rem); height:calc(100dvh - 5rem);}
.nds-page .content {position:relative; padding:2.4rem var(--nds-space-in) 6rem;}
.nds-page .content:last-of-type {padding-bottom:6rem;}
.nds-page .content.-wide {padding:0 0 6rem;}
.nds-page .content.-full {height:100%; padding:0;}
.nds-page .content.-middle {display:flex; flex-direction:column; justify-content:center;}
.nds-page .sticker {margin-top:auto; padding:0 var(--nds-space-in) 5rem;}
.nds-page .fixer {position:fixed; bottom:0; left:0; z-index:100; width:100%; padding:1rem var(--nds-space-in) 3.2rem; background:linear-gradient(180deg, rgba(255,255,255,0) 0%, var(--color-bg-default) .8rem); background-color:var(--color-bg-default);}
.nds-page .buffer {flex:0 0 auto;}

.nds-page .fixer .buttons:not(.-half) {display:flex; flex-wrap:nowrap;}
.nds-page .fixer .buttons:not(.-half) > .button:nth-child(1) {flex-basis:calc(34% - 0.6rem);}
.nds-page .fixer .buttons:not(.-half) > .button:nth-child(2) {flex-basis:calc(66% - 0.6rem);}
.nds-page .fixer .buttons:not(.-half) > .button:nth-child(1):nth-last-child(1) {flex-basis:calc(100% - 0.6rem);}

.nds-page.-login,
.popup.-login {background-color:var(--color-green-500);}
.nds-page.-login .header .inner,
.popup.-login .header .inner {background-color:var(--color-green-500);}
.nds-page.-login .header .inner .login-logo,
.popup.-login .header .inner .login-logo {width:12.5rem;}
.nds-page.-login .fixer {padding-right:0; padding-left:0; background-color:var(--color-green-500);}
.nds-page .detail-view .title {position:sticky; top:5rem;}

.popup .fixer.-float {padding-top:var(--spacing-0); background:var(--color-bg-default); box-shadow:0 -3px 10px 0 rgba(0, 0, 0, 0.05);}
.popup .fixer.-float > .dl {padding:var(--spacing-2) var(--spacing-0) 2.2rem var(--spacing-0);}
.popup .fixer.-float > .dl .unit {font-weight:600; font-size:1.6rem; line-height:150%;}



/* 헤더 버튼 */
.header .func {display:flex; align-items:center; height:2.4rem; margin-left:1.2rem; background-color:transparent; color:var(--color-text-font-2); font-size:1.4rem; white-space:nowrap;}
.header .func.-back {width:2.4rem; background:url(../../imgs/nds/common/ico_left_line_24.png) no-repeat 0 / cover;}
.header .func.-home {width:2.4rem; background:url(../../imgs/nds/common/ico_home-allone_line_24.png) no-repeat 50% / 2.4rem 2.4rem;}
.smart-bank .header .func.-home {width:2.4rem; background:url(../../imgs/ico/common/ico-func-home-smart.png) no-repeat 50% / 2.4rem 2.4rem;}
.header .func.-menu {width:2.4rem; background:url(../../imgs/nds/common/ico_menu_line_24.png) no-repeat 0 / cover;}
.header .func.-cs {width:2.4rem; background:url(../../imgs/nds/common/ico_cs-center_line_24.png) no-repeat 0 / cover;}
.header .func.-close {width:2.4rem; background:url(../../imgs/nds/common/ico_close2_line_24.png) no-repeat 0 / cover;}
.header .func.-search {width:2.4rem; background:url(../../imgs/ico/common/ico-func-search.png) no-repeat 0 / cover;}
.header .func.-download {width:2.4rem; background:url(../../imgs/nds/common/ico_download_line_24.png) no-repeat 0 / cover;}
.header .func.-cart {width:2.4rem; background:url(../../imgs/nds/common/ico_cart_line_24.png) no-repeat 0 / cover;}
.dark-mode .header .func.-back {width:2.4rem; background:url(../../imgs/nds/common/ico_left_line_24_dk.png) no-repeat 0 / cover;}
.dark-mode .header .func.-home {width:2.4rem; background:url(../../imgs/nds/common/ico_home-allone_line_24_dk.png) no-repeat 50% / 2.4rem 2.4rem;}
.smart-bank.dark-mode .header .func.-home {width:2.4rem; background:url(../../imgs/ico/common/ico-func-home-smart_dk.png) no-repeat 50% / 2.4rem 2.4rem;}
.dark-mode .header .func.-menu {width:2.4rem; background:url(../../imgs/nds/common/ico_menu_line_24_dk.png) no-repeat 0 / cover;}
.dark-mode .header .func.-cs {width:2.4rem; background:url(../../imgs/nds/common/ico_cs-center_line_24_dk.png) no-repeat 0 / cover;}
.dark-mode .header .func.-close {width:2.4rem; background:url(../../imgs/nds/common/ico_close2_line_24_dk.png) no-repeat 0 / cover;}
.dark-mode .header .func.-search {width:2.4rem; background:url(../../imgs/ico/common/ico-func-search_dk.png) no-repeat 0 / cover;}
.dark-mode .header .func.-download {width:2.4rem; background:url(../../imgs/nds/common/ico_download_line_24_dk.png) no-repeat 0 / cover;}
.dark-mode .header .func.-cart {width:2.4rem; background:url(../../imgs/nds/common/ico_cart_line_24_dk.png) no-repeat 0 / cover;}

.header .func.-active {position:relative;}
.header .func:not(.-bigsize).-active:after {content:""; position:absolute; top:0.2rem; right:0; width:.4rem; height:.4rem; border-radius:var(--border-radius-circle); background-color:var(--color-bg-badge-red);}

.navigation .header .inner {display:flex; align-items:center; position:fixed; top:0; left:0; z-index:200; width:100%; height:5rem; padding:1.3rem var(--spacing-24); background-color:var(--color-bg-default);}

.navigation .header .func.-cart {position:relative;}
.navigation .header .func.-cart .cart-badge-wrap {display:flex; justify-content:center; align-items:center; position:absolute; top:-.7rem; right:-.7rem; width:1.8rem; height:1.8rem; border-radius:var(--border-radius-circle); color:#fff; letter-spacing:0; word-spacing:0; animation:cart 8s infinite;}
.navigation .header .func.-cart .cart-badge-wrap .cart-badge {content:""; display:flex; justify-content:center; align-items:center; position:absolute; top:0; right:0; width:1.8rem; height:1.8rem; border-radius:var(--border-radius-circle); background:var(--color-bg-badge-red); color:#fff; font-size:1.1rem; letter-spacing:0; word-spacing:0;}
.navigation .header .func.-cart .cart-num {display:flex; justify-content:center; align-items:center; position:relative; z-index:10; width:1.8rem; height:1.8rem; font-weight:500; font-size:1.1rem; line-height:1.8rem;}
.navigation .header .funcs > .func.-back {margin-left:0;}
.navigation .header .-fullpop {display:flex; justify-content:space-between; align-items:center;}
.navigation .header .-fullpop .title {width:100%; text-align:center;}
.navigation .header .-fullpop .title.-allone-logo img {height:2.4rem; object-fit:contain;}
.navigation .header .-fullpop .funcs {margin-left:6rem;}
.navigation .header .-fullpop .funcs > .func.-back {position:absolute; left:2.4rem;}
.navigation .header .-fullpop .funcs:last-of-type {margin-left:0;}
.navigation .header .-fullpop .funcs > .func.-close {margin-left:1.2rem;}

.navigation.-mall .header .func.-back {background:url(../imgs/nds/common/ico_previous_line_24.png) no-repeat 0 / cover;}
.dark-mode .navigation.-mall .header .func.-back {background:url(../imgs/nds/common/ico_previous_line_24_dk.png) no-repeat 0 / cover;}
.navigation.-mall.smartbank .header .func.-home {background:url(../imgs/nds/common/ico_home-smartbanking_line_24.png) no-repeat 50% / 2.4rem 2.4rem;}
.dark-mode .navigation.-mall.smartbank .header .func.-home {background:url(../imgs/nds/common/ico_home-smartbanking_line_24_dk.png) no-repeat 50% / 2.4rem 2.4rem;}
.navigation.-product .header .title {overflow:hidden; position:absolute; top:50%; left:50%; max-width:calc(100% - 12rem); transform:translate(-50%, -50%); text-overflow:ellipsis;}
.navigation.-login .header .inner {background-color:var(--color-bg-point);}
.navigation.-login .header .func.-back {background:url(../imgs/nds/common/ico_left_line_24_dk.png) no-repeat 0 / cover;}
.navigation.-login .header .func.-menu {background:url(../imgs/nds/common/ico_menu_line_24_dk.png) no-repeat 0 / cover;}
.navigation .header .title.t-tip span:first-of-type {display:inline-block; overflow:hidden; max-width:calc(100% - 5rem); vertical-align:middle; text-overflow:ellipsis;}
