/* ============================================================
   popover.css
   ---------------------------------------------------------
   
   ========================================================= */

/* [Popover] */
.nds-popover {display:inline-flex; align-items:center; opacity:0; position:absolute; z-index:100; width:max-content; max-width:calc(100vw - 4.8rem); min-height:3.8rem; padding:0.6rem 1.2rem; border:1px solid var(--nds-color-border-popover-default); border-radius:0.8rem; background-color:var(--nds-color-bg-popover-default); box-shadow:0 0.3rem 0.6rem rgba(0, 0, 0, 0.05); color:var(--nds-color-text-popover-default); font-size:1.3rem; line-height:2.0rem; white-space:normal;}

/* [Close Button] */
.nds-popover .popover-close {flex:0 0 1.6rem; width:1.6rem; height:1.6rem; margin-left:0.4rem; border:none; background-image:var(--nds-ico-delete-filled); background-repeat:no-repeat; background-position:center; background-size:cover; cursor:pointer;}

/* [Arrow] */
.nds-popover::after {content:""; position:absolute; width:1.0rem; height:0.6rem; background-image:url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_9587_79190' fill='white'%3E%3Cpath d='M0 6C1.11152 4.40002 2.22272 2.79996 3.33363 1.19998C4.44454 -0.399994 5.55574 -0.399994 6.66726 1.19998L10 6'/%3E%3C/mask%3E%3Cpath d='M0 6C1.11152 4.40002 2.22272 2.79996 3.33363 1.19998C4.44454 -0.399994 5.55574 -0.399994 6.66726 1.19998L10 6' fill='%23111111'/%3E%3Cpath d='M-0.821269 5.42946L-1.39181 6.25073L0.250728 7.39181L0.821269 6.57054L0 6L-0.821269 5.42946ZM6.66726 1.19998L7.48868 0.629657L7.48853 0.629442L6.66726 1.19998ZM9.17858 6.57033L9.74891 7.39174L11.3917 6.25109L10.8214 5.42967L10 6L9.17858 6.57033ZM0 6L0.821269 6.57054C1.93284 4.97048 3.0441 3.37035 4.15504 1.77031L3.33363 1.19998L2.51221 0.629652C1.40134 2.22958 0.290188 3.82957 -0.821269 5.42946L0 6ZM3.33363 1.19998L4.15504 1.77031C4.66169 1.04062 4.95638 1 5.00022 1C5.04417 1 5.33901 1.04075 5.84599 1.77052L6.66726 1.19998L7.48853 0.629442C6.88399 -0.24076 6.06747 -1 5.00022 -1C3.93285 -1 3.11647 -0.240628 2.51221 0.629652L3.33363 1.19998ZM6.66726 1.19998L5.84584 1.77031L9.17858 6.57033L10 6L10.8214 5.42967L7.48868 0.629657L6.66726 1.19998Z' fill='%23111111' mask='url(%23path-1-inside-1_9587_79190)'/%3E%3C/svg%3E"); background-repeat:no-repeat; background-position:center; box-sizing:border-box;}

/* [Placement] */
/* Top */
.nds-popover[class*="-t"] {bottom:100%; margin-bottom:1rem; animation:popoverFadeInTop 0.4s forwards;}
.nds-popover.-tc {left:50%; transform:translateX(-50%);}
.nds-popover.-tl {left:0;}
.nds-popover.-tr {right:0;}

.nds-popover[class*="-t"]::after {top:100%; margin-top:-1px; transform:rotate(180deg);}
.nds-popover.-tc::after {left:50%; margin-left:-0.5rem;}
.nds-popover.-tl::after {left:1.6rem;}
.nds-popover.-tr::after {right:1.6rem;}

/* Bottom */
.nds-popover[class*="-b"] {top:100%; margin-top:1rem; animation:popoverFadeInBottom 0.4s forwards;}
.nds-popover.-bc {left:50%; transform:translateX(-50%);}
.nds-popover.-bl {left:0;}
.nds-popover.-br {right:0;}

.nds-popover[class*="-b"]::after {bottom:100%; margin-bottom:-1px;}
.nds-popover.-bc::after {left:50%; margin-left:-0.5rem;}
.nds-popover.-bl::after {left:1.6rem;}
.nds-popover.-br::after {right:1.6rem;}

/* Animation */
@-webkit-keyframes popoverFadeInTop {
    0% {opacity:0; margin-bottom:0;}
    7% {opacity:1; margin-bottom:1.2rem;}
    14% {opacity:1; margin-bottom:1rem;}
    100% {opacity:1; margin-bottom:1rem;}
}
@keyframes popoverFadeInTop {
    0% {opacity:0; margin-bottom:0;}
    7% {opacity:1; margin-bottom:1.2rem;}
    14% {opacity:1; margin-bottom:1rem;}
    100% {opacity:1; margin-bottom:1rem;}
}

@-webkit-keyframes popoverFadeInBottom {
    0% {opacity:0; margin-top:0;}
    7% {opacity:1; margin-top:1.2rem;}
    14% {opacity:1; margin-top:1rem;}
    100% {opacity:1; margin-top:1rem;}
}

@keyframes popoverFadeInBottom {
    0% {opacity:0; margin-top:0;}
    7% {opacity:1; margin-top:1.2rem;}
    14% {opacity:1; margin-top:1rem;}
    100% {opacity:1; margin-top:1rem;}
}

/* AS-IS Support */
.popover {display:flex; align-items:center; opacity:0; position:absolute; left:2.4rem; z-index:49; width:auto !important; min-height:3.8rem; padding:.6rem var(--nds-spacing-12); border:.1rem solid var(--nds-color-border-popover-default); border-radius:var(--nds-border-radius-8); background-color:var(--nds-color-bg-popover-default); color:var(--nds-color-text-popover-default); font-size:1.3rem; animation:mini-under 4s backwards;}
.popover .popover-close {width:1.6rem; height:1.6rem; margin-left:0.4rem; background:url("../imgs/nds/common/ico_delete_gray50_line_16.png") no-repeat center; background-size:cover;}
.popover::after {content:""; display:block; position:absolute; top:-.7rem; left:2.2rem; z-index:10; width:1rem; height:.7rem; background:url(../imgs/nds/common/Edge.png) no-repeat center center / 1rem .7rem;}
.popover.-bc::after {top:auto; bottom:-0.6rem; left:50%; margin-left:-0.5rem ; transform:rotate(180deg);}
.popover.-bl::after {top:auto; right:auto; bottom:-0.6rem; left:2.2rem; transform:rotate(180deg);}
.popover.-br::after {top:auto; right:2.2rem; bottom:-0.6rem; left:auto; transform:rotate(180deg);}

.popover.-tc::after {top:-0.6rem; bottom:auto; left:50%; margin-left:-0.5rem ;}
.popover.-tl::after {top:-0.6rem; right:auto; bottom:auto; left:2.2rem;}
.popover.-tr::after {top:-0.6rem; right:2.2rem; bottom:auto; left:auto;}

.dark-mode .popover::after {content:""; display:block; position:absolute; z-index:10; width:1.1rem; height:.6rem; background:url(../imgs/nds/common/Edge_dk.png) no-repeat center center / 1.1rem .6rem; /* transform: rotateX(180deg); */}
.dark-mode .popover .popover-close {background-image:url("../imgs/nds/common/ico_delete_gray50_line_16_dk.png");}
.popover.hidden {display:none;}

/* NOTE: 4초 뒤 사라지는 것이 아니라 닫기 버튼을 눌러야 사라져야 하기 때문에 이 animation는 사용하지 않는다. */
@-webkit-keyframes mini-under {
    0% {opacity:0; bottom:0;}
    7% {opacity:1; bottom:-2rem;}
    14% {opacity:1; bottom:-1.6rem;}
    90% {opacity:1; bottom:-1.6rem;}
    100% {opacity:0; bottom:-1.6rem;}
}

@keyframes mini-under {
    0% {opacity:0; bottom:0;}
    7% {opacity:1; bottom:-2rem;}
    14% {opacity:1; bottom:-1.6rem;}
    90% {opacity:1; bottom:-1.6rem;}
    100% {opacity:0; bottom:-1.6rem;}
}
