/* ============================================================
   radio.css
   ---------------------------------------------------------
   
   ========================================================= */
   
/* ============================================================
    CSS Variables (Root & Dark Mode)
    ============================================================ */

/* --- Light Mode (Default) --- */
:root {
    /* [Radio - Basic] */
    --nds-color-text-radio-basic-default:#121212;
    --nds-color-border-radio-basic-default:#D3D3D3;
    --nds-color-bg-radio-basic-default:#D3D3D3;
    --nds-color-text-radio-basic-selected:#121212;
    --nds-color-border-radio-basic-selected:#19973C;
    --nds-color-bg-radio-basic-selected:#19973C;
    --nds-color-text-radio-basic-disabled:#929292;
    --nds-color-border-radio-basic-disabled:#E1E1E1;
    --nds-color-bg-radio-basic-disabled:#F6F6F6;
    --nds-color-bg-radio-basic-disabled-inner:#D3D3D3;
    --nds-color-text-radio-basic-selected-disabled:#121212;
    --nds-color-bg-radio-basic-selected-disabled:#B3B3B3;
    --nds-color-bg-radio-basic-selected-disabled-inner:#FFFFFF;

    /* [Radio - Box] */
    --nds-color-text-radio-box-default:#505050;
    --nds-color-border-radio-box-default:#D3D3D3;
    --nds-color-text-radio-box-selected:#19973C;
    --nds-color-border-radio-box-selected:#19973C;
    --nds-color-text-radio-box-disabled:#505050;
    --nds-color-border-radio-box-disabled:#D3D3D3;

    /* [Radio - Explain] */
    --nds-color-text-radio-explain-default:#121212;
    --nds-color-border-radio-explain-default:#D3D3D3;
    --nds-color-text-radio-explain-selected:#19973C;
    --nds-color-border-radio-explain-selected:#19973C;
    --nds-color-text-radio-explain-disabled:#505050;

    /* [Radio - Survey] */
    --nds-color-text-radio-survey-default:#505050;
    --nds-color-border-radio-survey-default:#D3D3D3;
    --nds-color-text-radio-survey-positive:#505050;
    --nds-color-border-radio-survey-positive:#19973C;
    --nds-color-text-radio-survey-negative:#505050;
    --nds-color-border-radio-survey-negative:#E24949;
}

/* --- Dark Mode --- */
.dark-mode {
    /* [Radio - Basic] */
    --nds-color-text-radio-basic-default:#FFFFFF;
    --nds-color-border-radio-basic-default:#707070;
    --nds-color-bg-radio-basic-default:#707070;
    --nds-color-text-radio-basic-selected:#FFFFFF;
    --nds-color-border-radio-basic-selected:#3CBD61;
    --nds-color-bg-radio-basic-selected:#3CBD61;
    --nds-color-text-radio-basic-disabled:#A6A6A6;
    --nds-color-border-radio-basic-disabled:#505050;
    --nds-color-bg-radio-basic-disabled:#303030;
    --nds-color-bg-radio-basic-disabled-inner:#707070;
    --nds-color-text-radio-basic-selected-disabled:#FFFFFF;
    --nds-color-bg-radio-basic-selected-disabled:#929292;
    --nds-color-bg-radio-basic-selected-disabled-inner:#212121;

    /* [Radio - Box] */
    --nds-color-text-radio-box-default:#D9D9D9;
    --nds-color-border-radio-box-default:#707070;
    --nds-color-text-radio-box-selected:#3CBD61;
    --nds-color-border-radio-box-selected:#3CBD61;
    --nds-color-text-radio-box-disabled:#D9D9D9;
    --nds-color-border-radio-box-disabled:#707070;

    /* [Radio - Explain] */
    --nds-color-text-radio-explain-default:#FFFFFF;
    --nds-color-border-radio-explain-default:#707070;
    --nds-color-text-radio-explain-selected:#3CBD61;
    --nds-color-border-radio-explain-selected:#3CBD61;
    --nds-color-text-radio-explain-disabled:#D9D9D9;

    /* [Radio - Survey] */
    --nds-color-text-radio-survey-default:#D9D9D9;
    --nds-color-border-radio-survey-default:#707070;
    --nds-color-text-radio-survey-positive:#D9D9D9;
    --nds-color-border-radio-survey-positive:#3CBD61;
    --nds-color-text-radio-survey-negative:#D9D9D9;
    --nds-color-border-radio-survey-negative:#E24949;
}

/* ============================================================
   Component Style
   ============================================================ */
