/* ============================================================
   select.css
   ---------------------------------------------------------
   
   ========================================================= */
   
:root {
    /* [Select - Text] */
    --nds-color-text-select-inactive:#929292;
    --nds-color-text-select-filled:#121212;

    /* [Select - Border] */
    --nds-color-border-select-default:#E1E1E1;
    --nds-color-border-select-focus:#19973C;
    --nds-color-border-select-error:#E24949;

    /* [Select - Readonly] */
    --nds-color-text-select-readonly:#121212;
    --nds-color-bg-select-readonly:#F0F0F0;

    /* [Select - Disabled] */
    --nds-color-text-select-disabled:#121212;
    --nds-color-bg-select-disabled:#F0F0F0;
}

/* --- Dark Mode --- */
.dark-mode {
    /* [Select - Text] */
    --nds-color-text-select-inactive:#A6A6A6;
    --nds-color-text-select-filled:#FFFFFF;

    /* [Select - Border] */
    --nds-color-border-select-default:#505050;
    --nds-color-border-select-focus:#3CBD61;
    --nds-color-border-select-error:#E24949;

    /* [Select - Readonly] */
    --nds-color-text-select-readonly:#FFFFFF;
    --nds-color-bg-select-readonly:#404040;

    /* [Select - Disabled] */
    --nds-color-text-select-disabled:#FFFFFF;
    --nds-color-bg-select-disabled:#404040;
}