/* ============================================================
   toast.css
   ---------------------------------------------------------
   
   ========================================================= */
   
:root {
    /* [Toast - Basic] */
    --nds-color-text-toast-default:#FFFFFF;
    --nds-color-bg-toast-basic:#111111;
}

/* --- Dark Mode --- */
.dark-mode {
    /* [Toast - Basic] */
    --nds-color-text-toast-default:#121212;
    --nds-color-bg-toast-basic:#FFFFFF;
}